openapi: 3.2.0
info:
  title: Hubspot Multi Language API
  version: 2026-09
  x-refined-note:
  - x-hubspot-api-use-case differs across the merged source definitions and was not carried
  - x-hubspot-introduction differs across the merged source definitions and was not carried
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  description: 'Operations tagged Multi-language across 5 of this provider''s published API definitions: hubspot-cms-authors-openapi.json, hubspot-cms-blog-settings-openapi.json, hubspot-cms-pages-openapi.json, hubspot-cms-posts-openapi.json, hubspot-cms-tags-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hubapi.com
tags:
- name: Multi language
paths:
  /cms/blogs/2026-09/authors/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Attach a Blog Author to a multi-language group
      description: Attach a Blog Author to a multi-language group.
      operationId: post-/cms/blogs/2026-09/authors/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a new language variation
      description: Create a new language variation from an existing Blog Author.
      operationId: post-/cms/blogs/2026-09/authors/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogAuthorCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogAuthor'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Detach a Blog Author from a multi-language group
      description: Detach a Blog Author from a multi-language group.
      operationId: post-/cms/blogs/2026-09/authors/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/multi-language/set-new-lang-primary:
    put:
      tags:
      - Multi language
      summary: Set a new primary language
      description: Set a Blog Author as the primary language of a multi-language group.
      operationId: put-/cms/blogs/2026-09/authors/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update languages of multi-language group
      description: Explicitly set new languages for each Blog Author in a multi-language group.
      operationId: post-/cms/blogs/2026-09/authors/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Add a blog to a multi-language group
      description: Attach a blog to a multi-language group.
      operationId: post-/cms/blog-settings/2026-09/settings/multi-language/attach-to-lang-group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a language variation from an existing blog
      description: Create a new language variation from an existing blog.
      operationId: post-/cms/blog-settings/2026-09/settings/multi-language/create-language-variation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogLanguageCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Remove a blog from a multi-language group
      description: Detaches a blog from a multi-language group.
      operationId: post-/cms/blog-settings/2026-09/settings/multi-language/detach-from-lang-group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/multi-language/set-new-lang-primary:
    put:
      tags:
      - Multi language
      summary: Set primary language to match a specific blog
      description: Set a blog as the primary language of a multi-language group.
      operationId: put-/cms/blog-settings/2026-09/settings/multi-language/set-new-lang-primary
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update blog languages
      description: Explicitly set new languages for each blog in a multi-language group.
      operationId: post-/cms/blog-settings/2026-09/settings/multi-language/update-languages
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Add a landing page to a multi-language group
      description: Attach a landing page to a multi-language group.
      operationId: post-/cms/pages/2026-09/landing-pages/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a new language variation
      description: Create a new language variation from an existing landing page. The variation will be a copy of the draft state of the source page. To preview the content, you can retrieve the draft of the source landing page.
      operationId: post-/cms/pages/2026-09/landing-pages/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContentLanguageCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Remove a landing page from a multi-language group
      description: Detach a landing page from a multi-language group.
      operationId: post-/cms/pages/2026-09/landing-pages/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update languages of multi-language group
      description: Explicitly set new languages for each landing page in a multi-language group.
      operationId: post-/cms/pages/2026-09/landing-pages/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Add a website page to a multi-language group
      description: Attach a site page to a multi-language group.
      operationId: post-/cms/pages/2026-09/site-pages/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a new language variation
      description: Create a new language variation from an existing website page. The variation will be a copy of the draft state of the source page. To preview the content, you can retrieve the draft of the source website page.
      operationId: post-/cms/pages/2026-09/site-pages/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContentLanguageCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Remove a website page from a multi-language group
      description: Detach a website page from a multi-language group.
      operationId: post-/cms/pages/2026-09/site-pages/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/multi-language/set-new-lang-primary:
    put:
      tags:
      - Multi language
      summary: Set a new primary language
      description: Set a site page as the primary language of a multi-language group.
      operationId: put-/cms/pages/2026-09/site-pages/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update languages of multi-language group
      description: Explicitly set new languages for each site page in a multi-language group.
      operationId: post-/cms/pages/2026-09/site-pages/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Attach post to a multi-language group
      description: Attach a blog post to a multi-language group.
      operationId: post-/cms/blogs/2026-09/posts/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a language variation
      description: Create a new language variation from an existing blog post
      operationId: post-/cms/blogs/2026-09/posts/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogPostLanguageCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Detach post from a multi-language group
      description: Detach a blog post from a multi-language group.
      operationId: post-/cms/blogs/2026-09/posts/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/multi-language/set-new-lang-primary:
    put:
      tags:
      - Multi language
      summary: Set a new primary language
      description: Set the primary language of a multi-language group to the language of the provided post (specified as an ID in the request body)
      operationId: put-/cms/blogs/2026-09/posts/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update languages of multi-language group
      description: Explicitly set new languages for each post in a multi-language group.
      operationId: post-/cms/blogs/2026-09/posts/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/multi-language/attach-to-lang-group:
    post:
      tags:
      - Multi language
      summary: Attach a Blog Tag to a multi-language group
      description: Attach a Blog Tag to a multi-language group.
      operationId: post-/cms/blogs/2026-09/tags/multi-language/attach-to-lang-group_attachToLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AttachToLangPrimaryRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/multi-language/create-language-variation:
    post:
      tags:
      - Multi language
      summary: Create a new language variation
      description: Create a new language variation from an existing Blog Tag
      operationId: post-/cms/blogs/2026-09/tags/multi-language/create-language-variation_createLangVariation
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TagCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/multi-language/detach-from-lang-group:
    post:
      tags:
      - Multi language
      summary: Detach a Blog Tag from a multi-language group
      description: Detach a Blog Tag from a multi-language group.
      operationId: post-/cms/blogs/2026-09/tags/multi-language/detach-from-lang-group_detachFromLangGroup
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DetachFromLangGroupRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/multi-language/set-new-lang-primary:
    put:
      tags:
      - Multi language
      summary: Set a new primary language
      description: Set a Blog Tag as the primary language of a multi-language group.
      operationId: put-/cms/blogs/2026-09/tags/multi-language/set-new-lang-primary_setLangPrimary
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SetNewLanguagePrimaryRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/multi-language/update-languages:
    post:
      tags:
      - Multi language
      summary: Update languages of multi-language group
      description: Explicitly set new languages for each Blog Tag in a multi-language group.
      operationId: post-/cms/blogs/2026-09/tags/multi-language/update-languages_updateLangs
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateLanguagesRequestVNext'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
components:
  schemas:
    BlogAuthorCloneRequestVNext:
      required:
      - blogAuthor
      - id
      type: object
      properties:
        blogAuthor:
          $ref: '#/components/schemas/BlogAuthor'
        id:
          type: string
          description: ID of the object to be cloned.
        language:
          type: string
          description: Language of newly cloned object.
        primaryLanguage:
          type: string
          description: Primary language in multi-language group.
        usePublished:
          type: boolean
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    AttachToLangPrimaryRequestVNext:
      required:
      - id
      - language
      - primaryId
      type: object
      properties:
        id:
          type: string
          description: ID of the object to add to a multi-language group.
        language:
          type: string
          description: Designated language of the object to add to a multi-language group.
          enum:
          - aa
          - ab
          - ae
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - an
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - av
          - ay
          - az
          - az-az
          - ba
          - bal
          - bal-pk
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bgc
          - bgc-in
          - bho
          - bho-in
          - bi
          - blo
          - blo-bj
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - ceb
          - ceb-ph
          - cgg
          - cgg-ug
          - ch
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - co
          - cr
          - cs
          - cs-cz
          - csw
          - csw-ca
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dv
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-cz
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-eg
          - en-er
          - en-es
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gs
          - en-gu
          - en-gy
          - en-hk
          - en-hu
          - en-id
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-it
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-no
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pl
          - en-pn
          - en-pr
          - en-pt
          - en-pw
          - en-ro
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sk
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-th
          - en-tk
          - en-tn
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vn
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fj
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - frr
          - frr-de
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gaa
          - gaa-gh
          - gd
          - gd-gb
          - gl
          - gl-es
          - gn
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - he-il
          - he-il
          - hi
          - hi-in
          - hmn
          - ho
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - ht
          - ht-ht
          - hu
          - hu-hu
          - hy
          - hy-am
          - hz
          - ia
          - ia-001
          - id
          - id-id
          - ie
          - ie-ee
          - ig
          - ig-ng
          - ii
          - ii-cn
          - ik
          - io
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - iu
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kar
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kg
          - kgp
          - kgp-br
          - kh
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kj
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-cn
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - kr
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ku
          - ku-tr
          - kv
          - kw
          - kw-gb
          - kxv
          - kxv-in
          - ky
          - ky-kg
          - la
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - li
          - lij
          - lij-it
          - lkt
          - lkt-us
          - lmo
          - lmo-it
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mh
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mni
          - mni-in
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - na
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - ng
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - 'no'
          - no-no
          - nqo
          - nqo-gn
          - nr
          - nso
          - nso-za
          - nus
          - nus-ss
          - nv
          - ny
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - oj
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pi
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - raj
          - raj-in
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sa-in
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sat
          - sat-in
          - sbp
          - sbp-tz
          - sc
          - sc-it
          - sd
          - sd-in
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - sm
          - smn
          - smn-fi
          - sms
          - sms-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - ss
          - st
          - st-ls
          - st-za
          - su
          - su-id
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - syr
          - syr-iq
          - syr-sy
          - szl
          - szl-pl
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - tl
          - tn
          - tn-bw
          - tn-za
          - to
          - to-to
          - tok
          - tok-001
          - tr
          - tr-cy
          - tr-tr
          - ts
          - tt
          - tt-ru
          - tw
          - twq
          - twq-ne
          - ty
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - ve
          - vec
          - vec-it
          - vi
          - vi-vn
          - vmw
          - vmw-mz
          - vo
          - vo-001
          - vun
          - vun-tz
          - wa
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xh
          - xh-za
          - xnr
          - xnr-in
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yi
          - yi
          - yi-001
          - yi-ua
          - yo
          - yo-bj
          - yo-ng
          - yrl
          - yrl-br
          - yrl-co
          - yrl-ve
          - yue
          - yue-cn
          - yue-hk
          - yue-mo
          - za
          - za-cn
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hans
          - zh-hant
          - zh-hk
          - zh-mo
          - zh-my
          - zh-sg
          - zh-tw
          - zu
          - zu-za
        primaryId:
          type: string
          description: ID of primary language object in multi-language group.
        primaryLanguage:
          type: string
          description: Primary language of the multi-language group.
          enum:
          - aa
          - ab
          - ae
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - an
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - av
          - ay
          - az
          - az-az
          - ba
          - bal
          - bal-pk
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bgc
          - bgc-in
          - bho
          - bho-in
          - bi
          - blo
          - blo-bj
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - ceb
          - ceb-ph
          - cgg
          - cgg-ug
          - ch
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - co
          - cr
          - cs
          - cs-cz
          - csw
          - csw-ca
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dv
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-cz
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-eg
          - en-er
          - en-es
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gs
          - en-gu
          - en-gy
          - en-hk
          - en-hu
          - en-id
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-it
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-no
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pl
          - en-pn
          - en-pr
          - en-pt
          - en-pw
          - en-ro
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sk
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-th
          - en-tk
          - en-tn
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vn
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fj
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - frr
          - frr-de
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gaa
          - gaa-gh
          - gd
          - gd-gb
          - gl
          - gl-es
          - gn
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - he-il
          - hi
          - hi-in
          - hmn
          - ho
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - ht
          - ht-ht
          - hu
          - hu-hu
          - hy
          - hy-am
          - hz
          - ia
          - ia-001
          - id
          - id-id
          - ie
          - ie-ee
          - ig
          - ig-ng
          - ii
          - ii-cn
          - ik
          - io
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - iu
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kar
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kg
          - kgp
          - kgp-br
          - kh
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kj
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-cn
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - kr
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ku
          - ku-tr
          - kv
          - kw
          - kw-gb
          - kxv
          - kxv-in
          - ky
          - ky-kg
          - la
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - li
          - lij
          - lij-it
          - lkt
          - lkt-us
          - lmo
          - lmo-it
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mh
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mni
          - mni-in
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - na
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - ng
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - 'no'
          - no-no
          - nqo
          - nqo-gn
          - nr
          - nso
          - nso-za
          - nus
          - nus-ss
          - nv
          - ny
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - oj
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pi
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - raj
          - raj-in
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sa-in
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sat
          - sat-in
          - sbp
          - sbp-tz
          - sc
          - sc-it
          - sd
          - sd-in
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - sm
          - smn
          - smn-fi
          - sms
          - sms-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - ss
          - st
          - st-ls
          - st-za
          - su
          - su-id
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - syr
          - syr-iq
          - syr-sy
          - szl
          - szl-pl
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - tl
          - tn
          - tn-bw
          - tn-za
          - to
          - to-to
          - tok
          - tok-001
          - tr
          - tr-cy
          - tr-tr
          - ts
          - tt
          - tt-ru
          - tw
          - twq
          - twq-ne
          - ty
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - ve
          - vec
          - vec-it
          - vi
          - vi-vn
          - vmw
          - vmw-mz
          - vo
          - vo-001
          - vun
          - vun-tz
          - wa
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xh
          - xh-za
          - xnr
          - xnr-in
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yi
          - yi-001
          - yi-ua
          - yo
          - yo-bj
          - yo-ng
          - yrl
          - yrl-br
          - yrl-co
          - yrl-ve
          - yue
          - yue-cn
          - yue-hk
          - yue-mo
          - za
          - za-cn
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hans
          - zh-hant
          - zh-hk
          - zh-mo
          - zh-my
          - zh-sg
          - zh-tw
          - zu
          - zu-za
    UpdateLanguagesRequestVNext:
      required:
      - languages
      - primaryId
      type: object
      properties:
        languages:
          type: object
          additionalProperties:
            type: string
            enum:
            - aa
            - ab
            - ae
            - af
            - af-na
            - af-za
            - agq
            - agq-cm
            - ak
            - ak-gh
            - am
            - am-et
            - an
            - ann
            - ann-ng
            - ar
            - ar-001
            - ar-ae
            - ar-bh
            - ar-dj
            - ar-dz
            - ar-eg
            - ar-eh
            - ar-er
            - ar-il
            - ar-iq
            - ar-jo
            - ar-km
            - ar-kw
            - ar-lb
            - ar-ly
            - ar-ma
            - ar-mr
            - ar-om
            - ar-ps
            - ar-qa
            - ar-sa
            - ar-sd
            - ar-so
            - ar-ss
            - ar-sy
            - ar-td
            - ar-tn
            - ar-ye
            - as
            - asa
            - asa-tz
            - ast
            - ast-es
            - as-in
            - av
            - ay
            - az
            - az-az
            - ba
            - bal
            - bal-pk
            - bas
            - bas-cm
            - be
            - bem
            - bem-zm
            - bez
            - bez-tz
            - be-by
            - bg
            - bgc
            - bgc-in
            - bg-bg
            - bi
            - bho
            - bho-in
            - blo
            - blo-bj
            - bm
            - bm-ml
            - bn
            - bn-bd
            - bn-in
            - bo
            - bo-cn
            - bo-in
            - br
            - brx
            - brx-in
            - br-fr
            - bs
            - bs-ba
            - ca
            - ca-ad
            - ca-es
            - ca-fr
            - ca-it
            - ccp
            - ccp-bd
            - ccp-in
            - ce
            - ceb
            - ceb-ph
            - ce-ru
            - ch
            - cgg
            - cgg-ug
            - chr
            - chr-us
            - ckb
            - ckb-iq
            - ckb-ir
            - co
            - cr
            - cs
            - cs-cz
            - csw
            - csw-ca
            - cu
            - cu-ru
            - cv
            - cv-ru
            - cy
            - cy-gb
            - da
            - dav
            - dav-ke
            - da-dk
            - da-gl
            - de
            - de-at
            - de-be
            - de-ch
            - de-de
            - de-gr
            - de-it
            - de-li
            - de-lu
            - dje
            - dje-ne
            - doi
            - doi-in
            - dsb
            - dsb-de
            - dua
            - dua-cm
            - dyo
            - dyo-sn
            - dv
            - dz
            - dz-bt
            - ebu
            - ebu-ke
            - ee
            - ee-gh
            - ee-tg
            - el
            - el-cy
            - el-gr
            - en
            - en-001
            - en-150
            - en-ae
            - en-ag
            - en-ai
            - en-as
            - en-at
            - en-au
            - en-bb
            - en-be
            - en-bi
            - en-bm
            - en-bs
            - en-bw
            - en-bz
            - en-ca
            - en-cc
            - en-ch
            - en-ck
            - en-cm
            - en-cn
            - en-cx
            - en-cy
            - en-cz
            - en-de
            - en-dg
            - en-dk
            - en-dm
            - en-ee
            - en-eg
            - en-er
            - en-es
            - en-fi
            - en-fj
            - en-fk
            - en-fm
            - en-fr
            - en-gb
            - en-gd
            - en-gg
            - en-gh
            - en-gi
            - en-gm
            - en-gs
            - en-gu
            - en-gy
            - en-hk
            - en-hu
            - en-id
            - en-ie
            - en-il
            - en-im
            - en-in
            - en-io
            - en-it
            - en-je
            - en-jm
            - en-ke
            - en-ki
            - en-kn
            - en-ky
            - en-lc
            - en-lr
            - en-ls
            - en-lu
            - en-mg
            - en-mh
            - en-mo
            - en-mp
            - en-ms
            - en-mt
            - en-mu
            - en-mv
            - en-mw
            - en-mx
            - en-my
            - en-na
            - en-nf
            - en-ng
            - en-nl
            - en-no
            - en-nr
            - en-nu
            - en-nz
            - en-pg
            - en-ph
            - en-pk
            - en-pl
            - en-pn
            - en-pr
            - en-pt
            - en-pw
            - en-ro
            - en-rw
            - en-sb
            - en-sc
            - en-sd
            - en-se
            - en-sg
            - en-sh
            - en-si
            - en-sk
            - en-sl
            - en-ss
            - en-sx
            - en-sz
            - en-tc
            - en-th
            - en-tk
            - en-tn
            - en-to
            - en-tt
            - en-tv
            - en-tz
            - en-ug
            - en-um
            - en-us
            - en-vc
            - en-vg
            - en-vi
            - en-vn
            - en-vu
            - en-ws
            - en-za
            - en-zm
            - en-zw
            - eo
            - eo-001
            - es
            - es-419
            - es-ar
            - es-bo
            - es-br
            - es-bz
            - es-cl
            - es-co
            - es-cr
            - es-cu
            - es-do
            - es-ea
            - es-ec
            - es-es
            - es-gq
            - es-gt
            - es-hn
            - es-ic
            - es-mx
            - es-ni
            - es-pa
            - es-pe
            - es-ph
            - es-pr
            - es-py
            - es-sv
            - es-us
            - es-uy
            - es-ve
            - et
            - et-ee
            - eu
            - eu-es
            - ewo
            - ewo-cm
            - fa
            - fa-af
            - fa-ir
            - ff
            - ff-bf
            - ff-cm
            - ff-gh
            - ff-gm
            - ff-gn
            - ff-gw
            - ff-lr
            - ff-mr
            - ff-ne
            - ff-ng
            - ff-sl
            - ff-sn
            - fi
            - fil
            - fil-ph
            - fi-fi
            - fj
            - fo
            - fo-dk
            - fo-fo
            - fr
            - frr
            - frr-de
            - fr-be
            - fr-bf
            - fr-bi
            - fr-bj
            - fr-bl
            - fr-ca
            - fr-cd
            - fr-cf
            - fr-cg
            - fr-ch
            - fr-ci
            - fr-cm
            - fr-dj
            - fr-dz
            - fr-fr
            - fr-ga
            - fr-gf
            - fr-gn
            - fr-gp
            - fr-gq
            - fr-ht
            - fr-km
            - fr-lu
            - fr-ma
            - fr-mc
            - fr-mf
            - fr-mg
            - fr-ml
            - fr-mq
            - fr-mr
            - fr-mu
            - fr-nc
            - fr-ne
            - fr-pf
            - fr-pm
            - fr-re
            - fr-rw
            - fr-sc
            - fr-sn
            - fr-sy
            - fr-td
            - fr-tg
            - fr-tn
            - fr-vu
            - fr-wf
            - fr-yt
            - fur
            - fur-it
            - fy
            - fy-nl
            - ga
            - ga-gb
            - ga-ie
            - gaa
            - gaa-gh
            - gd
            - gd-gb
            - gl
            - gl-es
            - gn
            - gsw
            - gsw-ch
            - gsw-fr
            - gsw-li
            - gu
            - guz
            - guz-ke
            - gu-in
            - gv
            - gv-im
            - ha
            - haw
            - haw-us
            - ha-gh
            - ha-ne
            - ha-ng
            - he
            - he-il
            - hi
            - hi-in
            - hmn
            - ho
            - hr
            - hr-ba
            - hr-hr
            - ht
            - ht-ht
            - hsb
            - hsb-de
            - hu
            - hu-hu
            - hy
            - hy-am
            - hz
            - ia
            - ia-001
            - id
            - ie
            - ie-ee
            - ig
            - ig-ng
            - ii
            - ii-cn
            - ik
            - io
            - id-id
            - is
            - is-is
            - it
            - it-ch
            - it-it
            - it-sm
            - it-va
            - iu
            - ja
            - ja-jp
            - jgo
            - jgo-cm
            - yi
            - yi-001
            - jmc
            - jmc-tz
            - jv
            - jv-id
            - ka
            - kab
            - kab-dz
            - kam
            - kam-ke
            - kar
            - ka-ge
            - kde
            - kde-tz
            - kea
            - kea-cv
            - kgp
            - kgp-br
            - kg
            - kh
            - khq
            - khq-ml
            - ki
            - ki-ke
            - kj
            - kk
            - kkj
            - kkj-cm
            - kk-kz
            - kl
            - kln
            - kln-ke
            - kl-gl
            - km
            - km-kh
            - kn
            - kn-in
            - ko
            - ko-cn
            - kok
            - kok-in
            - ko-kp
            - ko-kr
            - kr
            - ks
            - ksb
            - ksb-tz
            - ksf
            - ksf-cm
            - ksh
            - ksh-de
            - ks-in
            - ku
            - ku-tr
            - kv
            - kw
            - kw-gb
            - kxv
            - kxv-in
            - ky
            - ky-kg
            - lag
            - lag-tz
            - la
            - lb
            - lb-lu
            - lg
            - lg-ug
            - lkt
            - lkt-us
            - li
            - lij
            - lij-it
            - lmo
            - lmo-it
            - ln
            - ln-ao
            - ln-cd
            - ln-cf
            - ln-cg
            - lo
            - lo-la
            - lrc
            - lrc-iq
            - lrc-ir
            - lt
            - lt-lt
            - lu
            - luo
            - luo-ke
            - luy
            - luy-ke
            - lu-cd
            - lv
            - lv-lv
            - mai
            - mai-in
            - mas
            - mas-ke
            - mas-tz
            - mdf
            - mdf-ru
            - mer
            - mer-ke
            - mfe
            - mfe-mu
            - mg
            - mgh
            - mgh-mz
            - mgo
            - mgo-cm
            - mg-mg
            - mh
            - mi
            - mi-nz
            - mk
            - mk-mk
            - ml
            - ml-in
            - mn
            - mni
            - mni-in
            - mn-mn
            - mr
            - mr-in
            - ms
            - ms-bn
            - ms-id
            - ms-my
            - ms-sg
            - mt
            - mt-mt
            - mua
            - mua-cm
            - my
            - my-mm
            - mzn
            - mzn-ir
            - naq
            - naq-na
            - na
            - nb
            - nb-no
            - nb-sj
            - nd
            - nds
            - nds-de
            - nds-nl
            - nd-zw
            - ne
            - ne-in
            - ne-np
            - ng
            - nl
            - nl-aw
            - nl-be
            - nl-bq
            - nl-ch
            - nl-cw
            - nl-lu
            - nl-nl
            - nl-sr
            - nl-sx
            - nmg
            - nmg-cm
            - nn
            - nnh
            - nnh-cm
            - nn-no
            - nqo
            - nqo-gn
            - nr
            - nso
            - nso-za
            - nv
            - ny
            - 'no'
            - no-no
            - nus
            - nus-ss
            - nyn
            - nyn-ug
            - oc
            - oc-es
            - oc-fr
            - oj
            - om
            - om-et
            - om-ke
            - or
            - or-in
            - os
            - os-ge
            - os-ru
            - pa
            - pa-in
            - pa-pk
            - pcm
            - pcm-ng
            - pis
            - pis-sb
            - pi
            - pl
            - pl-pl
            - prg
            - prg-001
            - ps
            - ps-af
            - ps-pk
            - pt
            - pt-ao
            - pt-br
            - pt-ch
            - pt-cv
            - pt-gq
            - pt-gw
            - pt-lu
            - pt-mo
            - pt-mz
            - pt-pt
            - pt-st
            - pt-tl
            - qu
            - qu-bo
            - qu-ec
            - qu-pe
            - raj
            - raj-in
            - rm
            - rm-ch
            - rn
            - rn-bi
            - ro
            - rof
            - rof-tz
            - ro-md
            - ro-ro
            - ru
            - ru-by
            - ru-kg
            - ru-kz
            - ru-md
            - ru-ru
            - ru-ua
            - rw
            - rwk
            - rwk-tz
            - rw-rw
            - sa
            - sah
            - sah-ru
            - saq
            - saq-ke
            - sat
            - sat-in
            - sa-in
            - sbp
            - sbp-tz
            - sc
            - sc-it
            - sd
            - sd-in
            - sd-pk
            - se
            - seh
            - seh-mz
            - ses
            - ses-ml
            - se-fi
            - se-no
            - se-se
            - sg
            - sg-cf
            - shi
            - shi-ma
            - si
            - si-lk
            - sk
            - sk-sk
            - sl
            - sl-si
            - sm
            - smn
            - smn-fi
            - sms
            - sms-fi
            - sn
            - sn-zw
            - so
            - so-dj
            - so-et
            - so-ke
            - so-so
            - sq
            - sq-al
            - sq-mk
            - sq-xk
            - sr
            - sr-ba
            - sr-cs
            - sr-me
            - sr-rs
            - sr-xk
            - ss
            - st
            - st-ls
            - st-za
            - su
            - su-id
            - sv
            - sv-ax
            - sv-fi
            - sv-se
            - sw
            - sw-cd
            - sw-ke
            - sw-tz
            - sw-ug
            - sy
            - syr
            - syr-iq
            - syr-sy
            - szl
            - szl-pl
            - ta
            - ta-in
            - ta-lk
            - ta-my
            - ta-sg
            - te
            - teo
            - teo-ke
            - teo-ug
            - te-in
            - tg
            - tg-tj
            - th
            - th-th
            - ti
            - ti-er
            - ti-et
            - tk
            - tk-tm
            - tl
            - tn
            - tn-bw
            - tn-za
            - to
            - tok
            - tok-001
            - to-to
            - ts
            - tr
            - tr-cy
            - tr-tr
            - tt
            - tt-ru
            - tw
            - ty
            - twq
            - twq-ne
            - tzm
            - tzm-ma
            - ug
            - ug-cn
            - uk
            - uk-ua
            - ur
            - ur-in
            - ur-pk
            - uz
            - uz-af
            - uz-uz
            - vai
            - vai-lr
            - ve
            - vec
            - vec-it
            - vi
            - vi-vn
            - vmw
            - vmw-mz
            - vo
            - vo-001
            - vun
            - vun-tz
            - wa
            - wae
            - wae-ch
            - wo
            - wo-sn
            - xh
            - xh-za
            - xnr
            - xnr-in
            - xog
            - xog-ug
            - yav
            - yav-cm
            - yi-ua
            - yo
            - yo-bj
            - yo-ng
            - yrl
            - yrl-br
            - yrl-co
            - yrl-ve
            - yue
            - yue-cn
            - yue-hk
            - yue-mo
            - zgh
            - zgh-ma
            - za
            - za-cn
            - zh
            - zh-cn
            - zh-hans
            - zh-hant
            - zh-hk
            - zh-mo
            - zh-my
            - zh-sg
            - zh-tw
            - zu
            - zu-za
          description: Map of object IDs to associated languages of object in the multi-language group.
        primaryId:
          type: string
          description: ID of the primary object in the multi-language group.
    SetNewLanguagePrimaryRequestVNext:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: ID of object to set as primary in multi-language group.
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BlogAuthor:
      required:
      - avatar
      - bio
      - created
      - deletedAt
      - displayName
      - email
      - facebook
      - fullName
      - id
      - language
      - linkedin
      - name
      - slug
      - translatedFromId
      - twitter
      - updated
      - website
      type: object
      properties:
        avatar:
          type: string
          description: URL to the blog author's avatar, if supplying a custom one.
        bio:
          type: string
          description: A short biography of the blog author.
        created:
          type: string
          description: The timestamp (ISO8601 format) when this Blog Author was created.
          format: date-time
        deletedAt:
          type: string
          description: The timestamp (ISO8601 format) when this Blog Author was deleted.
          format: date-time
        displayName:
          type: string
          description: The full name of the Blog Author to be displayed.
        email:
          type: string
          description: Email address of the Blog Author.
        facebook:
          type: string
          description: URL to the Blog Author's Facebook page.
        fullName:
          type: string
          description: The full, unabbreviated name of the blog author, typically their first and last name combined.
        id:
          type: string
          description: The unique ID of the Blog Author.
        language:
          type: string
          description: The explicitly defined ISO 639 language code of the blog author.
          enum:
          - aa
          - ab
          - ae
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - an
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - av
          - ay
          - az
          - az-az
          - ba
          - bal
          - bal-pk
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bgc
          - bgc-in
          - bho
          - bho-in
          - bi
          - blo
          - blo-bj
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - ceb
          - ceb-ph
          - cgg
          - cgg-ug
          - ch
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - co
          - cr
          - cs
          - cs-cz
          - csw
          - csw-ca
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dv
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-cz
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-eg
          - en-er
          - en-es
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gs
          - en-gu
          - en-gy
          - en-hk
          - en-hu
          - en-id
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-it
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-no
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pl
          - en-pn
          - en-pr
          - en-pt
          - en-pw
          - en-ro
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sk
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-th
          - en-tk
          - en-tn
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vn
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fj
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - frr
          - frr-de
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gaa
          - gaa-gh
          - gd
          - gd-gb
          - gl
          - gl-es
          - gn
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - he-il
          - hi
          - hi-in
          - hmn
          - ho
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - ht
          - ht-ht
          - hu
          - hu-hu
          - hy
          - hy-am
          - hz
          - ia
          - ia-001
          - id
          - id-id
          - ie
          - ie-ee
          - ig
          - ig-ng
          - ii
          - ii-cn
          - ik
          - io
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - iu
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - jmc
          - jmc-tz
          - jv
          - jv-id
          - ka
          - ka-ge
          - kab
          - kab-dz
          - kam
          - kam-ke
          - kar
          - kde
          - kde-tz
          - kea
          - kea-cv
          - kg
          - kgp
          - kgp-br
          - kh
          - khq
          - khq-ml
          - ki
          - ki-ke
          - kj
          - kk
          - kk-kz
          - kkj
          - kkj-cm
          - kl
          - kl-gl
          - kln
          - kln-ke
          - km
          - km-kh
          - kn
          - kn-in
          - ko
          - ko-cn
          - ko-kp
          - ko-kr
          - kok
          - kok-in
          - kr
          - ks
          - ks-in
          - ksb
          - ksb-tz
          - ksf
          - ksf-cm
          - ksh
          - ksh-de
          - ku
          - ku-tr
          - kv
          - kw
          - kw-gb
          - kxv
          - kxv-in
          - ky
          - ky-kg
          - la
          - lag
          - lag-tz
          - lb
          - lb-lu
          - lg
          - lg-ug
          - li
          - lij
          - lij-it
          - lkt
          - lkt-us
          - lmo
          - lmo-it
          - ln
          - ln-ao
          - ln-cd
          - ln-cf
          - ln-cg
          - lo
          - lo-la
          - lrc
          - lrc-iq
          - lrc-ir
          - lt
          - lt-lt
          - lu
          - lu-cd
          - luo
          - luo-ke
          - luy
          - luy-ke
          - lv
          - lv-lv
          - mai
          - mai-in
          - mas
          - mas-ke
          - mas-tz
          - mdf
          - mdf-ru
          - mer
          - mer-ke
          - mfe
          - mfe-mu
          - mg
          - mg-mg
          - mgh
          - mgh-mz
          - mgo
          - mgo-cm
          - mh
          - mi
          - mi-nz
          - mk
          - mk-mk
          - ml
          - ml-in
          - mn
          - mn-mn
          - mni
          - mni-in
          - mr
          - mr-in
          - ms
          - ms-bn
          - ms-id
          - ms-my
          - ms-sg
          - mt
          - mt-mt
          - mua
          - mua-cm
          - my
          - my-mm
          - mzn
          - mzn-ir
          - na
          - naq
          - naq-na
          - nb
          - nb-no
          - nb-sj
          - nd
          - nd-zw
          - nds
          - nds-de
          - nds-nl
          - ne
          - ne-in
          - ne-np
          - ng
          - nl
          - nl-aw
          - nl-be
          - nl-bq
          - nl-ch
          - nl-cw
          - nl-lu
          - nl-nl
          - nl-sr
          - nl-sx
          - nmg
          - nmg-cm
          - nn
          - nn-no
          - nnh
          - nnh-cm
          - 'no'
          - no-no
          - nqo
          - nqo-gn
          - nr
          - nso
          - nso-za
          - nus
          - nus-ss
          - nv
          - ny
          - nyn
          - nyn-ug
          - oc
          - oc-es
          - oc-fr
          - oj
          - om
          - om-et
          - om-ke
          - or
          - or-in
          - os
          - os-ge
          - os-ru
          - pa
          - pa-in
          - pa-pk
          - pcm
          - pcm-ng
          - pi
          - pis
          - pis-sb
          - pl
          - pl-pl
          - prg
          - prg-001
          - ps
          - ps-af
          - ps-pk
          - pt
          - pt-ao
          - pt-br
          - pt-ch
          - pt-cv
          - pt-gq
          - pt-gw
          - pt-lu
          - pt-mo
          - pt-mz
          - pt-pt
          - pt-st
          - pt-tl
          - qu
          - qu-bo
          - qu-ec
          - qu-pe
          - raj
          - raj-in
          - rm
          - rm-ch
          - rn
          - rn-bi
          - ro
          - ro-md
          - ro-ro
          - rof
          - rof-tz
          - ru
          - ru-by
          - ru-kg
          - ru-kz
          - ru-md
          - ru-ru
          - ru-ua
          - rw
          - rw-rw
          - rwk
          - rwk-tz
          - sa
          - sa-in
          - sah
          - sah-ru
          - saq
          - saq-ke
          - sat
          - sat-in
          - sbp
          - sbp-tz
          - sc
          - sc-it
          - sd
          - sd-in
          - sd-pk
          - se
          - se-fi
          - se-no
          - se-se
          - seh
          - seh-mz
          - ses
          - ses-ml
          - sg
          - sg-cf
          - shi
          - shi-ma
          - si
          - si-lk
          - sk
          - sk-sk
          - sl
          - sl-si
          - sm
          - smn
          - smn-fi
          - sms
          - sms-fi
          - sn
          - sn-zw
          - so
          - so-dj
          - so-et
          - so-ke
          - so-so
          - sq
          - sq-al
          - sq-mk
          - sq-xk
          - sr
          - sr-ba
          - sr-cs
          - sr-me
          - sr-rs
          - sr-xk
          - ss
          - st
          - st-ls
          - st-za
          - su
          - su-id
          - sv
          - sv-ax
          - sv-fi
          - sv-se
          - sw
          - sw-cd
          - sw-ke
          - sw-tz
          - sw-ug
          - sy
          - syr
          - syr-iq
          - syr-sy
          - szl
          - szl-pl
          - ta
          - ta-in
          - ta-lk
          - ta-my
          - ta-sg
          - te
          - te-in
          - teo
          - teo-ke
          - teo-ug
          - tg
          - tg-tj
          - th
          - th-th
          - ti
          - ti-er
          - ti-et
          - tk
          - tk-tm
          - tl
          - tn
          - tn-bw
          - tn-za
          - to
          - to-to
          - tok
          - tok-001
          - tr
          - tr-cy
          - tr-tr
          - ts
          - tt
          - tt-ru
          - tw
          - twq
          - twq-ne
          - ty
          - tzm
          - tzm-ma
          - ug
          - ug-cn
          - uk
          - uk-ua
          - ur
          - ur-in
          - ur-pk
          - uz
          - uz-af
          - uz-uz
          - vai
          - vai-lr
          - ve
          - vec
          - vec-it
          - vi
          - vi-vn
          - vmw
          - vmw-mz
          - vo
          - vo-001
          - vun
          - vun-tz
          - wa
          - wae
          - wae-ch
          - wo
          - wo-sn
          - xh
          - xh-za
          - xnr
          - xnr-in
          - xog
          - xog-ug
          - yav
          - yav-cm
          - yi
          - yi-001
          - yi-ua
          - yo
          - yo-bj
          - yo-ng
          - yrl
          - yrl-br
          - yrl-co
          - yrl-ve
          - yue
          - yue-cn
          - yue-hk
          - yue-mo
          - za
          - za-cn
          - zgh
          - zgh-ma
          - zh
          - zh-cn
          - zh-hans
          - zh-hant
          - zh-hk
          - zh-mo
          - zh-my
          - zh-sg
          - zh-tw
          - zu
          - zu-za
        linkedin:
          type: string
          description: URL to the blog author's LinkedIn page.
        name:
          type: string
          description: The name field for the blog author. (This appears to be a shorter or alternative name field compared to fullName.)
        slug:
          type: string
          description: A URL-friendly identifier for the blog author that can be used to reference the author in URLs. Typically generated from the author's name and contains lowercase letters, hyphens, and underscores.
        translatedFromId:
          type: integer
          description: ID of the primary blog author this object was translated from.
          format: int64
        twitter:
          type: string
          description: URL or username of the Twitter account associated with the Blog Author. This will be normalized into the Twitter url for said user.
        updated:
          type: string
          description: The timestamp (ISO8601 format) when this Blog Author was updated.
          format: date-time
        website:
          type: string
          description: URL to the website of the Blog Author.
    DetachFromLangGroupRequestVNext:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: ID of the object to remove from a multi-language group.
    BlogLanguageCloneRequestVNext:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: ID of blog to clone.
        language:
          type: string
          description: Target language of new variant.
        primaryLanguage:
          type: string
          description: Language of primary blog to clone.
        slug:
          type: string
          description: Path to this blog.
        usePublished:
          type: boolean
    PublicAccessRule:
      type: object
      properties: {}
    Blog:
      required:
      - absoluteUrl
      - allowComments
      - created
      - deletedAt
      - description
      - htmlTitle
      - id
      - language
      - listingPageId
      - name
      - publicAccessRules
      - publicAccessRulesEnabled
      - publicTitle
      - slug
      - translatedFromId
      - updated
      type: object
      properties:
        absoluteUrl:
          type: string
          description: Blog's root URL
        allowComments:
          type: boolean
          description: Boolean determining whether or not this blog allows public comments.
        created:
          type: string
          description: The timestamp (ISO8601 format) when this blog was created.
          format: date-time
        deletedAt:
          type: string
          description: The timestamp (ISO8601 format) when this Blog was deleted.
          format: date-time
        description:
          type: string
          description: The Description of this Blog.
        htmlTitle:
          type: string
          description: The html title of this Blog.
        id:
          type: string
          description: The unique ID of the Blog.
        language:
          type: string
          description: The explicitly defined language of the Blog. If null, the Blog will default to the language of the Domain.
          enum:
          - aa
          - ab
          - ae
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - an
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - av
          - ay
          - az
          - az-az
          - ba
          - bal
          - bal-pk
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bgc
          - bgc-in
          - bho
          - bho-in
          - bi
          - blo
          - blo-bj
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - ceb
          - ceb-ph
          - cgg
          - cgg-ug
          - ch
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - co
          - cr
          - cs
          - cs-cz
          - csw
          - csw-ca
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
[...]
