openapi: 3.1.0
info:
  title: HubSpot CRM Companies API
  description: >-
    Company records store data about businesses and organizations. The companies
    endpoints allow you to manage this data and sync it between HubSpot and
    other systems, including creating, retrieving, updating, and deleting company
    records and managing their associations.
  version: v3
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com/
servers:
- url: https://api.hubapi.com
  description: HubSpot API
security:
- oauth2: []
tags:
- name: Companies
  description: Operations for managing company records
- name: Batch
  description: Batch operations for companies
- name: Associations
  description: Operations for managing company associations
paths:
  /crm/v3/objects/companies:
    get:
      operationId: listCompanies
      summary: List companies
      description: >-
        Returns a page of company records. Use the limit and after parameters
        to paginate through companies. You can also specify which properties
        to return using the properties parameter.
      tags:
      - Companies
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to return per page.
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: after
        in: query
        description: The cursor for pagination to get the next page of results.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived companies.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with a list of companies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseCompany'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCompany
      summary: Create a company
      description: >-
        Creates a new company record with the provided properties. The request
        body should include a properties object containing the field values
        for the company you want to create.
      tags:
      - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '201':
          description: Company created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/{companyId}:
    get:
      operationId: getCompany
      summary: Get a company
      description: >-
        Returns a single company record by its ID. You can specify which
        properties to return using the properties parameter.
      tags:
      - Companies
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company to retrieve.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived companies.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with the company record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCompany
      summary: Update a company
      description: >-
        Performs a partial update of a company record. Only the properties
        included in the request body will be updated; other properties will
        remain unchanged.
      tags:
      - Companies
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company to update.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '200':
          description: Company updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCompany
      summary: Archive a company
      description: >-
        Archives (soft deletes) a company record by its ID. Archived companies
        can be restored using the HubSpot UI or API. This does not permanently
        delete the company from HubSpot.
      tags:
      - Companies
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company to archive.
        schema:
          type: string
      responses:
        '204':
          description: Company archived successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/companies/batch/read:
    post:
      operationId: batchReadCompanies
      summary: Batch read companies
      description: >-
        Reads a batch of company records by their IDs or unique property values.
        Useful for retrieving multiple companies in a single API call instead
        of making individual requests.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
      responses:
        '200':
          description: Batch read completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseCompany'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/batch/create:
    post:
      operationId: batchCreateCompanies
      summary: Batch create companies
      description: >-
        Creates multiple company records in a single API call. The request
        body should include an array of company property objects.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
      responses:
        '201':
          description: Companies created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseCompany'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/batch/update:
    post:
      operationId: batchUpdateCompanies
      summary: Batch update companies
      description: >-
        Updates multiple company records in a single API call. Each record
        in the request must include the company ID and the properties to update.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateInput'
      responses:
        '200':
          description: Companies updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseCompany'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/batch/archive:
    post:
      operationId: batchArchiveCompanies
      summary: Batch archive companies
      description: >-
        Archives multiple company records in a single API call by their IDs.
        Archived companies can be restored using the HubSpot UI or API.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveInput'
      responses:
        '204':
          description: Companies archived successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/search:
    post:
      operationId: searchCompanies
      summary: Search companies
      description: >-
        Searches for company records using filter groups, sorts, and other
        query parameters. Supports complex filtering with multiple filter
        groups and operators for precise record retrieval.
      tags:
      - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseCompany'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/companies/{companyId}/associations/{toObjectType}:
    get:
      operationId: listCompanyAssociations
      summary: List company associations
      description: >-
        Returns all associations of a company record to objects of a specified
        type, such as contacts, deals, or tickets.
      tags:
      - Associations
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of associated object (e.g., contacts, deals, tickets).
        schema:
          type: string
      responses:
        '200':
          description: List of associations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/companies/{companyId}/associations/{toObjectType}/{toObjectId}/{associationType}:
    put:
      operationId: createCompanyAssociation
      summary: Create a company association
      description: >-
        Creates an association between a company and another CRM object record.
        The association type specifies the relationship between the objects.
      tags:
      - Associations
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the object to associate with.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the object to associate with.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to create.
        schema:
          type: string
      responses:
        '200':
          description: Association created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCompanyAssociation
      summary: Delete a company association
      description: >-
        Removes an association between a company and another CRM object record.
        This does not delete the company or the associated object, only the
        relationship between them.
      tags:
      - Associations
      parameters:
      - name: companyId
        in: path
        required: true
        description: The ID of the company.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the associated object.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the associated object.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to delete.
        schema:
          type: string
      responses:
        '204':
          description: Association deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    oauth2:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (access token from OAuth flow)
  schemas:
    Company:
      type: object
      description: A HubSpot company record.
      properties:
        id:
          type: string
          description: The unique identifier for the company.
        properties:
          type: object
          description: The company's properties as key-value pairs.
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: The date and time the company was created.
        updatedAt:
          type: string
          format: date-time
          description: The date and time the company was last updated.
        archived:
          type: boolean
          description: Whether the company has been archived.
        associations:
          type: object
          description: The company's associations with other CRM objects.
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociation'
    CollectionResponseCompany:
      type: object
      description: A paginated list of company records.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        paging:
          $ref: '#/components/schemas/Paging'
    BatchResponseCompany:
      type: object
      description: Results from a batch operation on companies.
      properties:
        status:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        completedAt:
          type: string
          format: date-time
    SimplePublicObjectInput:
      type: object
      description: Input for creating or updating a CRM object.
      properties:
        properties:
          type: object
          description: The properties to set on the object.
          additionalProperties:
            type: string
    BatchReadInput:
      type: object
      description: Input for a batch read operation.
      properties:
        properties:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    BatchCreateInput:
      type: object
      description: Input for a batch create operation.
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
    BatchUpdateInput:
      type: object
      description: Input for a batch update operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                additionalProperties:
                  type: string
    BatchArchiveInput:
      type: object
      description: Input for a batch archive operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    SearchRequest:
      type: object
      description: A search request for CRM objects.
      properties:
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
              direction:
                type: string
                enum: [ASCENDING, DESCENDING]
        query:
          type: string
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
          maximum: 200
        after:
          type: string
    FilterGroup:
      type: object
      description: A group of filters combined with AND logic.
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      description: A single filter condition.
      properties:
        propertyName:
          type: string
        operator:
          type: string
          enum: [EQ, NEQ, LT, LTE, GT, GTE, BETWEEN, IN, NOT_IN, HAS_PROPERTY, NOT_HAS_PROPERTY, CONTAINS_TOKEN, NOT_CONTAINS_TOKEN]
        value:
          type: string
    Association:
      type: object
      description: An association between two CRM objects.
      properties:
        id:
          type: string
        type:
          type: string
    CollectionResponseAssociation:
      type: object
      description: A list of associations.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      description: Pagination information.
      properties:
        next:
          type: object
          properties:
            after:
              type: string
    Error:
      type: object
      description: An error response.
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is invalid or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
