openapi: 3.2.0
info:
  title: Marketing Marketing Events Subscriber State Changes API
  description: Basepom for all HubSpot Projects
  version: 2026-09
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Subscriber State Changes
paths:
  /marketing/marketing-events/2026-09/events/{externalEventId}/{subscriberState}/email-upsert:
    post:
      tags:
      - Subscriber State Changes
      summary: Record a subscriber state by contact email
      description: Record a subscriber state between multiple HubSpot contacts and a marketing event, using contact email addresses. Note that the contact must already exist in HubSpot; a contact will not be created. The contactProperties field is used only when creating a new contact. These properties will not update existing contacts.
      operationId: post-/marketing/marketing-events/2026-09/events/{externalEventId}/{subscriberState}/email-upsert_upsertByContactEmail
      parameters:
      - name: externalEventId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: externalAccountId
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventEmailSubscriber'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
  /marketing/marketing-events/2026-09/events/{externalEventId}/{subscriberState}/upsert:
    post:
      tags:
      - Subscriber State Changes
      summary: Record a subscriber state by contact ID
      description: Record a subscriber state between multiple HubSpot contacts and a marketing event, using HubSpot contact IDs. Note that the contact must already exist in HubSpot; a contact will not be created.
      operationId: post-/marketing/marketing-events/2026-09/events/{externalEventId}/{subscriberState}/upsert_upsertByContactId
      parameters:
      - name: externalEventId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: externalAccountId
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventSubscriber'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
components:
  schemas:
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    BatchInputMarketingEventEmailSubscriber:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          description: List of marketing event details to create or update
          items:
            $ref: '#/components/schemas/MarketingEventEmailSubscriber'
    BatchInputMarketingEventSubscriber:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          description: List of HubSpot contacts to subscribe to the marketing event
          items:
            $ref: '#/components/schemas/MarketingEventSubscriber'
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    MarketingEventEmailSubscriber:
      required:
      - contactProperties
      - email
      - interactionDateTime
      - properties
      type: object
      properties:
        contactProperties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set that contains properties of the contact.
        email:
          type: string
          description: The email address of the contact in HubSpot to associate with the event.
        interactionDateTime:
          type: integer
          description: Timestamp in milliseconds at which the contact subscribed to the event.
          format: int64
        properties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set that contains properties of the marketing event.
    MarketingEventSubscriber:
      required:
      - interactionDateTime
      - properties
      - vid
      type: object
      properties:
        interactionDateTime:
          type: integer
          description: Timestamp in milliseconds at which the contact subscribed to the event.
          format: int64
        properties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set of the properties of the contact
        vid:
          type: integer
          description: The ID of the contact in HubSpot
          format: int64
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            crm.objects.marketing_events.read: ''
            crm.objects.marketing_events.write: ''
            developers-read: ''
            developers-write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
- Node
- Python
- Ruby
- PHP
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
