openapi: 3.2.0
info:
  title: Hubspot Basic API
  x-refined-note:
  - x-hubspot-api-use-case differs across the merged source definitions and was not carried
  - x-hubspot-introduction differs across the merged source definitions and was not carried
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  - x-hubspot-related-documentation differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Basic across 93 of this provider''s published API definitions: hubspot-account-account-info-openapi.json, hubspot-automation-email-templates-openapi.json, hubspot-automation-sequences-openapi.json, hubspot-business-units-business-units-openapi.json, hubspot-cms-authors-openapi.json, hubspot-cms-blog-settings-openapi.json, hubspot-cms-cms-content-audit-openapi.json, hubspot-cms-domains-openapi.json, hubspot-cms-media-bridge-openapi.json, hubspot-cms-pages-openapi.json…'
servers:
- url: https://api.hubapi.com
- url: https://private.hubapi.com
tags:
- name: Basic
paths:
  /account-info/2026-09/activity/audit-logs:
    get:
      tags:
      - Basic
      summary: Retrieve audit logs
      description: Retrieve audit logs for user actions within the account. This endpoint allows you to filter logs based on various criteria such as time range, user ID, and sorting preferences. It is useful for monitoring and reviewing user activities for security and compliance purposes.
      operationId: get-/account-info/2026-09/activity/audit-logs
      parameters:
      - name: actingUserId
        in: query
        description: An array of user IDs to filter the audit logs by the acting user.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: after
        in: query
        description: A cursor token for pagination. Use the value from the previous response's paging.next.after field to retrieve the next set of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fillFinalTimestamp
        in: query
        description: A boolean indicating whether to fill the final timestamp in the response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: occurredAfter
        in: query
        description: Filter logs to include only those that occurred after this date-time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: occurredBefore
        in: query
        description: Filter logs to include only those that occurred before this date-time.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        description: An array specifying the sort order of the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - account-info.security.read
    servers:
    - url: https://api.hubapi.com
  /account-info/2026-09/activity/login:
    get:
      tags:
      - Basic
      summary: Retrieve Logins
      description: Retrieve login activity for users in your HubSpot account. This endpoint provides access to login audit logs, allowing you to track user login events. It supports pagination and filtering by user ID.
      operationId: get-/account-info/2026-09/activity/login
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        description: The unique identifier of the user whose login activity is being retrieved.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - account-info.security.read
    servers:
    - url: https://api.hubapi.com
  /account-info/2026-09/activity/security:
    get:
      tags:
      - Basic
      summary: Retrieve security activity
      description: Retrieve critical security-related activities for your account. This endpoint allows you to filter activities by user and time range, helping you monitor and audit important security events.
      operationId: get-/account-info/2026-09/activity/security
      parameters:
      - name: after
        in: query
        description: The paging cursor token for retrieving the next set of results. Use the value from the previous response's paging.next.after field.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fromTimestamp
        in: query
        description: The start of the time range for the activities to be retrieved, specified as a Unix timestamp.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: The maximum number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: toTimestamp
        in: query
        description: The end of the time range for the activities to be retrieved, specified as a Unix timestamp.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: userId
        in: query
        description: The unique identifier of the user whose activities you want to retrieve.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - account-info.security.read
    servers:
    - url: https://api.hubapi.com
  /account-info/2026-09/api-usage/daily/private-apps:
    get:
      tags:
      - Basic
      summary: Retrieve API Usage
      description: Retrieve the daily API usage for private apps in the account. This endpoint provides insights into the API consumption patterns, helping users monitor and manage their API usage effectively.
      operationId: get-/account-info/2026-09/api-usage/daily/private-apps
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseApiUsageNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - external-settings-access
    servers:
    - url: https://api.hubapi.com
  /account-info/2026-09/details:
    get:
      tags:
      - Basic
      summary: Retrieve details
      description: Retrieve detailed information about the account associated with the HubSpot portal. This endpoint provides insights into the account type, time zone, currency settings, and data hosting location. It is useful for obtaining a comprehensive overview of the account's configuration and settings.
      operationId: get-/account-info/2026-09/details
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalInformationResponseSeptember2026'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - external-settings-access
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /automation/email-templates/2026-09:
    get:
      tags:
      - Basic
      summary: List templates
      description: 'Retrieve a list of email templates available in the HubSpot account. This endpoint supports pagination to navigate through large sets of templates. Use this endpoint to access and manage your email templates efficiently. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access.'
      operationId: get-/automation/email-templates/2026-09_/automation/email-templates/2026-09-beta
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page. Defaults to 20.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicTemplateForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - sales-templates-public-read
      x-hubspot-user-level-auth:
        internalOnly: false
    post:
      tags:
      - Basic
      summary: Create
      description: 'Create a new email template in your HubSpot account. This endpoint allows you to define the template''s name, subject, body, and optionally assign it to a folder. The request must include the template''s body and name. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access.'
      operationId: post-/automation/email-templates/2026-09_/automation/email-templates/2026-09-beta
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicTemplateInput'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicTemplate'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - sales-templates-public-write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /automation/email-templates/2026-09/folders:
    get:
      tags:
      - Basic
      summary: List folders
      description: 'Retrieve a list of email template folders available in your HubSpot account. This endpoint supports pagination to navigate through large sets of folders. Use this endpoint to organize and manage your email templates efficiently. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access.'
      operationId: get-/automation/email-templates/2026-09/folders_/automation/email-templates/2026-09-beta/folders
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource. Use this token to retrieve the next set of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page. Defaults to 20.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicFolderForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - sales-templates-public-read
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /automation/email-templates/2026-09/{templateId}:
    get:
      tags:
      - Basic
      summary: Retrieve template
      description: 'Retrieve a specific email template by its unique identifier. This endpoint allows you to access the details of an email template, which can be useful for reviewing or managing your email automation strategies. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access.'
      operationId: get-/automation/email-templates/2026-09/{templateId}_/automation/email-templates/2026-09-beta/{templateId}
      parameters:
      - name: templateId
        in: path
        description: The unique identifier of the email template to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicTemplate'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - sales-templates-public-read
      x-hubspot-user-level-auth:
        internalOnly: false
    patch:
      tags:
      - Basic
      summary: Update template
      description: 'Update an existing email template in your HubSpot account. This endpoint allows you to modify the template''s properties such as name, subject, body, and folderId. Ensure that the templateId provided corresponds to an existing template. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access.'
      operationId: patch-/automation/email-templates/2026-09/{templateId}_/automation/email-templates/2026-09-beta/{templateId}
      parameters:
      - name: templateId
        in: path
        description: The unique identifier of the email template to update.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicTemplateUpdate'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicTemplate'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - sales-templates-public-write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /automation/sequences/2026-03:
    get:
      tags:
      - Basic
      operationId: get-/automation/sequences/2026-03_/automation/sequences/2026-03
      parameters:
      - name: userId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPublicSequenceLiteResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation.sequences.read
      summary: Get /automation/sequences/2026 03 /automation/sequences/2026 03
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /automation/sequences/2026-03/enrollments:
    post:
      tags:
      - Basic
      summary: Enroll a contact in a sequence
      description: Enroll a contact into a sequence using the specified user ID and sequence details.
      operationId: post-/automation/sequences/2026-03/enrollments
      parameters:
      - name: userId
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSequenceEnrollmentRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSequenceEnrollmentLiteResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation.sequences.enrollments.write
    servers:
    - url: https://api.hubapi.com
  /automation/sequences/2026-03/enrollments/contact/{contactId}:
    get:
      tags:
      - Basic
      summary: Retrieve the enrollment status of a contact
      description: Get the enrollment status of a contact in sequences by their contact ID.
      operationId: get-/automation/sequences/2026-03/enrollments/contact/{contactId}
      parameters:
      - name: contactId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSequenceEnrollmentResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation.sequences.read
    servers:
    - url: https://api.hubapi.com
  /automation/sequences/2026-03/{sequenceId}:
    get:
      tags:
      - Basic
      summary: Retrieve details for a sequence
      description: Retrieve details of a specific sequence by its ID.
      operationId: get-/automation/sequences/2026-03/{sequenceId}
      parameters:
      - name: sequenceId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSequenceResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation.sequences.read
    servers:
    - url: https://api.hubapi.com
  /business-units/public/2026-09/business-units/user/{userId}:
    get:
      tags:
      - Basic
      summary: Retrieve brands by associated user
      description: Retrieve the brands that a specific user can access.
      operationId: get-/business-units/public/2026-09/business-units/user/{userId}_getByUserID
      parameters:
      - name: userId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: properties
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - business_units_view.read
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors:
    get:
      tags:
      - Basic
      summary: Get all Blog Authors
      description: Get the list of blog authors. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.
      operationId: get-/cms/blogs/2026-09/authors_getPage
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlogAuthorForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    post:
      tags:
      - Basic
      summary: Create a new Blog Author
      description: Create a new Blog Author.
      operationId: post-/cms/blogs/2026-09/authors_create
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogAuthor'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogAuthor'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/{objectId}:
    get:
      tags:
      - Basic
      summary: Retrieve a Blog Author
      description: Retrieve the Blog Author object identified by the id in the path.
      operationId: get-/cms/blogs/2026-09/authors/{objectId}_getById
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogAuthor'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    delete:
      tags:
      - Basic
      summary: Delete a Blog Author
      description: Delete the Blog Author object identified by the id in the path.
      operationId: delete-/cms/blogs/2026-09/authors/{objectId}_archive
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    patch:
      tags:
      - Basic
      summary: Update a Blog Author
      description: 'Sparse updates a single Blog Author object identified by the id in the path.

        All the column values need not be specified. Only the that need to be modified can be specified.'
      operationId: patch-/cms/blogs/2026-09/authors/{objectId}_update
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogAuthor'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogAuthor'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings:
    get:
      tags:
      - Basic
      summary: Retrieve all blogs
      description: Get the list of blogs. Results can be limited and filtered by creation or updated date.
      operationId: get-/cms/blog-settings/2026-09/settings
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlog'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/{blogId}:
    get:
      tags:
      - Basic
      summary: Retrieve a blog
      description: Retrieve a specific blog by its ID.
      operationId: get-/cms/blog-settings/2026-09/settings/{blogId}
      parameters:
      - name: blogId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/audit-logs/2026-09:
    get:
      tags:
      - Basic
      operationId: get-/cms/audit-logs/2026-09_/cms/audit-logs/v3
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: eventType
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: objectId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: objectType
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: userId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAuditLog'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Get /cms/audit logs/2026 09 /cms/audit logs/v3
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/domains/2026-09:
    get:
      tags:
      - Basic
      operationId: get-/cms/domains/2026-09_/cms/domains/v3
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalDomain'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - cms.domains.write
      - oauth2:
        - cms.knowledge_base.settings.read
      - oauth2:
        - cms.knowledge_base.settings.write
      - oauth2:
        - cms.domains.read
      - oauth2:
        - content
      summary: Get /cms/domains/2026 09 /cms/domains/v3
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/domains/2026-09/{domainId}:
    get:
      tags:
      - Basic
      summary: Get a single domain
      description: Returns a single domains with the id specified.
      operationId: get-/cms/domains/2026-09/{domainId}_getById
      parameters:
      - name: domainId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - cms.domains.write
      - oauth2:
        - cms.knowledge_base.settings.read
      - oauth2:
        - cms.knowledge_base.settings.write
      - oauth2:
        - cms.domains.read
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}:
    get:
      tags:
      - Basic
      summary: Retrieve properties
      description: Retrieve properties for a specified object type within a given app. This endpoint allows you to filter properties based on whether they are archived and to specify which properties to include in the response. It is useful for accessing and managing the properties associated with different object types in your application.
      operationId: get-/media-bridge/2026-09/{appId}/properties/{objectType}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: properties
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePropertyNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    post:
      tags:
      - Basic
      summary: Create property
      description: Create a new property for a specified object type within a given app in the MediaBridge service. This endpoint allows you to define new properties that can be used to store additional information related to the object type. The request must include the necessary property details in the request body.
      operationId: post-/media-bridge/2026-09/{appId}/properties/{objectType}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreate'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/groups:
    get:
      tags:
      - Basic
      summary: List groups
      description: Retrieve a list of property groups for a specified object type within a given app. This endpoint is useful for obtaining organizational information about properties associated with different object types in your application.
      operationId: get-/media-bridge/2026-09/{appId}/properties/{objectType}/groups
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePropertyGroupNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    post:
      tags:
      - Basic
      summary: Create Group
      description: Create a new property group for a specified object type within a given app. This endpoint allows you to organize properties into groups, making it easier to manage and categorize them within your application.
      operationId: post-/media-bridge/2026-09/{appId}/properties/{objectType}/groups
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyGroupCreate'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}:
    get:
      tags:
      - Basic
      summary: Retrieve group
      description: Retrieve a specific property group for a given object type within an app. This endpoint is useful for accessing detailed information about how properties are grouped under a specific group name for a particular object type in your application.
      operationId: get-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: groupName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    delete:
      tags:
      - Basic
      summary: Delete group
      description: Delete a specific property group for a given object type within an app. This operation is useful for removing unnecessary or obsolete property groups, helping to maintain a clean and organized structure within your app's properties.
      operationId: delete-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: groupName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    patch:
      tags:
      - Basic
      summary: Update group
      description: Update the properties of a specific group within a specified object type for a given app. This operation allows you to modify the details of a property group, such as its label or display order, within the context of the MediaBridge service.
      operationId: patch-/media-bridge/2026-09/{appId}/properties/{objectType}/groups/{groupName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: groupName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyGroupUpdate'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroup'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}:
    get:
      tags:
      - Basic
      summary: Retrieve property
      description: Retrieve a specific property for a given object type within a specified app. This endpoint allows you to access details about a property, including its configuration and settings, for a particular object type identified by the property name. This can be useful for understanding property configurations or for integration purposes.
      operationId: get-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertyName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: properties
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    delete:
      tags:
      - Basic
      summary: Delete property
      description: Delete a specific property from a given object type within an app. This operation is useful for removing properties that are no longer needed or were created in error. The endpoint requires specifying the app ID, object type, and property name to identify the property to be deleted.
      operationId: delete-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertyName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    patch:
      tags:
      - Basic
      summary: Update property
      description: Update an existing property for a specified object type within a given app. This operation allows you to modify the details of a property, such as its label, type, or description, to better fit your application's requirements.
      operationId: patch-/media-bridge/2026-09/{appId}/properties/{objectType}/{propertyName}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: propertyName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaBridgePropertyUpdate'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/schemas:
    get:
      tags:
      - Basic
      summary: Retrieve schemas
      description: Retrieve the schemas associated with a specific app in the HubSpot account. This endpoint allows you to fetch schema details, which can be useful for understanding the data structure and properties associated with the app. You can optionally filter the results to include only archived schemas.
      operationId: get-/media-bridge/2026-09/{appId}/schemas
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseObjectSchemaNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/schemas/{objectType}:
    get:
      tags:
      - Basic
      summary: Retrieve schema
      description: Retrieve the schema for a specific object type within a given app in your HubSpot account. This endpoint is useful for understanding the structure and properties of a particular object type, which can assist in data integration and management tasks.
      operationId: get-/media-bridge/2026-09/{appId}/schemas/{objectType}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectSchema'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    patch:
      tags:
      - Basic
      summary: Update schema
      description: Update the schema for a specific object type within a given app. This operation allows you to modify the existing schema details, which can be useful for adapting to changes in data structure requirements or business logic.
      operationId: patch-/media-bridge/2026-09/{appId}/schemas/{objectType}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTypeDefinitionPatch'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/schemas/{objectType}/associations/{associationId}:
    delete:
      tags:
      - Basic
      summary: Delete association
      description: Remove an existing association between schemas for a specified app in the MediaBridge service. This operation is useful when you need to disassociate entities that are no longer related or to clean up outdated associations.
      operationId: delete-/media-bridge/2026-09/{appId}/schemas/{objectType}/associations/{associationId}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: associationId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings:
    put:
      tags:
      - Basic
      summary: Update settings
      description: Update the settings for a specific app in the MediaBridgeService. This endpoint allows you to modify the configuration settings associated with the specified appId. It is useful for updating app-specific settings to ensure they align with your current requirements.
      operationId: put-/media-bridge/2026-09/{appId}/settings
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaBridgeProviderPartial'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaBridgeProviderRegistrationResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/event-visibility:
    get:
      tags:
      - Basic
      summary: Retrieve settings
      description: Retrieve the event visibility settings for a specific app in the MediaBridge service. This endpoint provides information on how events are visible within the specified application context.
      operationId: get-/media-bridge/2026-09/{appId}/settings/event-visibility
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventVisibilityResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    patch:
      tags:
      - Basic
      summary: Update settings
      description: Update the event visibility settings for a specific app in the MediaBridgeService. This operation allows you to modify how events are displayed or managed for the specified app. It is useful for configuring event visibility preferences based on your application's requirements.
      operationId: patch-/media-bridge/2026-09/{appId}/settings/event-visibility
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventVisibilityChange'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventVisibilityChange'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/object-definitions/{mediaType}:
    get:
      tags:
      - Basic
      summary: Retrieve object definitions
      description: Retrieve the object definitions for a specified media type within an app. This endpoint allows you to access the settings related to the object definitions of various media types such as VIDEO, AUDIO, DOCUMENT, OTHER, and IMAGE. It is useful for understanding the structure and properties associated with different media types in your application.
      operationId: get-/media-bridge/2026-09/{appId}/settings/object-definitions/{mediaType}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: mediaType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - AUDIO
          - DOCUMENT
          - IMAGE
          - OTHER
          - VIDEO
      - name: includeFullDefinition
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectDefinitionResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/oembed-domains:
    get:
      tags:
      - Basic
      summary: List OEmbed Domains
      description: Retrieve the list of OEmbed domains associated with a specific app in your HubSpot account. This endpoint is useful for managing and verifying the domains that are allowed to embed media content. It provides a way to ensure that only trusted domains are used for embedding media.
      operationId: get-/media-bridge/2026-09/{appId}/settings/oembed-domains
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: domainPortalId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: -1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEmbedDomainsCollectionResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    post:
      tags:
      - Basic
      summary: Create
      description: Create a new oEmbed domain setting for a specific app in your HubSpot account. This endpoint allows you to define domains that can be used for oEmbed purposes, facilitating the integration of media content from external sources.
      operationId: post-/media-bridge/2026-09/{appId}/settings/oembed-domains
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratorOEmbedDomainRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorOEmbedDomainModel'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    delete:
      tags:
      - Basic
      summary: Delete domains
      description: Delete oEmbed domains associated with a specific app in HubSpot. This operation allows you to manage and remove domains that are no longer needed for embedding media content within the app's settings.
      operationId: delete-/media-bridge/2026-09/{appId}/settings/oembed-domains
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: domainPortalId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: -1
      - name: id
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}:
    get:
      tags:
      - Basic
      summary: Retrieve domain
      description: Retrieve details of a specific oEmbed domain for a given app. This endpoint is useful for fetching configuration or settings related to oEmbed domains associated with a particular application.
      operationId: get-/media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: oEmbedDomainId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorOEmbedDomainModel'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    patch:
      tags:
      - Basic
      summary: Update oEmbed domain
      description: Update the settings for a specific oEmbed domain associated with a given app. This endpoint allows you to modify the configuration of an oEmbed domain, which can be useful for managing how media content is embedded across different domains.
      operationId: patch-/media-bridge/2026-09/{appId}/settings/oembed-domains/{oEmbedDomainId}
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: oEmbedDomainId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratorOEmbedDomainRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorOEmbedDomainModel'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/{objectId}/draft/reset:
    post:
      tags:
      - Basic
      summary: Reset the draft of a website page
      description: Discards any edits and resets the draft to match the live version.
      operationId: post-/cms/pages/2026-09/site-pages/{objectId}/draft/reset_resetDraft
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/{objectId}/revisions:
    get:
      tags:
      - Basic
      summary: Retrieve all previous versions of a website page
      description: Retrieves all the previous versions of a website page, specified by page ID.
      operationId: get-/cms/pages/2026-09/site-pages/{objectId}/revisions_getPreviousVersions
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPageVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - sitepages-read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}:
    get:
      tags:
      - Basic
      summary: Retrieve a previous version of a website page
      description: Retrieve a previous version of a website page by the revision ID.
      operationId: get-/cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}_getPreviousVersion
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - sitepages-read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft:
    post:
      tags:
      - Basic
      summary: Restore a previous draft of a website page
      description: Takes a specified version of a website page and sets it as the new draft version of the page.
      operationId: post-/cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/cursor:
    get:
      tags:
      - Basic
      operationId: get-/cms/blogs/2026-09/authors/cursor_/cms/blogs/v3/authors/cursor
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CursorPagedResultBlogAuthorLong'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Get /cms/blogs/2026 09/authors/cursor /cms/blogs/v3/authors/cursor
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/cursor/query:
    get:
      tags:
      - Basic
      operationId: get-/cms/blogs/2026-09/authors/cursor/query_/cms/blogs/v3/authors/cursor/query
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CursorPagedResultBlogAuthorLong'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Get /cms/blogs/2026 09/authors/cursor/query /cms/blogs/v3/authors/cursor/query
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts:
    get:
      tags:
      - Basic
      summary: Get all posts
      description: Retrieve all blog posts, with paging and filtering options. This method would be useful for an integration that ingests posts and suggests edits.
      operationId: get-/cms/blogs/2026-09/posts_getPage
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlogPostForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    post:
      tags:
      - Basic
      summary: Create a new post
      description: Create a new blog post, specifying its content in the request body.
      operationId: post-/cms/blogs/2026-09/posts_create
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogPost'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/clone:
    post:
      tags:
      - Basic
      summary: Clone a blog post
      description: Clone a blog post, making a copy of it in a new blog post.
      operationId: post-/cms/blogs/2026-09/posts/clone_clone
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContentCloneRequestVNext'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/cursor:
    get:
      tags:
      - Basic
      operationId: get-/cms/blogs/2026-09/posts/cursor_/cms/blogs/v3/posts/cursor
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CursorPagedResultBlogPostLong'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Get /cms/blogs/2026 09/posts/cursor /cms/blogs/v3/posts/cursor
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/cursor/query:
    get:
      tags:
      - Basic
      operationId: get-/cms/blogs/2026-09/posts/cursor/query_/cms/blogs/v3/posts/cursor/query
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: updatedAfter
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedAt
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: updatedBefore
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CursorPagedResultBlogPostLong'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Get /cms/blogs/2026 09/posts/cursor/query /cms/blogs/v3/posts/cursor/query
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/schedule:
    post:
      tags:
      - Basic
      summary: Schedule a post to be published
      description: Schedule a blog post to be published at a specified time.
      operationId: post-/cms/blogs/2026-09/posts/schedule_schedule
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContentScheduleRequestVNext'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/{objectId}:
    get:
      tags:
      - Basic
      summary: Retrieve a blog post
      description: Retrieve a blog post by the post ID.
      operationId: get-/cms/blogs/2026-09/posts/{objectId}_getById
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    delete:
      tags:
      - Basic
      summary: Delete a blog post
      description: Delete a blog post by ID.
      operationId: delete-/cms/blogs/2026-09/posts/{objectId}_archive
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    patch:
      tags:
      - Basic
      summary: Update a post
      description: Partially updates a single blog post by ID. You only need to specify the values that you want to update.
      operationId: patch-/cms/blogs/2026-09/posts/{objectId}_update
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogPost'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/{objectId}/draft:
    get:
      tags:
      - Basic
      summary: Retrieve the full draft version of the Blog Post
      description: Retrieve the full draft version of a blog post.
      operationId: get-/cms/blogs/2026-09/posts/{objectId}/draft_getDraftById
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BlogPost'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    patch:
      tags:
      - Basic
      summary: Update the draft of a post
      description: Partially updates the draft version of a single blog post by ID. You only need to specify the values that you want to update.
      operationId: patch-/cms/blogs/2026-09/posts/{objectId}/draft_updateDraft
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BlogPost'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
[...]
