openapi: 3.1.0
info:
  title: HubSpot Commerce Subscriptions API
  description: >-
    The subscriptions API allows you to retrieve data about recurring
    subscription records in HubSpot Commerce. Subscriptions are created when a
    customer purchases a recurring product through HubSpot payments or a
    connected payment processor. Subscription records follow the standard CRM
    object pattern at /crm/v3/objects/subscriptions.
  version: v3
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com/
servers:
  - url: https://api.hubapi.com
    description: HubSpot API
security:
  - oauth2: []
tags:
  - name: Associations
    description: Operations for managing subscription associations
  - name: Batch
    description: Batch operations for subscriptions
  - name: Subscriptions
    description: Operations for managing subscription records
paths:
  /crm/v3/objects/subscriptions:
    get:
      operationId: listSubscriptions
      summary: HubSpot List subscriptions
      description: >-
        Returns a page of commerce subscription records. Use the limit and after
        parameters to paginate through subscriptions. You can also specify which
        properties to return using the properties parameter.
      tags:
        - Subscriptions
      parameters:
        - name: limit
          in: query
          description: The maximum number of results to return per page.
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: after
          in: query
          description: The cursor for pagination to get the next page of results.
          schema:
            type: string
        - name: properties
          in: query
          description: A comma-separated list of property names to return.
          schema:
            type: string
        - name: archived
          in: query
          description: Whether to return archived subscriptions.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response with a list of subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSubscription
      summary: HubSpot Create a subscription
      description: >-
        Creates a new subscription record with the provided properties. Subscription
        records track recurring revenue relationships with customers.
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '201':
          description: Subscription created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/subscriptions/{subscriptionId}:
    get:
      operationId: getSubscription
      summary: HubSpot Get a subscription
      description: >-
        Returns a single subscription record by its ID. You can specify which
        properties to return using the properties parameter.
      tags:
        - Subscriptions
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The ID of the subscription to retrieve.
          schema:
            type: string
        - name: properties
          in: query
          description: A comma-separated list of property names to return.
          schema:
            type: string
        - name: archived
          in: query
          description: Whether to return archived subscriptions.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response with the subscription record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSubscription
      summary: HubSpot Update a subscription
      description: >-
        Performs a partial update of a subscription record. Only the properties
        included in the request body will be updated; other properties will
        remain unchanged.
      tags:
        - Subscriptions
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The ID of the subscription to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '200':
          description: Subscription updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSubscription
      summary: HubSpot Archive a subscription
      description: >-
        Archives (soft deletes) a subscription record by its ID. Archived
        subscriptions can be restored using the HubSpot UI or API.
      tags:
        - Subscriptions
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The ID of the subscription to archive.
          schema:
            type: string
      responses:
        '204':
          description: Subscription archived successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/subscriptions/batch/read:
    post:
      operationId: batchReadSubscriptions
      summary: HubSpot Batch read subscriptions
      description: >-
        Reads a batch of subscription records by their IDs. Useful for
        retrieving multiple subscriptions in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
      responses:
        '200':
          description: Batch read completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/subscriptions/batch/create:
    post:
      operationId: batchCreateSubscriptions
      summary: HubSpot Batch create subscriptions
      description: >-
        Creates multiple subscription records in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
      responses:
        '201':
          description: Subscriptions created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/subscriptions/batch/update:
    post:
      operationId: batchUpdateSubscriptions
      summary: HubSpot Batch update subscriptions
      description: >-
        Updates multiple subscription records in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateInput'
      responses:
        '200':
          description: Subscriptions updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/subscriptions/search:
    post:
      operationId: searchSubscriptions
      summary: HubSpot Search subscriptions
      description: >-
        Searches for subscription records using filter groups, sorts, and other
        query parameters.
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/subscriptions/{subscriptionId}/associations/{toObjectType}:
    get:
      operationId: listSubscriptionAssociations
      summary: HubSpot List subscription associations
      description: >-
        Returns all associations of a subscription record to objects of a
        specified type, such as contacts, companies, or deals.
      tags:
        - Associations
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The ID of the subscription.
          schema:
            type: string
        - name: toObjectType
          in: path
          required: true
          description: The type of associated object.
          schema:
            type: string
      responses:
        '200':
          description: List of associations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    oauth2:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (access token from OAuth flow)
  schemas:
    Subscription:
      type: object
      description: A HubSpot commerce subscription record.
      properties:
        id:
          type: string
          description: The unique identifier for the subscription.
        properties:
          type: object
          description: The subscription's properties as key-value pairs.
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archived:
          type: boolean
        associations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociation'
    CollectionResponseSubscription:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        paging:
          $ref: '#/components/schemas/Paging'
    BatchResponseSubscription:
      type: object
      properties:
        status:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        completedAt:
          type: string
          format: date-time
    SimplePublicObjectInput:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: string
    BatchReadInput:
      type: object
      properties:
        properties:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    BatchCreateInput:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
    BatchUpdateInput:
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                additionalProperties:
                  type: string
    SearchRequest:
      type: object
      properties:
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
              direction:
                type: string
                enum: [ASCENDING, DESCENDING]
        query:
          type: string
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
          maximum: 200
        after:
          type: string
    FilterGroup:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      properties:
        propertyName:
          type: string
        operator:
          type: string
          enum: [EQ, NEQ, LT, LTE, GT, GTE, BETWEEN, IN, NOT_IN, HAS_PROPERTY, NOT_HAS_PROPERTY, CONTAINS_TOKEN, NOT_CONTAINS_TOKEN]
        value:
          type: string
    Association:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    CollectionResponseAssociation:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      properties:
        next:
          type: object
          properties:
            after:
              type: string
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is invalid or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
