openapi: 3.2.0
info:
  title: Automation Actions V4 Callbacks API
  description: Basepom for all HubSpot Projects
  version: 2026-09
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: PROFESSIONAL
    service: PROFESSIONAL
    cms: PROFESSIONAL
    commerce: PROFESSIONAL
    crmHub: PROFESSIONAL
    dataHub: PROFESSIONAL
servers:
- url: https://api.hubapi.com
tags:
- name: Callbacks
paths:
  /automation/actions/callbacks/2026-09/complete:
    post:
      tags:
      - Callbacks
      summary: Complete a batch of callbacks
      description: Complete a batch of blocked action executions.
      operationId: post-/automation/actions/callbacks/2026-09/complete_completeBatch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputCallbackCompletionBatchRequest'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation
  /automation/actions/callbacks/2026-09/{callbackId}/complete:
    post:
      tags:
      - Callbacks
      summary: Completes a callback
      description: Complete a specific blocked action execution by ID.
      operationId: post-/automation/actions/callbacks/2026-09/{callbackId}/complete_complete
      parameters:
      - name: callbackId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCompletionRequest'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - automation
components:
  schemas:
    TestRequestContext:
      title: TEST
      required:
      - source
      type: object
      properties:
        source:
          type: string
          description: Indicates the source of the test request, with the only accepted value being 'TEST'.
          default: TEST
          enum:
          - TEST
      x-hubspot-sub-type-impl: true
    AgentRequestContext:
      title: AGENTS
      required:
      - agentId
      - chirpAiContextObject
      - source
      type: object
      properties:
        agentId:
          type: integer
          description: The unique identifier for the agent making the request.
          format: int64
        chirpAiContextObject:
          $ref: '#/components/schemas/ChirpAiContextObject'
        source:
          type: string
          description: Indicates the source of the request, with the default value being 'AGENTS'.
          default: AGENTS
          enum:
          - AGENTS
        trajectoryId:
          type: string
          description: The unique identifier for the trajectory associated with the agent request.
      x-hubspot-sub-type-impl: true
    StandaloneRequestContext:
      title: STANDALONE
      required:
      - chirpAiContextObject
      - source
      type: object
      properties:
        chirpAiContextObject:
          $ref: '#/components/schemas/ChirpAiContextObject'
        source:
          type: string
          description: Indicates the source of the request, with the default value being 'STANDALONE'.
          default: STANDALONE
          enum:
          - STANDALONE
        trajectoryId:
          type: string
          description: A unique identifier for tracking the trajectory of the request.
      x-hubspot-sub-type-impl: true
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    CallbackCompletionRequest:
      required:
      - outputFields
      - typedOutputs
      type: object
      properties:
        failureReasonType:
          type: string
          description: Indicates the reason for the failure of a callback completion.
        outputFields:
          type: object
          additionalProperties:
            type: string
          description: Contains the output fields associated with the callback, with each field represented as a key-value pair.
        requestContext:
          description: Specifies the context in which the request is made, which can be one of several predefined contexts.
          oneOf:
          - $ref: '#/components/schemas/WorkflowsRequestContext'
          - $ref: '#/components/schemas/AgentRequestContext'
          - $ref: '#/components/schemas/CopilotRequestContext'
          - $ref: '#/components/schemas/StandaloneRequestContext'
          - $ref: '#/components/schemas/TestRequestContext'
        typedOutputs:
          type: object
          properties: {}
          description: Holds the typed outputs related to the callback, structured as an object.
    BatchInputCallbackCompletionBatchRequest:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/CallbackCompletionBatchRequest'
    ComplianceIds:
      required:
      - contactIds
      - portalIds
      - userIds
      type: object
      properties:
        contactIds:
          type: array
          items:
            $ref: '#/components/schemas/ContactId'
        noContactIdReason:
          type: string
          description: The reason why no contact ID is available.
        noPortalIdReason:
          type: string
          description: The reason why no portal ID is available.
        noUserIdReason:
          type: string
          description: The reason why no user ID is available.
        portalIds:
          type: array
          items:
            type: integer
            format: int32
        userIds:
          type: array
          items:
            type: integer
            format: int32
    ActionExecutionIndexIdentifier:
      required:
      - actionExecutionIndex
      - enrollmentId
      type: object
      properties:
        actionExecutionIndex:
          type: integer
          description: The index number representing the execution order of the action.
          format: int32
        enrollmentId:
          type: integer
          description: The ID associated with the enrollment process.
          format: int64
    WorkflowsRequestContext:
      title: WORKFLOWS
      required:
      - source
      - workflowId
      type: object
      properties:
        actionExecutionIndexIdentifier:
          $ref: '#/components/schemas/ActionExecutionIndexIdentifier'
        actionId:
          type: integer
          description: The ID of the action within the workflow context.
          format: int64
        source:
          type: string
          description: Indicates the source of the request, with the default value being WORKFLOWS.
          default: WORKFLOWS
          enum:
          - WORKFLOWS
        workflowId:
          type: integer
          description: The ID of the workflow associated with the request context.
          format: int64
      x-hubspot-sub-type-impl: true
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    CopilotRequestContext:
      title: COPILOT
      required:
      - source
      type: object
      properties:
        source:
          type: string
          description: Indicates the source of the request, with the default value being 'COPILOT'.
          default: COPILOT
          enum:
          - COPILOT
        trajectoryId:
          type: string
          description: The unique identifier for the trajectory.
      x-hubspot-sub-type-impl: true
    CallbackCompletionBatchRequest:
      required:
      - callbackId
      - outputFields
      - typedOutputs
      type: object
      properties:
        callbackId:
          type: string
          description: The unique identifier for the callback.
        failureReasonType:
          type: string
          description: Specifies the type of failure reason for the callback completion.
        outputFields:
          type: object
          additionalProperties:
            type: string
          description: Holds the output fields for the callback completion.
        requestContext:
          description: Defines the context of the request, which can be one of several predefined types.
          oneOf:
          - $ref: '#/components/schemas/WorkflowsRequestContext'
          - $ref: '#/components/schemas/AgentRequestContext'
          - $ref: '#/components/schemas/CopilotRequestContext'
          - $ref: '#/components/schemas/StandaloneRequestContext'
          - $ref: '#/components/schemas/TestRequestContext'
        typedOutputs:
          type: object
          properties: {}
          description: Contains the typed outputs for the callback completion.
    ChirpAiContextObject:
      required:
      - applicationGroup
      - applicationId
      - isPrivate
      - metadata
      - otelContextHolder
      - unstructuredSources
      type: object
      properties:
        applicationGroup:
          type: string
          description: The group to which the application belongs.
        applicationId:
          type: string
          description: The identifier for the application associated with the context.
        complianceIds:
          $ref: '#/components/schemas/ComplianceIds'
        conversationId:
          type: string
        featureId:
          type: string
          description: The identifier for the feature associated with the context.
        inferenceId:
          type: string
          description: The identifier for the inference associated with the context.
        isPrivate:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional metadata related to the context, represented as key-value pairs.
        otelContextHolder:
          type: object
          additionalProperties:
            type: string
          description: Holds OpenTelemetry context information as key-value pairs.
        trajectoryId:
          type: string
          description: The identifier for the trajectory, formatted as a UUID.
          format: uuid
        unstructuredSources:
          type: array
          items:
            type: string
            enum:
            - NONE
            - USER_INPUT
            - LOGGED_EMAIL
            - VIDEO_CALL
            - AUDIO_CALL
            - CALL_TRANSCRIPT
            - MEETING_TRANSCRIPT
            - FORMS
            - FEEDBACK_SURVEY
            - PDF
            - QUOTE
            - INVOICE
            - OTHER_ATTACHMENT_DOC
            - WHATSAPP
            - SMS
            - CHAT
            - FACEBOOK_MESSENGER
            - CUSTOM_CHANNEL_OR_API
            - MANY
            - NOTE
            - DERIVED
    ContactId:
      required:
      - portalId
      type: object
      properties:
        email:
          type: string
          description: The email address of the contact.
        portalId:
          type: integer
          description: The ID of the portal associated with the contact.
          format: int32
        vid:
          type: integer
          description: The unique identifier for the contact.
          format: int64
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            automation: ''
            developers-read: ''
            developers-write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
- Node
- Python
- Ruby
- PHP
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: PROFESSIONAL
  service: PROFESSIONAL
  cms: PROFESSIONAL
  commerce: PROFESSIONAL
  crmHub: PROFESSIONAL
  dataHub: PROFESSIONAL
