openapi: 3.2.0
info:
  title: Marketing Marketing Events Event Attendees API
  description: Basepom for all HubSpot Projects
  version: 2026-09
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Event Attendees
paths:
  /marketing/marketing-events/2026-09/attendance/{externalEventId}/{subscriberState}/create:
    post:
      tags:
      - Event Attendees
      summary: Record Participants by ContactId with Marketing Event External Ids
      description: 'Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.


        Additional Functionality:

        - Adds a timeline event to the contacts.


        Allowed Properties:

        For the state "attend":

        - joinedAt

        - leftAt'
      operationId: post-/marketing/marketing-events/2026-09/attendance/{externalEventId}/{subscriberState}/create_recordByContactIds
      parameters:
      - name: externalEventId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: externalAccountId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventSubscriber'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriberVidResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
  /marketing/marketing-events/2026-09/attendance/{externalEventId}/{subscriberState}/email-create:
    post:
      tags:
      - Event Attendees
      summary: Record Participants by Email with Marketing Event External Ids
      description: 'Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.


        If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.


        Additional Functionality:

        - Adds a timeline event to the contacts.


        Allowed Properties:

        For the state "attend":

        - joinedAt

        - leftAt'
      operationId: post-/marketing/marketing-events/2026-09/attendance/{externalEventId}/{subscriberState}/email-create_recordByContactEmails
      parameters:
      - name: externalEventId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: externalAccountId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventEmailSubscriber'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriberEmailResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
  /marketing/marketing-events/2026-09/{objectId}/attendance/{subscriberState}/create:
    post:
      tags:
      - Event Attendees
      summary: Record Participants by ContactId with Marketing Event Object Id
      description: 'Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.


        Additional Functionality:

        - Adds a timeline event to the contacts.


        Allowed Properties:

        For the state "attend":

        - joinedAt

        - leftAt'
      operationId: post-/marketing/marketing-events/2026-09/{objectId}/attendance/{subscriberState}/create_recordByContactId
      parameters:
      - name: objectId
        in: path
        description: The internal id of the marketing event in HubSpot.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: The attendance state value. It may be 'register', 'attend' or 'cancel'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventSubscriber'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriberVidResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
  /marketing/marketing-events/2026-09/{objectId}/attendance/{subscriberState}/email-create:
    post:
      tags:
      - Event Attendees
      summary: Record Participants by Email with Marketing Event Object Id
      description: 'Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.


        If a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.


        Additional Functionality:

        - Adds a timeline event to the contacts.


        Allowed Properties:

        For the state "attend":

        - joinedAt

        - leftAt'
      operationId: post-/marketing/marketing-events/2026-09/{objectId}/attendance/{subscriberState}/email-create_recordByEmail
      parameters:
      - name: objectId
        in: path
        description: The internal id of the marketing event in HubSpot.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriberState
        in: path
        description: The attendance state value. It may be 'register', 'attend' or 'cancel'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputMarketingEventEmailSubscriber'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriberEmailResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.marketing_events.write
components:
  schemas:
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    MarketingEventEmailSubscriber:
      required:
      - contactProperties
      - email
      - interactionDateTime
      - properties
      type: object
      properties:
        contactProperties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set that contains properties of the contact.
        email:
          type: string
          description: The email address of the contact in HubSpot to associate with the event.
        interactionDateTime:
          type: integer
          description: Timestamp in milliseconds at which the contact subscribed to the event.
          format: int64
        properties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set that contains properties of the marketing event.
    BatchInputMarketingEventEmailSubscriber:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          description: List of marketing event details to create or update
          items:
            $ref: '#/components/schemas/MarketingEventEmailSubscriber'
    SubscriberEmailResponse:
      required:
      - email
      - vid
      type: object
      properties:
        email:
          type: string
          description: The email of the contact
        vid:
          type: integer
          description: The internal ID of the contact
          format: int64
    SubscriberVidResponse:
      required:
      - vid
      type: object
      properties:
        vid:
          type: integer
          description: The internal ID of the contact
          format: int64
    StandardError:
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
      properties:
        category:
          type: string
          description: The category of the error
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The object that contains details of the errors
        errors:
          type: array
          description: The detailed error objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        id:
          type: string
          description: The ID of the request
        links:
          type: object
          additionalProperties:
            type: string
          description: Results of the request
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        status:
          type: string
          description: Status of the response
        subCategory:
          type: object
          properties: {}
          description: The Sub-category of the error
      description: Ye olde error
    BatchResponseSubscriberEmailResponse:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: Timestamp that represents when the request finished processing
          format: date-time
        errors:
          type: array
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
          description: Result of the request
        numErrors:
          type: integer
          description: The number of errors that occurred during the processing
          format: int32
        requestedAt:
          type: string
          description: Timestamp that represents when the request was made
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberEmailResponse'
        startedAt:
          type: string
          description: Timestamp that represents when the request started processing
          format: date-time
        status:
          type: string
          description: The status of the request processing
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    BatchInputMarketingEventSubscriber:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          description: List of HubSpot contacts to subscribe to the marketing event
          items:
            $ref: '#/components/schemas/MarketingEventSubscriber'
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BatchResponseSubscriberVidResponse:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: Timestamp that represents when the request finished processing
          format: date-time
        errors:
          type: array
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
          description: Result of the request
        numErrors:
          type: integer
          description: The number of errors that occurred during the processing
          format: int32
        requestedAt:
          type: string
          description: Timestamp that represents when the request was made
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberVidResponse'
        startedAt:
          type: string
          description: Timestamp that represents when the request started processing
          format: date-time
        status:
          type: string
          description: The status of the request processing
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    MarketingEventSubscriber:
      required:
      - interactionDateTime
      - properties
      - vid
      type: object
      properties:
        interactionDateTime:
          type: integer
          description: Timestamp in milliseconds at which the contact subscribed to the event.
          format: int64
        properties:
          type: object
          additionalProperties:
            type: string
          description: The key-value set of the properties of the contact
        vid:
          type: integer
          description: The ID of the contact in HubSpot
          format: int64
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            crm.objects.marketing_events.read: ''
            crm.objects.marketing_events.write: ''
            developers-read: ''
            developers-write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
- Node
- Python
- Ruby
- PHP
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
