openapi: 3.2.0
info:
  title: Marketing Campaigns Public Metrics API
  description: Basepom for all HubSpot Projects
  version: 2026-03
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Metrics
paths:
  /marketing/campaigns/2026-03/{campaignGuid}/reports/contacts/{contactType}:
    get:
      tags:
      - Metrics
      summary: Fetch contact IDs
      description: Fetch the list of contact IDs for the specified campaign and contact type
      operationId: get-/marketing/campaigns/2026-03/{campaignGuid}/reports/contacts/{contactType}
      parameters:
      - name: campaignGuid
        in: path
        description: The unique identifier of the campaign
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contactType
        in: path
        description: The type of contact to filter the list
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: "The end date for fetching contact data, in YYYY-MM-DD format.        \nOptional. Example: 2000-01-27    "
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: startDate
        in: query
        description: "The start date for fetching contact data, in YYYY-MM-DD format.    \nOptional. Example: 2000-01-20"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseContactReferenceForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.read
  /marketing/campaigns/2026-03/{campaignGuid}/reports/metrics:
    get:
      tags:
      - Metrics
      summary: Get Campaign Metrics
      description: This endpoint retrieves key attribution metrics for a specified campaign, such as sessions, new contacts, and influenced contacts.
      operationId: get-/marketing/campaigns/2026-03/{campaignGuid}/reports/metrics
      parameters:
      - name: campaignGuid
        in: path
        description: The unique identifier of the campaign
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: endDate
        in: query
        description: 'The end date for fetching attribution data, in YYYY-MM-DD format.

          Optional. Example: 2000-01-27       '
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startDate
        in: query
        description: 'The start date for fetching attribution data, in YYYY-MM-DD format.

          Optional. Example: 2000-01-20'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsCounters'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.read
  /marketing/campaigns/2026-03/{campaignGuid}/reports/revenue:
    get:
      tags:
      - Metrics
      summary: Fetch revenue
      description: Fetch revenue attribution report data for a specified campaign
      operationId: get-/marketing/campaigns/2026-03/{campaignGuid}/reports/revenue
      parameters:
      - name: campaignGuid
        in: path
        description: The unique identifier of the campaign
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: attributionModel
        in: query
        description: 'The revenue attribution model used to calculate deal revenue credit. Defaults to LINEAR if not specified. Enum values: LINEAR,            FIRST_INTERACTION, LAST_INTERACTION, FULL_PATH, U_SHAPED, W_SHAPED,          TIME_DECAY, J_SHAPED, INVERSE_J_SHAPED'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End date to fetch attribution data, YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date to fetch attribution data, YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAttributionAggregate'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.revenue.read
      - oauth2:
        - marketing.campaigns.revenue.lite.read
      - oauth2:
        - marketing.campaigns.revenue.full.read
components:
  schemas:
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    RevenueAttributionAggregate:
      type: object
      properties:
        contactsNumber:
          type: integer
          description: The number of contacts attributed to the campaign.
          format: int32
        currencyCode:
          type: string
          description: The currency code used for the revenue attribution, with accepted values including AED, AFN, ALL, and others.
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XUA
          - YER
          - ZAR
          - ZMW
          - ZWL
        dealAmount:
          type: number
          description: The total amount of deals attributed to the campaign.
        dealsNumber:
          type: integer
          description: The number of deals attributed to the campaign.
          format: int32
        revenueAmount:
          type: number
          description: The total revenue amount attributed to the campaign.
    ForwardPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      description: Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.
    MetricsCounters:
      required:
      - influencedContacts
      - newContactsFirstTouch
      - newContactsLastTouch
      - sessions
      type: object
      properties:
        influencedContacts:
          type: integer
          description: The number of contacts influenced by the campaign.
          format: int32
        newContactsFirstTouch:
          type: integer
          description: The number of new contacts attributed to the campaign as the first touchpoint.
          format: int32
        newContactsLastTouch:
          type: integer
          description: The number of new contacts attributed to the campaign as the last touchpoint.
          format: int32
        sessions:
          type: integer
          description: The total number of sessions generated by the campaign.
          format: int32
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    NextPage:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A string token used as a cursor to retrieve the next page of results.
        link:
          type: string
          description: A string URL that provides the link to the next page of results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    CollectionResponseContactReferenceForwardPaging:
      required:
      - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          type: array
          description: An array of contact references, each containing an identifier for a contact.
          items:
            $ref: '#/components/schemas/ContactReference'
    ContactReference:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the contact.
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            marketing.campaigns.read: ''
            marketing.campaigns.revenue.read: ''
            marketing.campaigns.write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
