openapi: 3.2.0
info:
  title: Hubdb Rows API
  description: Basepom for all HubSpot Projects
  version: 2026-09
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: FREE
    service: FREE
    cms: PROFESSIONAL
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Rows
paths:
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows:
    get:
      tags:
      - Rows
      summary: Get rows for a table
      description: 'Returns a set of rows in the published version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the overview section for detailed filtering and sorting options.

        **Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.'
      operationId: get-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows_getTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: properties
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.read
    post:
      tags:
      - Rows
      summary: Add a new row to a table
      description: Add a new row to a HubDB table. New rows will be added to the draft version of the table. Use the `/publish` endpoint to push these changes to published version.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows_createTableRow
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubDbTableRowV3Request'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/batch/read:
    post:
      tags:
      - Rows
      summary: Get a set of rows
      description: 'Returns rows in the published version of the specified table, given a set of row IDs.

        **Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.'
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/batch/read_readTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3WithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.read
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/clone:
    post:
      tags:
      - Rows
      summary: Clone rows in batch
      description: Clones rows in the draft version of the specified table, given a set of row ids. Maximum of 100 row ids per call.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/clone_cloneDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputHubDbTableRowBatchCloneRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/create:
    post:
      tags:
      - Rows
      summary: Create rows in batch
      description: Creates rows in the draft version of the specified table, given an array of row objects. Maximum of 100 row object per call. See the overview section for more details with an example.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/create_createDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputHubDbTableRowV3Request'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3WithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/purge:
    post:
      tags:
      - Rows
      summary: Permanently deletes rows
      description: Permanently deletes rows from the draft version of the table, given a set of row IDs. Maximum of 100 row IDs per call.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/purge_purgeDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/read:
    post:
      tags:
      - Rows
      summary: Get a set of rows from draft table
      description: Returns rows in the draft version of the specified table, given a set of row IDs.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/read_readDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3WithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.read
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/replace:
    post:
      tags:
      - Rows
      summary: Replace rows in batch in draft table
      description: Replaces multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PUT /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/replace_replaceDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3WithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/update:
    post:
      tags:
      - Rows
      summary: Update rows in batch in draft table
      description: Updates multiple rows as a batch in the draft version of the table, with a maximum of 100 rows per call. See the endpoint `PATCH /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/draft/batch/update_updateDraftTableRows
      parameters:
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseHubDbTableRowV3WithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}:
    get:
      tags:
      - Rows
      summary: Get a table row
      description: 'Get a single row by ID from the published version of a table.

        **Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.'
      operationId: get-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}_getTableRow
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.read
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft:
    get:
      tags:
      - Rows
      summary: Get a row from the draft table
      description: Get a single row by ID from a table's draft version.
      operationId: get-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft_getDraftTableRowById
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.read
    put:
      tags:
      - Rows
      summary: Replaces an existing row
      description: 'Replace a single row in the draft version of a table. All column values must be specified. If a column has a value in the target table and this request doesn''t define that value, it will be deleted.

        See the "Create a row" endpoint for instructions on how to format the JSON row definitions.'
      operationId: put-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft_replaceDraftTableRow
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubDbTableRowV3Request'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
    delete:
      tags:
      - Rows
      summary: Permanently deletes a row
      description: Permanently deletes a row from a table's draft version.
      operationId: delete-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft_purgeDraftTableRow
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
    patch:
      tags:
      - Rows
      summary: Updates an existing row
      description: 'Partially update a single row in the table''s draft version.

        All the column values need not be specified. Only the columns or fields that needs to be modified can be specified.

        See the "Create a row" endpoint for instructions on how to format the JSON row definitions.'
      operationId: patch-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft_updateDraftTableRow
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HubDbTableRowV3Request'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
  /cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft/clone:
    post:
      tags:
      - Rows
      summary: Clone a row
      description: Clones a single row in the draft version of a table.
      operationId: post-/cms/v3/hubdb/2026-09/tables/{tableIdOrName}/rows/{rowId}/draft/clone_cloneDraftTableRow
      parameters:
      - name: rowId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: \d+
          type: string
      - name: tableIdOrName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubDbTableRowV3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - hubdb
      - oauth2:
        - hubdb.rows.write
components:
  schemas:
    BoundedPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/BoundedNextPage'
    BatchInputHubDbTableRowBatchCloneRequest:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowBatchCloneRequest'
    HubDbTableRowV3BatchUpdateRequest:
      required:
      - childTableId
      - displayIndex
      - values
      type: object
      properties:
        childTableId:
          type: integer
          description: Specifies the value for the column child table id
          format: int64
        displayIndex:
          type: integer
          description: The index position for displaying the row within the table.
          format: int32
        id:
          type: string
          description: The id of the table row
        name:
          type: string
          description: Specifies the value for `hs_name` column, which will be used as title in the dynamic pages
        path:
          type: string
          description: Specifies the value for `hs_path` column, which will be used as slug in the dynamic pages
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Variant'
          description: List of key value pairs with the column name and column value
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    Variant:
      type: object
      properties: {}
    BatchInputHubDbTableRowV3Request:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3Request'
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BoundedNextPage:
      required:
      - offset
      type: object
      properties:
        link:
          type: string
          description: A URL that can be used to retrieve the next set of results.
        offset:
          type: integer
          description: The offset value indicating the starting point for the next set of results.
          format: int32
    PreviousPage:
      required:
      - before
      type: object
      properties:
        before:
          type: string
          description: A paging cursor token for retrieving previous pages.
        link:
          type: string
          description: A URL that can be used to retrieve the previous pages' results.
      description: specifies the paging information needed to retrieve the previous set of results in a paginated API response
    NextPage:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A paging cursor token for retrieving subsequent pages.
        link:
          type: string
          description: A URL that can be used to retrieve the next page results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    UnifiedCollectionResponseWithTotalBaseHubDbTableRowV3:
      properties: {}
      oneOf:
      - $ref: '#/components/schemas/RandomAccessCollectionResponseWithTotalHubDbTableRowV3'
      - $ref: '#/components/schemas/StreamingCollectionResponseWithTotalHubDbTableRowV3'
    BatchInputHubDbTableRowV3BatchUpdateRequest:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3BatchUpdateRequest'
    HubDbTableRowV3Request:
      required:
      - childTableId
      - displayIndex
      - values
      type: object
      properties:
        childTableId:
          type: integer
          description: Specifies the value for the column child table id
          format: int64
        displayIndex:
          type: integer
          description: The index position for displaying the row within the table.
          format: int32
        name:
          type: string
          description: Specifies the value for `hs_name` column, which will be used as title in the dynamic pages
        path:
          type: string
          description: Specifies the value for `hs_path` column, which will be used as slug in the dynamic pages
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Variant'
          description: List of key value pairs with the column name and column value
    StandardError:
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
      properties:
        category:
          type: string
          description: Specifies the main category of the error, determining the broad area of issue.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: An object containing context-specific information pertinent to the error.
        errors:
          type: array
          description: The detailed error objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        id:
          type: string
          description: The unique ID of the error instance.
        links:
          type: object
          additionalProperties:
            type: string
          description: An object containing links related to the error, such as documentation URLs or support contact pages.
        message:
          type: string
          description: A detailed message describing the error.
        status:
          type: string
          description: The HTTP status code associated with the error.
        subCategory:
          type: object
          properties: {}
          description: Identifies the subcategory of the error, providing more specific context within the main category.
      description: Ye olde error
    RandomAccessCollectionResponseWithTotalHubDbTableRowV3:
      required:
      - results
      - total
      - type
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/BoundedPaging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3Wrapper'
        total:
          type: integer
          description: The total number of rows available in the collection.
          format: int32
        type:
          type: string
          description: Indicates the type of response, which is 'RANDOM_ACCESS' by default.
          default: RANDOM_ACCESS
          enum:
          - RANDOM_ACCESS
      x-hubspot-sub-type-impl: true
    StreamingCollectionResponseWithTotalHubDbTableRowV3:
      required:
      - results
      - total
      - type
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3Wrapper'
        total:
          type: integer
          description: The total number of rows available in the collection.
          format: int32
        type:
          type: string
          description: Indicates the type of response, which is 'STREAMING' by default.
          default: STREAMING
          enum:
          - STREAMING
      x-hubspot-sub-type-impl: true
    HubDbTableRowV3:
      required:
      - childTableId
      - createdAt
      - id
      - name
      - path
      - publishedAt
      - updatedAt
      - values
      type: object
      properties:
        childTableId:
          type: string
          description: Specifies the value for the column child table id
        createdAt:
          type: string
          description: Timestamp at which the row is created
          format: date-time
        id:
          type: string
          description: The id of the table row
        name:
          type: string
          description: Specifies the value for `hs_name` column, which will be used as title in the dynamic pages
        path:
          type: string
          description: Specifies the value for `hs_path` column, which will be used as slug in the dynamic pages
        publishedAt:
          type: string
          description: The timestamp indicating when the row was last published, in date-time format.
          format: date-time
        updatedAt:
          type: string
          description: Timestamp at which the row is updated last time
          format: date-time
        values:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: List of key value pairs with the column name and column value
    BatchResponseHubDbTableRowV3WithErrors:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: The timestamp indicating when the batch processing was completed.
          format: date-time
        errors:
          type: array
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
          description: A collection of related links associated with the batch response.
        numErrors:
          type: integer
          description: The number of errors encountered during the batch operation.
          format: int32
        requestedAt:
          type: string
          description: The timestamp indicating when the batch request was made.
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3'
        startedAt:
          type: string
          description: The timestamp indicating when the batch processing began.
          format: date-time
        status:
          type: string
          description: 'The current status of the batch operation, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.'
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    Paging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
    BatchResponseHubDbTableRowV3:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: The timestamp indicating when the batch processing was completed.
          format: date-time
        links:
          type: object
          additionalProperties:
            type: string
          description: A collection of related links associated with the batch response.
        requestedAt:
          type: string
          description: The timestamp indicating when the batch request was made.
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/HubDbTableRowV3'
        startedAt:
          type: string
          description: The timestamp indicating when the batch processing began.
          format: date-time
        status:
          type: string
          description: 'The current status of the batch operation, with possible values: CANCELED, COMPLETE, PENDING, PROCESSING.'
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    HubDbTableRowBatchCloneRequest:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The ID of the row to be cloned.
        name:
          type: string
          description: The name for the cloned row.
    BatchInputString:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            type: string
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            hubdb: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
- Node
- Python
- Ruby
- PHP
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: FREE
  service: FREE
  cms: PROFESSIONAL
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
