openapi: 3.2.0
info:
  title: Hubspot Search API
  x-refined-note:
  - x-hubspot-api-use-case differs across the merged source definitions and was not carried
  - x-hubspot-introduction differs across the merged source definitions and was not carried
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Search across 35 of this provider''s published API definitions: hubspot-crm-appointments-openapi.json, hubspot-crm-associations-openapi.json, hubspot-crm-calls-openapi.json, hubspot-crm-carts-openapi.json, hubspot-crm-commerce-payments-openapi.json, hubspot-crm-communications-openapi.json, hubspot-crm-companies-openapi.json, hubspot-crm-contacts-openapi.json, hubspot-crm-courses-openapi.json, hubspot-crm-deals-openapi.json, hubspot-crm-discounts-openapi.json…'
servers:
- url: https://api.hubapi.com
- url: https://private.hubapi.com
tags:
- name: Search
paths:
  /crm/objects/2026-03/{objectType}/search:
    post:
      tags:
      - Search
      summary: Post /crm/objects/2026 03/{object type}/search /crm/objects/v3/{object…
      description: Search for appointments based on specified criteria. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/{objectType}/search_/crm/objects/v3/{objectType}/search
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/calls/search:
    post:
      tags:
      - Search
      summary: Search for calls
      description: Search for calls by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/calls/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/carts/search:
    post:
      tags:
      - Search
      summary: Search for carts
      description: Search for carts based on the specified search criteria, such as filters and properties, and retrieve the matching results.
      operationId: post-/crm/objects/2026-03/carts/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.carts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/commerce_payments/search:
    post:
      tags:
      - Search
      summary: Search for commerce payments using specified criteria
      description: Execute a search for commerce payments based on the provided filter groups, properties, and sorting options. This endpoint allows for complex queries to retrieve specific payment records from the CRM.
      operationId: post-/crm/objects/2026-03/commerce_payments/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.commercepayments.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/communications/search:
    post:
      tags:
      - Search
      summary: Search for messages
      description: Search for messages by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/communications/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/companies/search:
    post:
      tags:
      - Search
      summary: Search for companies
      description: Search for companies by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/companies/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.companies.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/contacts/search:
    post:
      tags:
      - Search
      summary: Search for contacts
      description: Search for contacts by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/contacts/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/0-410/search:
    post:
      tags:
      - Search
      summary: Search for courses
      description: Fetch objects using a search query
      operationId: post-/crm/objects/2026-03/0-410/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject_3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.courses.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/0-3/search:
    post:
      tags:
      - Search
      summary: Search for deals using various filters and criteria to retrieve specific records
      description: Search for deals using specified criteria and filters.
      operationId: post-/crm/objects/2026-03/0-3/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.deals.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/discounts/search:
    post:
      tags:
      - Search
      summary: Post /crm/objects/2026 03/discounts/search
      description: ''
      operationId: post-/crm/objects/2026-03/discounts/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - e-commerce
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/emails/search:
    post:
      tags:
      - Search
      summary: Search for emails using specified criteria and filters
      description: Perform a search for emails based on the provided query parameters and return matching results.
      operationId: post-/crm/objects/2026-03/emails/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - sales-email-read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/feedback_submissions/search:
    post:
      tags:
      - Search
      summary: Search for feedback submissions
      description: Execute a search to retrieve feedback submissions based on defined filters, properties, and sorting options.
      operationId: post-/crm/objects/2026-03/feedback_submissions/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.feedback_submissions.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/fees/search:
    post:
      tags:
      - Search
      summary: Search for fees using specified criteria
      description: Perform a search for fees based on various filters and criteria defined in the request body. The search can include specific properties, sorting options, and pagination details to refine the results.
      operationId: post-/crm/objects/2026-03/fees/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - e-commerce
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/goal_targets/search:
    post:
      tags:
      - Search
      summary: Search for goal targets
      description: Search for goal targets using specified criteria.
      operationId: post-/crm/objects/2026-03/goal_targets/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.goals.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/invoices/search:
    post:
      tags:
      - Search
      summary: Search for invoices using specified criteria
      description: Execute a search for invoices based on filter criteria, sorting options, and properties to include in the response. This endpoint supports pagination and allows for complex queries using multiple filter groups.
      operationId: post-/crm/objects/2026-03/invoices/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.invoices.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/leads/search:
    post:
      tags:
      - Search
      summary: Search for leads using specified criteria
      description: Perform a search for leads based on the provided filter groups, properties, and sorting options. The request allows for pagination and can return up to 200 results per page.
      operationId: post-/crm/objects/2026-03/leads/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.leads.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/line_items/search:
    post:
      tags:
      - Search
      summary: Search for line items
      description: Execute a search for line items based on filters, properties, and sorting options provided in the request body. This endpoint allows you to retrieve line items that match specific conditions, facilitating targeted data retrieval in CRM operations.
      operationId: post-/crm/objects/2026-03/line_items/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - e-commerce
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/0-420/search:
    post:
      tags:
      - Search
      summary: Search for listings using various criteria and filters
      description: Execute a search query to find listings based on specified filters and properties.
      operationId: post-/crm/objects/2026-03/0-420/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.listings.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/lists/2026-03/search:
    post:
      tags:
      - Search
      summary: Search Lists
      description: Search lists by list name or page through all lists by providing an empty `query` value.
      operationId: post-/crm/lists/2026-03/search_/crm/lists/v3/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.segments.read
      - oauth2:
        - crm.lists.read
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/meetings/search:
    post:
      tags:
      - Search
      summary: Search for meetings
      description: Search for meetings by filtering on properties, searching through associations, and sorting results.
      operationId: post-/crm/objects/2026-03/meetings/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/notes/search:
    post:
      tags:
      - Search
      summary: Search for notes based on specified criteria
      description: Execute a search for notes using filters, sorting options, and other query parameters to refine the results. This endpoint allows for complex queries to locate specific notes within the CRM system.
      operationId: post-/crm/objects/2026-03/notes/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/orders/search:
    post:
      tags:
      - Search
      summary: Search for orders
      description: Execute a search for orders using specified criteria and return matching results.
      operationId: post-/crm/objects/2026-03/orders/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.orders.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/partner_clients/search:
    post:
      tags:
      - Search
      summary: Search for partner clients using specified criteria
      description: Execute a search for partner clients based on defined filters, properties, and sorting options. This endpoint allows you to retrieve partner client data that matches the search criteria, facilitating integration and data synchronization with third-party systems.
      operationId: post-/crm/objects/2026-03/partner_clients/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.partner-clients.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/partner_services/search:
    post:
      tags:
      - Search
      summary: Search for partner services
      description: Execute a search query to find partner services based on defined filters, properties, and sorting options. This endpoint allows you to retrieve a collection of partner services that match the specified search criteria.
      operationId: post-/crm/objects/2026-03/partner_services/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.partner-services.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/postal_mail/search:
    post:
      tags:
      - Search
      summary: Search
      description: Search for postal mail objects using specific criteria in the request.
      operationId: post-/crm/objects/2026-03/postal_mail/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/products/search:
    post:
      tags:
      - Search
      summary: Search for products using specified criteria
      description: Execute a search for products based on defined filters, properties, and sorting options. This endpoint allows for detailed querying of product data within the CRM, enabling users to retrieve specific product information by applying multiple filter groups and sorting criteria.
      operationId: post-/crm/objects/2026-03/products/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - e-commerce
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/projects/search:
    post:
      tags:
      - Search
      summary: Search for projects
      description: Search for projects by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/projects/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.projects.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/quotes/search:
    post:
      tags:
      - Search
      summary: Search for quotes using specified criteria
      description: Execute a search for quotes based on the criteria defined in the request body, such as filters, properties, and sorting options. This endpoint allows for detailed querying of quote records to retrieve specific data sets.
      operationId: post-/crm/objects/2026-03/quotes/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - e-commerce
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/0-162/search:
    post:
      tags:
      - Search
      summary: Search for services
      description: Fetch objects via a search query
      operationId: post-/crm/objects/2026-03/0-162/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.services.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/tasks/search:
    post:
      tags:
      - Search
      summary: Search for tasks using specified criteria
      description: Execute a search for tasks based on the provided criteria, including filters, properties, and sorting options. This allows for retrieving tasks that match specific conditions or property values.
      operationId: post-/crm/objects/2026-03/tasks/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/taxes/search:
    post:
      tags:
      - Search
      summary: Search for taxes using specified criteria
      description: Execute a search for tax objects based on defined filters, sorting options, and properties to be included in the response. This allows for customized retrieval of tax data according to specific search parameters.
      operationId: post-/crm/objects/2026-03/taxes/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.line_items.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/tickets/search:
    post:
      tags:
      - Search
      summary: Search for tickets
      description: Search for tickets by filtering on properties, searching through associations, and sorting results. Learn more about CRM search.
      operationId: post-/crm/objects/2026-03/tickets/search_doSearch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - tickets
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/users/search:
    post:
      tags:
      - Search
      summary: Search for users based on specified criteria
      description: Execute a search for users using defined filters, properties, and sorting options. The request must include a search query and can return up to 200 results per request.
      operationId: post-/crm/objects/2026-03/users/search
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalSimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.users.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /public/api/versioning/test/2026-09-beta/widgets:
    post:
      tags:
      - Search
      summary: Create Widget
      description: Create a new widget in the HubSpot account using the Public API Versioning Test Service. This endpoint requires a JSON request body and supports various authentication methods, including OAuth2 and API keys.
      operationId: post-/public/api/versioning/test/2026-09-beta/widgets
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - contacts-access
    servers:
    - url: https://private.hubapi.com
  /public/api/versioning/test/2026-09-beta/widgets/{widgetId}:
    get:
      tags:
      - Search
      summary: Retrieve widget
      description: Retrieve a specific widget by its unique identifier from the PublicApiVersioningTestService. This endpoint is useful for accessing detailed information about a particular widget, which can be used for display or further processing in your application.
      operationId: get-/public/api/versioning/test/2026-09-beta/widgets/{widgetId}
      parameters:
      - name: widgetId
        in: path
        description: The unique identifier of the widget to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - contacts-access
    delete:
      tags:
      - Search
      summary: Delete widget
      description: Delete a specific widget identified by its widgetId from the system. This operation is useful for removing widgets that are no longer needed or relevant. Upon successful deletion, no content is returned.
      operationId: delete-/public/api/versioning/test/2026-09-beta/widgets/{widgetId}
      parameters:
      - name: widgetId
        in: path
        description: The unique identifier of the widget to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - contacts-access
    servers:
    - url: https://private.hubapi.com
components:
  schemas:
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    PublicObjectWarning:
      required:
      - category
      - context
      - message
      type: object
      properties:
        category:
          type: string
        context:
          type: object
          additionalProperties:
            type: string
        message:
          type: string
    Filter:
      required:
      - operator
      - propertyName
      type: object
      properties:
        highValue:
          type: string
          description: The upper boundary value when using ranged-based filters.
        operator:
          type: string
          description: The comparison operator used in the filter, such as "EQ" or "GT".
          enum:
          - BETWEEN
          - CONTAINS_TOKEN
          - EQ
          - GT
          - GTE
          - HAS_PROPERTY
          - IN
          - LT
          - LTE
          - NEQ
          - NOT_CONTAINS_TOKEN
          - NOT_HAS_PROPERTY
          - NOT_IN
        propertyName:
          type: string
          description: The name of the property to apply the filter to.
        value:
          type: string
          description: The value to match against the property.
        values:
          type: array
          description: The values to match against the property.
          items:
            type: string
      description: 'Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. '
    PreviousPage:
      required:
      - before
      type: object
      properties:
        before:
          type: string
          description: A paging cursor token for retrieving previous pages.
        link:
          type: string
          description: A URL that can be used to retrieve the previous pages' results.
      description: specifies the paging information needed to retrieve the previous set of results in a paginated API response
    SimplePublicObject:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: Unique ID to identify each write operation, which will be returned with any errors to identify which request encountered which error.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: URL to go to the object
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    NextPage:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A paging cursor token for retrieving subsequent pages.
        link:
          type: string
          description: A URL that can be used to retrieve the next page results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    PublicObjectSearchRequest:
      required:
      - after
      - filterGroups
      - limit
      - properties
      - sorts
      type: object
      properties:
        after:
          type: string
          description: A paging cursor token for retrieving subsequent pages.
        filterGroups:
          type: array
          description: Up to 6 groups of filters defining additional query criteria.
          items:
            $ref: '#/components/schemas/FilterGroup'
        limit:
          type: integer
          description: The maximum results to return, up to 200 objects.
          format: int32
        properties:
          type: array
          description: A list of property names to include in the response.
          items:
            type: string
        query:
          type: string
          description: The search query string, up to 3000 characters.
        sorts:
          type: array
          description: Specifies sorting order based on object properties.
          items:
            type: string
      description: Describes a search request
    CollectionResponseWithTotalSimplePublicObject:
      required:
      - results
      - total
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObject'
        total:
          type: integer
          description: The number of available results
          format: int32
      description: Represents a list of simple objects returned from an API request, along with the total count of objects available.
    FilterGroup:
      required:
      - filters
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    ValueWithTimestamp:
      required:
      - sourceType
      - timestamp
      - value
      type: object
      properties:
        sourceId:
          type: string
          description: The unique ID of the property.
        sourceLabel:
          type: string
          description: A human-readable label.
        sourceType:
          type: string
          description: The property type.
        timestamp:
          type: string
          description: The timestamp when the property was updated, in ISO 8601 format.
          format: date-time
        updatedByUserId:
          type: integer
          description: The ID of the user who last updated the property.
          format: int32
        value:
          type: string
          description: The property value.
      description: Property model that includes timestamp.
    Paging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
    SimplePublicObject_2:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: A unique identifier for tracing the creation request.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    CollectionResponseWithTotalSimplePublicObject_2:
      required:
      - results
      - total
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObject_2'
        total:
          type: integer
          description: The total number of objects in the collection.
          format: int32
      description: Represents a list of simple objects returned from an API request, along with the total count of objects available.
    SimplePublicObject_3:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_4:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_5:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_6:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_7:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_8:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    ErrorDetail_2:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail. This is a string property.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition, represented as an object with additional properties that are arrays of strings.
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found. This is a string property.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate. This is a required string property.
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error. This is a string property.
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    PublicObjectWarning_2:
      required:
      - category
      - context
      - message
      type: object
      properties:
        category:
          type: string
          description: A string representing the category of the warning.
        context:
          type: object
          additionalProperties:
            type: string
          description: An object providing additional context for the warning, with string properties.
        message:
          type: string
          description: A string containing the warning message.
    Filter_2:
      required:
      - operator
      - propertyName
      type: object
      properties:
        highValue:
          type: string
          description: A string representing the upper bound of a range when filtering with range-based operators like 'BETWEEN'.
        operator:
          type: string
          description: A string specifying the comparison operator to use in the filter. Valid values include 'EQ', 'NEQ', 'LT', 'LTE', 'GT', 'GTE', 'BETWEEN', 'IN', 'NOT_IN', 'HAS_PROPERTY', 'NOT_HAS_PROPERTY', 'CONTAINS_TOKEN', and 'NOT_CONTAINS_TOKEN'.
          enum:
          - BETWEEN
          - CONTAINS_TOKEN
          - EQ
          - GT
          - GTE
          - HAS_PROPERTY
          - IN
          - LT
          - LTE
          - NEQ
          - NOT_CONTAINS_TOKEN
          - NOT_HAS_PROPERTY
          - NOT_IN
        propertyName:
          type: string
          description: The name of the property on which the filter is applied. It is a string representing the field to be filtered.
        value:
          type: string
          description: A string representing the specific value to compare against the propertyName when using the filter.
        values:
          type: array
          description: An array of strings representing multiple values to compare against the propertyName when using operators like 'IN' or 'NOT_IN'.
          items:
            type: string
      description: 'Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. '
    PreviousPage_2:
      required:
      - before
      type: object
      properties:
        before:
          type: string
          description: A string token used to identify the position of the previous page in the pagination sequence.
        link:
          type: string
          description: A string URL that provides a direct link to access the previous page of results.
      description: specifies the paging information needed to retrieve the previous set of results in a paginated API response
    SimplePublicObject_9:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: A boolean indicating whether this object is archived.
        archivedAt:
          type: string
          description: The date and time when this object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The date and time when this object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique identifier for this object, represented as a string.
        objectWriteTraceId:
          type: string
          description: A string identifier used for tracing the write operations on this object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: A map of property names to their values, where each value is a string.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp_2'
          description: A map of property names to their historical values, where each value is an array of objects containing the value and timestamp.
        updatedAt:
          type: string
          description: The date and time when this object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: A string representing the URL associated with this object.
        warnings:
          type: array
          description: An array of warnings related to this object, where each warning contains a category, message, and context.
          items:
            $ref: '#/components/schemas/PublicObjectWarning_2'
      description: A simple public object.
    Error_2:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category, providing a general classification of the error.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition, represented as an object with additional properties that are arrays of strings.
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: 'A unique identifier for the request. Include this value with any error reports or support tickets. Format: UUID.'
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: Further information about the error, provided as an array of ErrorDetail objects.
          items:
            $ref: '#/components/schemas/ErrorDetail_2'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate.
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error.
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    NextPage_2:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A string token used as a cursor to fetch the next page of results.
        link:
          type: string
          description: A string URL that provides a direct link to the next page of results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    PublicObjectSearchRequest_2:
      required:
      - after
      - filterGroups
      - limit
      - properties
      - sorts
      type: object
      properties:
        after:
          type: string
          description: A string representing the paging cursor token to fetch the next set of results.
        filterGroups:
          type: array
          description: An array of FilterGroup objects that define the criteria for filtering the search results.
          items:
            $ref: '#/components/schemas/FilterGroup_2'
        limit:
          type: integer
          description: An integer specifying the maximum number of results to return.
          format: int32
        properties:
          type: array
          description: An array of strings indicating which properties of the objects should be returned in the search results.
          items:
            type: string
        query:
          type: string
          description: A string representing the search query to filter the objects.
        sorts:
          type: array
          description: An array of strings specifying the fields by which the search results should be sorted.
          items:
            type: string
      description: Describes a search request
    CollectionResponseWithTotalSimplePublicObject_3:
      required:
      - results
      - total
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          description: An array containing the simple public objects that are part of the collection.
          items:
            $ref: '#/components/schemas/SimplePublicObject_9'
        total:
          type: integer
          description: An integer representing the total number of simple public objects in the collection.
          format: int32
      description: Represents a list of simple objects returned from an API request, along with the total count of objects available.
    FilterGroup_2:
      required:
      - filters
      type: object
      properties:
        filters:
          type: array
          description: An array of filter objects that define the criteria for filtering data. Each filter specifies a property, an operator, and a value or range of values to match against.
          items:
            $ref: '#/components/schemas/Filter_2'
    ValueWithTimestamp_2:
      required:
      - sourceType
      - timestamp
      - value
      type: object
      properties:
        sourceId:
          type: string
          description: A string representing the unique identifier of the source.
        sourceLabel:
          type: string
          description: A string providing a label or description for the source.
        sourceType:
          type: string
          description: A string indicating the type of source from which the value originated.
        timestamp:
          type: string
          description: The date and time when the value was recorded, in ISO 8601 format.
          format: date-time
        updatedByUserId:
          type: integer
          description: An integer representing the ID of the user who last updated the value.
          format: int32
        value:
          type: string
          description: A string representing the data value.
      description: Property model that includes timestamp.
    SimplePublicObject_10:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the creation or update request of the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_11:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_12:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_13:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_14:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_15:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_16:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_17:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_18:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: An identifier used for tracing the write request for the object.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    SimplePublicObject_19:
      required:
      - archived
      - createdAt
      - id
      - properties
      - updatedAt
      type: object
      properties:
        archived:
          type: boolean
          description: Whether the object is archived.
        archivedAt:
          type: string
          description: The timestamp when the object was archived, in ISO 8601 format.
          format: date-time
        createdAt:
          type: string
          description: The timestamp when the object was created, in ISO 8601 format.
          format: date-time
        id:
          type: string
          description: The unique ID of the object.
        objectWriteTraceId:
          type: string
          description: A unique identifier for tracing the request.
        properties:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs representing the properties of the object.
        propertiesWithHistory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ValueWithTimestamp'
          description: Key-value pairs representing the properties of the object along with their history.
        updatedAt:
          type: string
          description: The timestamp when the object was last updated, in ISO 8601 format.
          format: date-time
        url:
          type: string
          description: The URL associated with the object.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/PublicObjectWarning'
      description: A simple public object.
    ListSearchRequest:
      required:
      - additionalProperties
      - listIds
      - offset
      - processingTypes
      type: object
      properties:
        additionalProperties:
          type: array
          description: 'The property names of any additional list properties to include in the response. Properties that do not exist or that are empty for a particular list are not included in the response.


            By default, all requests will fetch the following properties for each list: `hs_list_size`, `hs_last_record_added_at`, `hs_last_record_removed_at`, `hs_folder_name`, and `hs_list_reference_count`.'
          items:
            type: string
        count:
          type: integer
          description: The number of lists to include in the response. Defaults to `20` if no value is provided. The max `count` is `500`.
          format: int32
        listIds:
          type: array
          description: ILS list ids to be included in search results. If not specified, all lists matching other criteria will be included
          items:
            type: string
        objectTypeId:
          type: string
        offset:
          type: integer
          description: Value used to paginate through lists. The `offset` provided in the response can be used in the next request to fetch the next page of results. Defaults to `0` if no offset is provided.
          format: int32
        processingTypes:
          type: array
          description: List processing types to be included in search results. If not specified, all lists with all processing types will be included.
          items:
            type: string
        query:
          type: string
          description: The `query` that will be used to search for lists by list name. If no `query` is provided, then the results will include all lists.
        sort:
          type: string
          description: Sort field and order
    PublicObjectListSearchResult:
      required:
      - additionalProperties
      - listId
      - listVersion
      - name
      - objectTypeId
      - processingStatus
      - processingType
      type: object
      properties:
        additionalProperties:
          type: object
          additionalProperties:
            type: string
          description: The name and value of any additional properties that exist for this list and that were included in the search request.
        createdAt:
          type: string
          description: The time when the list was created.
          format: date-time
        createdById:
          type: string
          description: The ID of the user that created the list.
        deletedAt:
          type: string
          description: The time when the list was deleted.
          format: date-time
        filtersUpdatedAt:
          type: string
          description: The time when the filters for this list were last updated.
          format: date-time
        listId:
          type: string
[...]
