openapi: 3.1.0
info:
  title: HubSpot Engagement Tasks API
  description: >-
    The tasks endpoints allow you to create and manage task engagement records
    in HubSpot CRM. Tasks represent to-do items that can be assigned to users
    and associated with contacts, companies, and deals to track follow-up
    actions. Task records follow the standard CRM object pattern at
    /crm/v3/objects/tasks.
  version: v3
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com/
servers:
  - url: https://api.hubapi.com
    description: HubSpot API
security:
  - oauth2: []
tags:
  - name: Associations
    description: Operations for managing task associations
  - name: Batch
    description: Batch operations for tasks
  - name: Tasks
    description: Operations for managing task engagement records
paths:
  /crm/v3/objects/tasks:
    get:
      operationId: listTasks
      summary: HubSpot List tasks
      description: >-
        Returns a page of task engagement records. Use the limit and after
        parameters to paginate through tasks. You can also specify which
        properties to return using the properties parameter.
      tags:
        - Tasks
      parameters:
        - name: limit
          in: query
          description: The maximum number of results to return per page.
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: after
          in: query
          description: The cursor for pagination to get the next page of results.
          schema:
            type: string
        - name: properties
          in: query
          description: A comma-separated list of property names to return.
          schema:
            type: string
        - name: archived
          in: query
          description: Whether to return archived tasks.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response with a list of tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseTask'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTask
      summary: HubSpot Create a task
      description: >-
        Creates a new task engagement record with the provided properties.
        Common task properties include hs_task_subject, hs_task_body,
        hs_task_status, hs_task_priority, hs_task_type, and hs_timestamp
        for the due date.
      tags:
        - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '201':
          description: Task created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tasks/{taskId}:
    get:
      operationId: getTask
      summary: HubSpot Get a task
      description: >-
        Returns a single task engagement record by its ID. You can specify
        which properties to return using the properties parameter.
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          description: The ID of the task to retrieve.
          schema:
            type: string
        - name: properties
          in: query
          description: A comma-separated list of property names to return.
          schema:
            type: string
        - name: archived
          in: query
          description: Whether to return archived tasks.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response with the task record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTask
      summary: HubSpot Update a task
      description: >-
        Performs a partial update of a task engagement record. Only the
        properties included in the request body will be updated.
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          description: The ID of the task to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '200':
          description: Task updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTask
      summary: HubSpot Archive a task
      description: >-
        Archives (soft deletes) a task engagement record by its ID.
        Archived tasks can be restored using the HubSpot UI or API.
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          description: The ID of the task to archive.
          schema:
            type: string
      responses:
        '204':
          description: Task archived successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/tasks/batch/read:
    post:
      operationId: batchReadTasks
      summary: HubSpot Batch read tasks
      description: >-
        Reads a batch of task records by their IDs. Useful for retrieving
        multiple tasks in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
      responses:
        '200':
          description: Batch read completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tasks/batch/create:
    post:
      operationId: batchCreateTasks
      summary: HubSpot Batch create tasks
      description: Creates multiple task engagement records in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
      responses:
        '201':
          description: Tasks created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tasks/batch/update:
    post:
      operationId: batchUpdateTasks
      summary: HubSpot Batch update tasks
      description: Updates multiple task engagement records in a single API call.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateInput'
      responses:
        '200':
          description: Tasks updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tasks/search:
    post:
      operationId: searchTasks
      summary: HubSpot Search tasks
      description: >-
        Searches for task engagement records using filter groups, sorts, and
        other query parameters.
      tags:
        - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tasks/{taskId}/associations/{toObjectType}:
    get:
      operationId: listTaskAssociations
      summary: HubSpot List task associations
      description: >-
        Returns all associations of a task record to objects of a specified
        type, such as contacts, companies, or deals.
      tags:
        - Associations
      parameters:
        - name: taskId
          in: path
          required: true
          description: The ID of the task.
          schema:
            type: string
        - name: toObjectType
          in: path
          required: true
          description: The type of associated object.
          schema:
            type: string
      responses:
        '200':
          description: List of associations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/tasks/{taskId}/associations/{toObjectType}/{toObjectId}/{associationType}:
    put:
      operationId: createTaskAssociation
      summary: HubSpot Create a task association
      description: Creates an association between a task record and another CRM object.
      tags:
        - Associations
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
        - name: toObjectType
          in: path
          required: true
          schema:
            type: string
        - name: toObjectId
          in: path
          required: true
          schema:
            type: string
        - name: associationType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Association created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTaskAssociation
      summary: HubSpot Delete a task association
      description: Removes an association between a task record and another CRM object.
      tags:
        - Associations
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
        - name: toObjectType
          in: path
          required: true
          schema:
            type: string
        - name: toObjectId
          in: path
          required: true
          schema:
            type: string
        - name: associationType
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Association deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    oauth2:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (access token from OAuth flow)
  schemas:
    Task:
      type: object
      description: A HubSpot task engagement record.
      properties:
        id:
          type: string
          description: The unique identifier for the task.
        properties:
          type: object
          description: The task's properties as key-value pairs.
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archived:
          type: boolean
        associations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociation'
    CollectionResponseTask:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        paging:
          $ref: '#/components/schemas/Paging'
    BatchResponseTask:
      type: object
      properties:
        status:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        completedAt:
          type: string
          format: date-time
    SimplePublicObjectInput:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: string
    BatchReadInput:
      type: object
      properties:
        properties:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    BatchCreateInput:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
    BatchUpdateInput:
      type: object
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                additionalProperties:
                  type: string
    SearchRequest:
      type: object
      properties:
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
              direction:
                type: string
                enum: [ASCENDING, DESCENDING]
        query:
          type: string
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
          maximum: 200
        after:
          type: string
    FilterGroup:
      type: object
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      properties:
        propertyName:
          type: string
        operator:
          type: string
          enum: [EQ, NEQ, LT, LTE, GT, GTE, BETWEEN, IN, NOT_IN, HAS_PROPERTY, NOT_HAS_PROPERTY, CONTAINS_TOKEN, NOT_CONTAINS_TOKEN]
        value:
          type: string
    Association:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
    CollectionResponseAssociation:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      properties:
        next:
          type: object
          properties:
            after:
              type: string
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is invalid or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
