openapi: 3.1.0
info:
  title: HubSpot Analytics Events Access Tokens Batch Operations API
  description: "The HubSpot Analytics Events API allows you to retrieve event completion data \nfrom your HubSpot account. Use this API to query event instances associated with \nCRM objects, filter by event types, and analyze user behavior and engagement patterns.\n\n## Key Features\n- Retrieve event instances for CRM objects\n- Filter events by type, date range, and object\n- Paginate through large result sets\n- Query available event types\n"
  version: 3.0.0
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.hubapi.com
  description: HubSpot Production API Server
tags:
- name: Batch Operations
  description: Perform bulk operations on multiple blog authors simultaneously
paths:
  /cms/v3/blogs/authors/batch/read:
    post:
      tags:
      - Batch Operations
      operationId: batchReadBlogAuthors
      summary: Hubspot Read Multiple Blog Authors
      description: Retrieve multiple blog authors by their IDs in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to include archived authors
        example: false
      requestBody:
        required: true
        description: List of author IDs to retrieve
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
            examples:
              BatchRead:
                $ref: '#/components/examples/BatchReadInputExample'
      responses:
        '200':
          description: Successfully retrieved blog authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors'
              examples:
                Batchreadblogauthors207Example:
                  summary: Default batchReadBlogAuthors 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse'
  /cms/v3/blogs/authors/batch/create:
    post:
      tags:
      - Batch Operations
      operationId: batchCreateBlogAuthors
      summary: Hubspot Create Multiple Blog Authors
      description: Create multiple blog authors in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      requestBody:
        required: true
        description: List of blog authors to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
            example:
              inputs:
              - name: Jane Smith
                slug: jane-smith
                email: jane@example.com
              - name: John Doe
                slug: john-doe
                email: john@example.com
      responses:
        '201':
          description: Successfully created blog authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors'
              examples:
                Batchcreateblogauthors207Example:
                  summary: Default batchCreateBlogAuthors 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse'
  /cms/v3/blogs/authors/batch/update:
    post:
      tags:
      - Batch Operations
      operationId: batchUpdateBlogAuthors
      summary: Hubspot Update Multiple Blog Authors
      description: Update multiple blog authors in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to update archived authors
        example: false
      requestBody:
        required: true
        description: List of blog authors to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInput'
            example:
              inputs:
              - id: '12345678901'
                properties:
                  bio: Updated bio content
              - id: '12345678902'
                properties:
                  bio: Another updated bio
      responses:
        '200':
          description: Successfully updated blog authors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors'
              examples:
                Batchupdateblogauthors207Example:
                  summary: Default batchUpdateBlogAuthors 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse'
  /cms/v3/blogs/authors/batch/archive:
    post:
      tags:
      - Batch Operations
      operationId: batchArchiveBlogAuthors
      summary: Hubspot Archive Multiple Blog Authors
      description: Archive multiple blog authors in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      requestBody:
        required: true
        description: List of author IDs to archive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveInput'
            example:
              inputs:
              - id: '12345678901'
              - id: '12345678902'
      responses:
        '204':
          description: Successfully archived blog authors
        default:
          $ref: '#/components/responses/ErrorResponse'
  /cms/v3/blogs/posts/batch/read:
    post:
      tags:
      - Batch Operations
      operationId: batchReadBlogPosts
      summary: Hubspot Read Multiple Blog Posts
      description: Retrieve multiple blog posts by their IDs in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to include archived posts
        example: false
      requestBody:
        required: true
        description: List of post IDs to retrieve
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInput_2'
            example:
              inputs:
              - id: '123456789012'
              - id: '123456789013'
      responses:
        '200':
          description: Successfully retrieved blog posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse_2'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample_2'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors_2'
              examples:
                Batchreadblogposts207Example:
                  summary: Default batchReadBlogPosts 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse_2'
  /cms/v3/blogs/posts/batch/create:
    post:
      tags:
      - Batch Operations
      operationId: batchCreateBlogPosts
      summary: Hubspot Create Multiple Blog Posts
      description: Create multiple blog posts in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      requestBody:
        required: true
        description: List of blog posts to create
        content:
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: array
                  items:
                    $ref: '#/components/schemas/BlogPostInput'
              required:
              - inputs
            example:
              inputs:
              - name: First Blog Post
                contentGroupId: '9876543210'
                postBody: <p>Content here</p>
              - name: Second Blog Post
                contentGroupId: '9876543210'
                postBody: <p>More content</p>
      responses:
        '201':
          description: Successfully created blog posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse_2'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample_2'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors_2'
              examples:
                Batchcreateblogposts207Example:
                  summary: Default batchCreateBlogPosts 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse_2'
  /cms/v3/blogs/posts/batch/update:
    post:
      tags:
      - Batch Operations
      operationId: batchUpdateBlogPosts
      summary: Hubspot Update Multiple Blog Posts
      description: Update multiple blog posts in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      parameters:
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to update archived posts
        example: false
      requestBody:
        required: true
        description: List of blog posts to update
        content:
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      properties:
                        $ref: '#/components/schemas/BlogPostInput'
                    required:
                    - id
              required:
              - inputs
            example:
              inputs:
              - id: '123456789012'
                properties:
                  postBody: <p>Updated content</p>
      responses:
        '200':
          description: Successfully updated blog posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse_2'
              examples:
                Success:
                  $ref: '#/components/examples/BatchResponseExample_2'
        '207':
          description: Partial success with some errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseWithErrors_2'
              examples:
                Batchupdateblogposts207Example:
                  summary: Default batchUpdateBlogPosts 207 response
                  x-microcks-default: true
                  value: example-value
        default:
          $ref: '#/components/responses/ErrorResponse_2'
  /cms/v3/blogs/posts/batch/archive:
    post:
      tags:
      - Batch Operations
      operationId: batchArchiveBlogPosts
      summary: Hubspot Archive Multiple Blog Posts
      description: Archive multiple blog posts in a single request.
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - content
      - PrivateApp: []
      requestBody:
        required: true
        description: List of post IDs to archive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInput_2'
            example:
              inputs:
              - id: '123456789012'
              - id: '123456789013'
      responses:
        '204':
          description: Successfully archived blog posts
        default:
          $ref: '#/components/responses/ErrorResponse_2'
  /crm/v3/objects/commerce_payments/batch/read:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Read a Batch of Commerce Payments
      description: "Retrieves multiple commerce payment records by their internal IDs or unique property values \nin a single request. This operation is optimized for bulk data retrieval and supports \nfetching property history.\n"
      operationId: batchReadCommercePayments
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: 'def response = mockRequest.requestContent

          return "BatchReadCommercePaymentsSuccessExample"

          '
      security:
      - oauth2Auth: []
      parameters:
      - $ref: '#/components/parameters/ArchivedQuery'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadRequest'
            examples:
              BatchReadCommercePaymentsRequestExample:
                $ref: '#/components/examples/BatchReadCommercePaymentsRequestExample'
      responses:
        '200':
          description: Successfully retrieved commerce payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReadResponse'
              examples:
                BatchReadCommercePaymentsSuccessExample:
                  $ref: '#/components/examples/BatchReadCommercePaymentsSuccessExample'
        '207':
          description: Multi-status response - some payments retrieved successfully, some failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReadResponse'
              examples:
                BatchReadCommercePaymentsPartialExample:
                  $ref: '#/components/examples/BatchReadCommercePaymentsPartialExample'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                ErrorBadRequestExample:
                  $ref: '#/components/examples/ErrorBadRequestExample'
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchreadcommercepayments401Example:
                  summary: Default batchReadCommercePayments 401 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: &id001
                    - message: This is an example description.
                      code: example-value
                      in: example-value
                      subCategory: standard
                      context:
                        key: value
                    context: &id002
                      key: value
                    links: &id003
                      key: value
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchreadcommercepayments500Example:
                  summary: Default batchReadCommercePayments 500 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id001
                    context: *id002
                    links: *id003
  /crm/v3/objects/commerce_payments/batch/archive:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Archive a Batch of Commerce Payments
      description: "Archives multiple commerce payment records by their IDs in a single request. \nArchived payments can be restored later if needed.\n"
      operationId: batchArchiveCommercePayments
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: 'def response = mockRequest.requestContent

          return "BatchArchiveCommercePaymentsSuccessExample"

          '
      security:
      - oauth2Auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveRequest'
            examples:
              BatchArchiveCommercePaymentsRequestExample:
                $ref: '#/components/examples/BatchArchiveCommercePaymentsRequestExample'
      responses:
        '204':
          description: Successfully archived commerce payments
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batcharchivecommercepayments400Example:
                  summary: Default batchArchiveCommercePayments 400 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: &id004
                    - message: This is an example description.
                      code: example-value
                      in: example-value
                      subCategory: standard
                      context:
                        key: value
                    context: &id005
                      key: value
                    links: &id006
                      key: value
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batcharchivecommercepayments401Example:
                  summary: Default batchArchiveCommercePayments 401 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id004
                    context: *id005
                    links: *id006
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batcharchivecommercepayments500Example:
                  summary: Default batchArchiveCommercePayments 500 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id004
                    context: *id005
                    links: *id006
  /crm/v3/objects/commerce_payments/batch/create:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Create a Batch of Commerce Payments
      description: "Creates multiple commerce payment records in a single request. Each payment can include \nproperties and associations with other CRM objects.\n"
      operationId: batchCreateCommercePayments
      x-microcks-operation:
        delay: 150
        dispatcher: SCRIPT
        dispatcherRules: 'def response = mockRequest.requestContent

          return "BatchCreateCommercePaymentsSuccessExample"

          '
      security:
      - oauth2Auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateRequest'
            examples:
              BatchCreateCommercePaymentsRequestExample:
                $ref: '#/components/examples/BatchCreateCommercePaymentsRequestExample'
      responses:
        '201':
          description: Successfully created commerce payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResponse'
              examples:
                BatchCreateCommercePaymentsSuccessExample:
                  $ref: '#/components/examples/BatchCreateCommercePaymentsSuccessExample'
        '207':
          description: Multi-status response - some payments created successfully, some failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResponse'
              examples:
                Batchcreatecommercepayments207Example:
                  summary: Default batchCreateCommercePayments 207 response
                  x-microcks-default: true
                  value:
                    status: PENDING
                    results:
                    - id: '500123'
                      properties:
                        key: value
                      createdAt: '2025-03-15T14:30:00Z'
                      updatedAt: '2025-03-15T14:30:00Z'
                      archived: true
                      archivedAt: '2025-03-15T14:30:00Z'
                      associations:
                        key: value
                      propertiesWithHistory:
                        key: value
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2025-03-15T14:30:00Z'
                    completedAt: '2025-03-15T14:30:00Z'
                    numErrors: 100
                    errors:
                    - status: active
                      id: '500123'
                      category: standard
                      message: This is an example description.
                      errors:
                      - {}
                      context:
                        key: value
                      links:
                        key: value
                      subCategory: standard
                    links:
                      key: value
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchcreatecommercepayments400Example:
                  summary: Default batchCreateCommercePayments 400 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: &id007
                    - message: This is an example description.
                      code: example-value
                      in: example-value
                      subCategory: standard
                      context:
                        key: value
                    context: &id008
                      key: value
                    links: &id009
                      key: value
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchcreatecommercepayments401Example:
                  summary: Default batchCreateCommercePayments 401 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id007
                    context: *id008
                    links: *id009
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchcreatecommercepayments500Example:
                  summary: Default batchCreateCommercePayments 500 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id007
                    context: *id008
                    links: *id009
  /crm/v3/objects/commerce_payments/batch/update:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Update a Batch of Commerce Payments
      description: "Updates multiple commerce payment records in a single request. Only the specified \nproperties will be updated; other properties remain unchanged.\n"
      operationId: batchUpdateCommercePayments
      x-microcks-operation:
        delay: 150
        dispatcher: SCRIPT
        dispatcherRules: 'def response = mockRequest.requestContent

          return "BatchUpdateCommercePaymentsSuccessExample"

          '
      security:
      - oauth2Auth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateRequest'
            examples:
              BatchUpdateCommercePaymentsRequestExample:
                $ref: '#/components/examples/BatchUpdateCommercePaymentsRequestExample'
      responses:
        '200':
          description: Successfully updated commerce payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateResponse'
              examples:
                BatchUpdateCommercePaymentsSuccessExample:
                  $ref: '#/components/examples/BatchUpdateCommercePaymentsSuccessExample'
        '207':
          description: Multi-status response - some payments updated successfully, some failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateResponse'
              examples:
                Batchupdatecommercepayments207Example:
                  summary: Default batchUpdateCommercePayments 207 response
                  x-microcks-default: true
                  value:
                    status: PENDING
                    results:
                    - id: '500123'
                      properties:
                        key: value
                      createdAt: '2025-03-15T14:30:00Z'
                      updatedAt: '2025-03-15T14:30:00Z'
                      archived: true
                      archivedAt: '2025-03-15T14:30:00Z'
                      associations:
                        key: value
                      propertiesWithHistory:
                        key: value
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2025-03-15T14:30:00Z'
                    completedAt: '2025-03-15T14:30:00Z'
                    numErrors: 100
                    errors:
                    - status: active
                      id: '500123'
                      category: standard
                      message: This is an example description.
                      errors:
                      - {}
                      context:
                        key: value
                      links:
                        key: value
                      subCategory: standard
                    links:
                      key: value
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchupdatecommercepayments400Example:
                  summary: Default batchUpdateCommercePayments 400 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: &id010
                    - message: This is an example description.
                      code: example-value
                      in: example-value
                      subCategory: standard
                      context:
                        key: value
                    context: &id011
                      key: value
                    links: &id012
                      key: value
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchupdatecommercepayments401Example:
                  summary: Default batchUpdateCommercePayments 401 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id010
                    context: *id011
                    links: *id012
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
              examples:
                Batchupdatecommercepayments500Example:
                  summary: Default batchUpdateCommercePayments 500 response
                  x-microcks-default: true
                  value:
                    category: standard
                    correlationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: This is an example description.
                    subCategory: standard
                    errors: *id010
                    context: *id011
                    links: *id012
  /crm/v3/objects/calls/batch/create:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Create a Batch of Calls
      description: 'Creates multiple call engagements in a single request.

        Each call can have its own properties and associations.

        Maximum of 100 calls per batch request.

        '
      operationId: batchCreateCalls
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchCreateCallsSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateCallsRequest'
            examples:
              BatchCreateCallsRequest:
                $ref: '#/components/examples/BatchCreateCallsRequest'
      responses:
        '201':
          description: Successfully created the batch of calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                BatchCreateCallsSuccessResponse:
                  $ref: '#/components/examples/BatchCreateCallsSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                Batchcreatecalls207Example:
                  summary: Default batchCreateCalls 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '512'
                      properties:
                        hs_call_title: Discovery Call
                        hs_call_body: Discussed product requirements
                        hs_call_duration: '1800000'
                        hs_call_direction: OUTBOUND
                        hs_call_disposition: connected
                        hs_call_status: COMPLETED
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/calls/batch/read:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Read a Batch of Calls
      description: 'Retrieves multiple call engagements by their IDs or a unique property value.

        Maximum of 100 calls per batch request.

        '
      operationId: batchReadCalls
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchReadCallsSuccessResponse"

          '
      parameters:
      - $ref: '#/components/parameters/ArchivedParam'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadCallsRequest'
            examples:
              BatchReadCallsRequest:
                $ref: '#/components/examples/BatchReadCallsRequest'
      responses:
        '200':
          description: Successfully retrieved the batch of calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                BatchReadCallsSuccessResponse:
                  $ref: '#/components/examples/BatchReadCallsSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                Batchreadcalls207Example:
                  summary: Default batchReadCalls 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '512'
                      properties:
                        hs_call_title: Discovery Call
                        hs_call_body: Discussed product requirements
                        hs_call_duration: '1800000'
                        hs_call_direction: OUTBOUND
                        hs_call_disposition: connected
                        hs_call_status: COMPLETED
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.read
      - PrivateApp:
        - crm.objects.contacts.read
  /crm/v3/objects/calls/batch/update:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Update a Batch of Calls
      description: 'Updates multiple call engagements in a single request.

        Each call update must include the call ID and the properties to update.

        Maximum of 100 calls per batch request.

        '
      operationId: batchUpdateCalls
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchUpdateCallsSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateCallsRequest'
            examples:
              BatchUpdateCallsRequest:
                $ref: '#/components/examples/BatchUpdateCallsRequest'
      responses:
        '200':
          description: Successfully updated the batch of calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                BatchUpdateCallsSuccessResponse:
                  $ref: '#/components/examples/BatchUpdateCallsSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCallsResponse'
              examples:
                Batchupdatecalls207Example:
                  summary: Default batchUpdateCalls 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '512'
                      properties:
                        hs_call_title: Discovery Call
                        hs_call_body: Discussed product requirements
                        hs_call_duration: '1800000'
                        hs_call_direction: OUTBOUND
                        hs_call_disposition: connected
                        hs_call_status: COMPLETED
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/calls/batch/archive:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Archive a Batch of Calls
      description: 'Archives (soft deletes) multiple call engagements in a single request.

        Maximum of 100 calls per batch request.

        '
      operationId: batchArchiveCalls
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchArchiveCallsSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveCallsRequest'
            examples:
              BatchArchiveCallsRequest:
                $ref: '#/components/examples/BatchArchiveCallsRequest'
      responses:
        '204':
          description: Successfully archived the batch of calls (no content returned)
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/notes/batch/create:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Create a Batch of Notes
      description: 'Creates multiple note engagements in a single request.

        Each note can have its own properties and associations.

        Maximum of 100 notes per batch request.

        '
      operationId: batchCreateNotes
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchCreateNotesSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateNotesRequest'
            examples:
              BatchCreateNotesRequest:
                $ref: '#/components/examples/BatchCreateNotesRequest'
      responses:
        '201':
          description: Successfully created the batch of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                BatchCreateNotesSuccessResponse:
                  $ref: '#/components/examples/BatchCreateNotesSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                Batchcreatenotes207Example:
                  summary: Default batchCreateNotes 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '1024'
                      properties:
                        hs_note_body: Met with client to discuss Q1 goals. They are interested in expanding their subscription.
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                        hubspot_owner_id: '12345'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_5'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/notes/batch/read:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Read a Batch of Notes
      description: 'Retrieves multiple note engagements by their IDs or a unique property value.

        Maximum of 100 notes per batch request.

        '
      operationId: batchReadNotes
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchReadNotesSuccessResponse"

          '
      parameters:
      - $ref: '#/components/parameters/ArchivedParam_2'
        example: example-value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadNotesRequest'
            examples:
              BatchReadNotesRequest:
                $ref: '#/components/examples/BatchReadNotesRequest'
      responses:
        '200':
          description: Successfully retrieved the batch of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                BatchReadNotesSuccessResponse:
                  $ref: '#/components/examples/BatchReadNotesSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                Batchreadnotes207Example:
                  summary: Default batchReadNotes 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '1024'
                      properties:
                        hs_note_body: Met with client to discuss Q1 goals. They are interested in expanding their subscription.
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                        hubspot_owner_id: '12345'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_5'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.read
      - PrivateApp:
        - crm.objects.contacts.read
  /crm/v3/objects/notes/batch/update:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Update a Batch of Notes
      description: 'Updates multiple note engagements in a single request.

        Each note update must include the note ID and the properties to update.

        Maximum of 100 notes per batch request.

        '
      operationId: batchUpdateNotes
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchUpdateNotesSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateNotesRequest'
            examples:
              BatchUpdateNotesRequest:
                $ref: '#/components/examples/BatchUpdateNotesRequest'
      responses:
        '200':
          description: Successfully updated the batch of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                BatchUpdateNotesSuccessResponse:
                  $ref: '#/components/examples/BatchUpdateNotesSuccessResponse'
        '207':
          description: Multi-status response (some operations succeeded, some failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNotesResponse'
              examples:
                Batchupdatenotes207Example:
                  summary: Default batchUpdateNotes 207 response
                  x-microcks-default: true
                  value:
                    status: COMPLETE
                    results:
                    - id: '1024'
                      properties:
                        hs_note_body: Met with client to discuss Q1 goals. They are interested in expanding their subscription.
                        hs_timestamp: '2024-01-15T10:30:00.000Z'
                        hubspot_owner_id: '12345'
                      propertiesWithHistory:
                        key: value
                      createdAt: '2024-01-15T10:30:00.000Z'
                      updatedAt: '2024-01-15T11:00:00.000Z'
                      archived: false
                      archivedAt: '2025-03-15T14:30:00Z'
                    requestedAt: '2025-03-15T14:30:00Z'
                    startedAt: '2024-01-15T10:30:00.000Z'
                    completedAt: '2024-01-15T10:30:05.000Z'
                    errors:
                    - status: error
                      category: VALIDATION_ERROR
                      message: Property value is invalid
                      context:
                        key: value
                      errors:
                      - {}
                    links:
                      key: value
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_5'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/notes/batch/archive:
    post:
      tags:
      - Batch Operations
      summary: Hubspot Archive a Batch of Notes
      description: 'Archives (soft deletes) multiple note engagements in a single request.

        Maximum of 100 notes per batch request.

        '
      operationId: batchArchiveNotes
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "BatchArchiveNotesSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveNotesRequest'
            examples:
              BatchArchiveNotesRequest:
                $ref: '#/components/examples/BatchArchiveNotesRequest'
      responses:
        '204':
          description: Successfully archived the batch of notes (no content returned)
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_5'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
components:
  examples:
    BatchCreateCommercePaymentsSuccessExample:
      summary: Successful batch create response
      value:
        status: COMPLETE
        results:
        - id: '12345678903'
          properties:
            hs_payment_status: pending
            hs_amount: '150.00'
            hs_currency: USD
            hs_payment_method: credit_card
          createdAt: '2024-01-20T10:00:00Z'
          updatedAt: '2024-01-20T10:00:00Z'
          archived: false
        - id: '12345678904'
          properties:
            hs_payment_status: pending
            hs_amount: '275.50'
            hs_currency: USD
            hs_payment_method: bank_transfer
          createdAt: '2024-01-20T10:00:00Z'
          updatedAt: '2024-01-20T10:00:00Z'
          archived: false
        startedAt: '2024-01-20T10:00:00Z'
        completedAt: '2024-01-20T10:00:01Z'
    BatchArchiveCallsRequest:
      summary: Request to batch archive calls
      value:
        inputs:
        - id: '512'
        - id: '513'
    ErrorExample_2:
      summary: Validation error
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input parameters
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BatchReadCommercePaymentsSuccessExample:
      summary: Successful batch read response
      value:
        status: COMPLETE
        results:
        - id: '12345678901'
          properties:
            hs_payment_status: completed
            hs_amount: '150.00'
            hs_currency: USD
          createdAt: '2024-01-15T10:30:00Z'
          updatedAt: '2024-01-15T14:45:00Z'
          archived: false
        - id: '12345678902'
          properties:
            hs_payment_status: pending
            hs_amount: '275.50'
            hs_currency: USD
          createdAt: '2024-01-16T09:00:00Z'
          updatedAt: '2024-01-16T09:00:00Z'
          archived: false
        startedAt: '2024-01-20T08:00:00Z'
        completedAt: '2024-01-20T08:00:01Z'
    ErrorBadRequestExample:
      summary: Bad request error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input JSON
        subCategory: INVALID_PARAMETER
        errors:
        - message: properties is required
          code: REQUIRED_FIELD
          in: body
    BatchResponseExample:
      summary: Successful batch operation response
      value:
        status: COMPLETE
        results:
        - id: '12345678901'
          name: Jane Smith
          slug: jane-smith
          created: '2024-01-15T10:30:00Z'
          updated: '2024-01-20T14:45:00Z'
        requestedAt: '2024-01-20T14:44:00Z'
        startedAt: '2024-01-20T14:44:01Z'
        completedAt: '2024-01-20T14:45:00Z'
    BatchUpdateNotesRequest:
      summary: Request to batch update notes
      value:
        inputs:
        - id: '1024'
          properties:
            hs_note_body: Updated Note 1
        - id: '1025'
          properties:
            hs_note_body: Updated Note 2
    BatchCreateCallsRequest:
      summary: Request to batch create calls
      value:
        inputs:
        - properties:
            hs_call_title: Call 1
            hs_call_direction: OUTBOUND
            hs_timestamp: '2024-01-15T10:30:00.000Z'
        - properties:
            hs_call_title: Call 2
            hs_call_direction: INBOUND
            hs_timestamp: '2024-01-15T11:30:00.000Z'
    BatchCreateCommercePaymentsRequestExample:
      summary: Example batch create request
      value:
        inputs:
        - properties:
            hs_payment_status: pending
            hs_amount: '150.00'
            hs_currency: USD
            hs_payment_method: credit_card
          associations:
          - to:
              id: '501'
            types:
            - associationCategory: HUBSPOT_DEFINED
              associationTypeId: 187
        - properties:
            hs_payment_status: pending
            hs_amount: '275.50'
            hs_currency: USD
            hs_payment_method: bank_transfer
    BatchCreateCallsSuccessResponse:
      summary: Successful response after batch creating calls
      value:
        status: COMPLETE
        results:
        - id: '512'
          properties:
            hs_call_title: Call 1
            hs_call_direction: OUTBOUND
            hs_timestamp: '2024-01-15T10:30:00.000Z'
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T10:30:00.000Z'
          archived: false
        - id: '513'
          properties:
            hs_call_title: Call 2
            hs_call_direction: INBOUND
            hs_timestamp: '2024-01-15T11:30:00.000Z'
          createdAt: '2024-01-15T11:30:00.000Z'
          updatedAt: '2024-01-15T11:30:00.000Z'
          archived: false
        startedAt: '2024-01-15T10:30:00.000Z'
        completedAt: '2024-01-15T10:30:05.000Z'
    BatchUpdateCommercePaymentsSuccessExample:
      summary: Successful batch update response
      value:
        status: COMPLETE
        results:
        - id: '12345678901'
          properties:
            hs_payment_status: completed
            hs_amount: '150.00'
            hs_currency: USD
          createdAt: '2024-01-15T10:30:00Z'
          updatedAt: '2024-01-20T11:00:00Z'
          archived: false
        - id: '12345678902'
          properties:
            hs_payment_status: refunded
            hs_amount: '275.50'
            hs_currency: USD
          createdAt: '2024-01-16T09:00:00Z'
          updatedAt: '2024-01-20T11:00:00Z'
          archived: false
        startedAt: '2024-01-20T11:00:00Z'
        completedAt: '2024-01-20T11:00:01Z'
    BatchReadNotesRequest:
      summary: Request to batch read notes
      value:
        inputs:
        - id: '1024'
        - id: '1025'
        properties:
        - hs_note_body
        - hs_timestamp
    BatchCreateNotesRequest:
      summary: Request to batch create notes
      value:
        inputs:
        - properties:
            hs_note_body: Note 1 - Initial contact made
            hs_timestamp: '2024-01-15T10:30:00.000Z'
        - properties:
            hs_note_body: Note 2 - Follow-up scheduled
            hs_timestamp: '2024-01-15T11:30:00.000Z'
    BatchReadCommercePaymentsPartialExample:
      summary: Partial success batch read response
      value:
        status: COMPLETE
        results:
        - id: '12345678901'
          properties:
            hs_payment_status: completed
            hs_amount: '150.00'
            hs_currency: USD
          createdAt: '2024-01-15T10:30:00Z'
          updatedAt: '2024-01-15T14:45:00Z'
          archived: false
        numErrors: 1
        errors:
        - status: '404'
          id: '12345678999'
          category: OBJECT_NOT_FOUND
          message: Commerce payment with id 12345678999 not found
        startedAt: '2024-01-20T08:00:00Z'
        completedAt: '2024-01-20T08:00:01Z'
    BatchReadCallsSuccessResponse:
      summary: Successful response after batch reading calls
      value:
        status: COMPLETE
        results:
        - id: '512'
          properties:
            hs_call_title: Discovery Call
            hs_call_direction: OUTBOUND
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T11:00:00.000Z'
          archived: false
        - id: '513'
          properties:
            hs_call_title: Follow-up Call
            hs_call_direction: INBOUND
          createdAt: '2024-01-16T14:00:00.000Z'
          updatedAt: '2024-01-16T14:30:00.000Z'
          archived: false
        startedAt: '2024-01-15T10:30:00.000Z'
        completedAt: '2024-01-15T10:30:01.000Z'
    BatchArchiveNotesRequest:
      summary: Request to batch archive notes
      value:
        inputs:
        - id: '1024'
        - id: '1025'
    BatchCreateNotesSuccessResponse:
      summary: Successful response after batch creating notes
      value:
        status: COMPLETE
        results:
        - id: '1024'
          properties:
            hs_note_body: Note 1 - Initial contact made
            hs_timestamp: '2024-01-15T10:30:00.000Z'
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T10:30:00.000Z'
          archived: false
        - id: '1025'
          properties:
            hs_note_body: Note 2 - Follow-up scheduled
            hs_timestamp: '2024-01-15T11:30:00.000Z'
          createdAt: '2024-01-15T11:30:00.000Z'
          updatedAt: '2024-01-15T11:30:00.000Z'
          archived: false
        startedAt: '2024-01-15T10:30:00.000Z'
        completedAt: '2024-01-15T10:30:05.000Z'
    BatchUpdateCommercePaymentsRequestExample:
      summary: Example batch update request
      value:
        inputs:
        - id: '12345678901'
          properties:
            hs_payment_status: completed
        - id: '12345678902'
          properties:
            hs_payment_status: refunded
    BatchReadNotesSuccessResponse:
      summary: Successful response after batch reading notes
      value:
        status: COMPLETE
        results:
        - id: '1024'
          properties:
            hs_note_body: Met with client to discuss Q1 goals.
            hs_timestamp: '2024-01-15T10:30:00.000Z'
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T11:00:00.000Z'
          archived: false
        - id: '1025'
          properties:
            hs_note_body: Follow-up call scheduled.
            hs_timestamp: '2024-01-16T14:00:00.000Z'
          createdAt: '2024-01-16T14:00:00.000Z'
          updatedAt: '2024-01-16T14:30:00.000Z'
          archived: false
        startedAt: '2024-01-15T10:30:00.000Z'
        completedAt: '2024-01-15T10:30:01.000Z'
    BatchReadCallsRequest:
      summary: Request to batch read calls
      value:
        inputs:
        - id: '512'
        - id: '513'
        properties:
        - hs_call_title
        - hs_call_direction
    ErrorResponse:
      summary: Example error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input (details will vary based on the error)
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BatchResponseExample_2:
      summary: Successful batch operation
      value:
        status: COMPLETE
        results:
        - id: '123456789012'
          name: How to Use HubSpot APIs
          state: PUBLISHED
          created: '2024-01-10T09:00:00Z'
          updated: '2024-01-15T10:00:00Z'
        requestedAt: '2024-01-20T14:44:00Z'
        startedAt: '2024-01-20T14:44:01Z'
        completedAt: '2024-01-20T14:45:00Z'
    BatchUpdateCallsRequest:
      summary: Request to batch update calls
      value:
        inputs:
        - id: '512'
          properties:
            hs_call_title: Updated Call 1
        - id: '513'
          properties:
            hs_call_title: Updated Call 2
    BatchUpdateNotesSuccessResponse:
      summary: Successful response after batch updating notes
      value:
        status: COMPLETE
        results:
        - id: '1024'
          properties:
            hs_note_body: Updated Note 1
            hs_timestamp: '2024-01-15T10:30:00.000Z'
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T12:00:00.000Z'
          archived: false
        - id: '1025'
          properties:
            hs_note_body: Updated Note 2
            hs_timestamp: '2024-01-16T14:00:00.000Z'
          createdAt: '2024-01-16T14:00:00.000Z'
          updatedAt: '2024-01-15T12:00:00.000Z'
          archived: false
        startedAt: '2024-01-15T12:00:00.000Z'
        completedAt: '2024-01-15T12:00:02.000Z'
    BatchReadInputExample:
      summary: Batch read input
      value:
        inputs:
        - id: '12345678901'
        - id: '12345678902'
    ErrorExample:
      summary: Validation error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input (details will vary based on the error)
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BatchReadCommercePaymentsRequestExample:
      summary: Example batch read request
      value:
        inputs:
        - id: '12345678901'
        - id: '12345678902'
        properties:
        - hs_payment_status
        - hs_amount
        - hs_currency
        propertiesWithHistory:
        - hs_payment_status
    BatchUpdateCallsSuccessResponse:
      summary: Successful response after batch updating calls
      value:
        status: COMPLETE
        results:
        - id: '512'
          properties:
            hs_call_title: Updated Call 1
            hs_call_direction: OUTBOUND
          createdAt: '2024-01-15T10:30:00.000Z'
          updatedAt: '2024-01-15T12:00:00.000Z'
          archived: false
        - id: '513'
          properties:
            hs_call_title: Updated Call 2
            hs_call_direction: INBOUND
          createdAt: '2024-01-16T14:00:00.000Z'
          updatedAt: '2024-01-15T12:00:00.000Z'
          archived: false
        startedAt: '2024-01-15T12:00:00.000Z'
        completedAt: '2024-01-15T12:00:02.000Z'
    BatchArchiveCommercePaymentsRequestExample:
      summary: Example batch archive request
      value:
        inputs:
        - id: '12345678901'
        - id: '12345678902'
  schemas:
    BatchUpdateCallsRequest:
      type: object
      description: Request body for batch updating calls
      required:
      - inputs
      properties:
        inputs:
          type: array
          description: Array of call updates
          items:
            $ref: '#/components/schemas/BatchUpdateInput'
          maxItems: 100
          example:
          - id: '512'
            properties:
              key: value
    BatchInput:
      type: object
      description: Input for batch update operations
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/BatchInputItem'
          description: Array of items to process
          example:
          - id: '500123'
            properties: {}
      required:
      - inputs
    Error_3:
      type: object
      description: An error response
      required:
      - category
      - correlationId
      - message
      properties:
        category:
          type: string
          description: The error category
          example: standard
        correlationId:
          type: string
          format: uuid
          description: A unique identifier for this error instance
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        message:
          type: string
          description: A human-readable error message
          example: This is an example description.
        subCategory:
          type: string
          description: A more specific error category
          example: standard
        errors:
          type: array
          description: Detailed error information
          items:
            $ref: '#/components/schemas/ErrorDetail_3'
          example:
          - message: This is an example description.
            code: example-value
            in: example-value
            subCategory: standard
            context:
              key: value
        context:
          type: object
          description: Additional context about the error
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        links:
          type: object
          description: Related links
          additionalProperties:
            type: string
          example:
            key: value
    BatchResponseWithErrors:
      allOf:
      - $ref: '#/components/schemas/BatchResponse'
      - type: object
        properties:
          numErrors:
            type: integer
            description: Number of errors encountered during processing
          errors:
            type: array
            items:
              $ref: '#/components/schemas/StandardError'
            description: List of errors encountered
    BatchInputItem_2:
      type: object
      description: Single item in a batch archive operation
      properties:
        id:
          type: string
          description: ID of the post to process
          example: '500123'
      required:
      - id
    ErrorDetail_4:
      type: object
      description: Detailed error information
      required:
      - message
      properties:
        message:
          type: string
          description: Error message
          example: This is an example description.
        code:
          type: string
          description: Error code
          example: example-value
        in:
          type: string
          description: Field where error occurred
          example: example-value
        subCategory:
          type: string
          description: Error subcategory
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
    BatchCreateResponse:
      type: object
      description: Response from a batch create operation
      required:
      - status
      - results
      - startedAt
      - completedAt
      properties:
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          example: PENDING
        results:
          type: array
          items:
            $ref: '#/components/schemas/CommercePayment'
          example:
          - id: '500123'
            properties:
              key: value
            createdAt: '2025-03-15T14:30:00Z'
            updatedAt: '2025-03-15T14:30:00Z'
            archived: true
            archivedAt: '2025-03-15T14:30:00Z'
            associations:
              key: value
            propertiesWithHistory:
              key: value
        requestedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        startedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        completedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        numErrors:
          type: integer
          example: 100
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchError'
          example:
          - status: active
            id: '500123'
            category: standard
            message: This is an example description.
            errors:
            - {}
            context:
              key: value
            links:
              key: value
            subCategory: standard
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
    Error_5:
      type: object
      description: Error response
      required:
      - category
      - correlationId
      - message
      properties:
        category:
          type: string
          description: The error category
          example: VALIDATION_ERROR
        correlationId:
          type: string
          format: uuid
          description: Unique request identifier for debugging
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message:
          type: string
          description: Human-readable error message
          example: Invalid input (details will vary based on the error)
        subCategory:
          type: string
          description: More specific error category
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail_5'
          example:
          - message: This is an example description.
            code: example-value
            in: example-value
            subCategory: standard
            context:
              key: value
    AssociationInput_3:
      type: object
      description: Association to create with another object
      required:
      - to
      - types
      properties:
        to:
          type: object
          required:
          - id
          properties:
            id:
              type: string
              description: The ID of the object to associate with
              example: '101'
          example:
            id: '101'
        types:
          type: array
          description: The association types
          items:
            $ref: '#/components/schemas/AssociationType_3'
          example:
          - associationCategory: HUBSPOT_DEFINED
            associationTypeId: 202
    AssociationType:
      type: object
      description: An association type definition
      required:
      - associationCategory
      - associationTypeId
      properties:
        associationCategory:
          type: string
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          description: The category of the association
          example: HUBSPOT_DEFINED
        associationTypeId:
          type: integer
          description: The numeric ID of the association type
          example: 500123
    BatchCreateInput:
      type: object
      description: Input for batch create operations
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/BlogAuthorInput'
          description: Array of authors to create
          example:
          - name: Example Record
            slug: example-value
            email: jsmith@example.com
            bio: example-value
            website: https://app.hubspot.com/contacts/12345
            twitter: example-value
            facebook: example-value
            linkedin: https://app.hubspot.com/contacts/12345
            avatar: https://app.hubspot.com/contacts/12345
      required:
      - inputs
    BatchReadCallsRequest:
      type: object
      description: Request body for batch reading calls
      required:
      - inputs
      properties:
        inputs:
          type: array
          description: Array of call identifiers
          items:
            $ref: '#/components/schemas/BatchReadInput_2'
          maxItems: 100
          example:
          - id: '512'
        properties:
          type: array
          description: Properties to return
          items:
            type: string
          example:
          - example-value
        propertiesWithHistory:
          type: array
          description: Properties to return with history
          items:
            type: string
          example:
          - example-value
        idProperty:
          type: string
          description: The property to use as the identifier
          example: '500123'
    BatchResponse:
      type: object
      description: Response from batch operations
      properties:
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          description: Current status of the batch operation
          example: PENDING
        results:
          type: array
          items:
            $ref: '#/components/schemas/BlogAuthor'
          description: Successfully processed authors
          example:
          - id: '500123'
            name: Example Record
            slug: example-value
            email: jsmith@example.com
            bio: example-value
            website: https://app.hubspot.com/contacts/12345
            twitter: example-value
            facebook: example-value
            linkedin: https://app.hubspot.com/contacts/12345
            avatar: https://app.hubspot.com/contacts/12345
            language: en
            translatedFromId: '500123'
            created: '2025-03-15T14:30:00Z'
            updated: '2025-03-15T14:30:00Z'
            deletedAt: '2025-03-15T14:30:00Z'
        requestedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the batch was requested
          example: '2025-03-15T14:30:00Z'
        startedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing started
          example: '2025-03-15T14:30:00Z'
        completedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing completed
          example: '2025-03-15T14:30:00Z'
        links:
          type: object
          additionalProperties:
            type: string
          description: Related links for the batch operation
          example:
            key: value
      required:
      - status
      - results
      - startedAt
      - completedAt
    BatchCreateCallsRequest:
      type: object
      description: Request body for batch creating calls
      required:
      - inputs
      properties:
        inputs:
          type: array
          description: Array of calls to create
          items:
            $ref: '#/components/schemas/CallCreateRequest'
          maxItems: 100
          example:
          - properties:
              hs_call_title: Discovery Call
              hs_call_body: Discussed product requirements
              hs_call_duration: '1800000'
              hs_call_direction: OUTBOUND
              hs_timestamp: '2024-01-15T10:30:00.000Z'
            associations:
            - to:
                id: {}
              types:
              - {}
    AssociationType_2:
      type: object
      description: Type of association
      required:
      - associationCategory
      - associationTypeId
      properties:
        associationCategory:
          type: string
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          description: The category of association
          example: HUBSPOT_DEFINED
        associationTypeId:
          type: integer
          description: The association type ID
          example: 194
    BatchReadNotesRequest:
      type: object
      description: Request body for batch reading notes
      required:
      - inputs
      properties:
        inputs:
          type: array
          description: Array of note identifiers
          items:
            $ref: '#/components/schemas/BatchReadInput_3'
          maxItems: 100
          example:
          - id: '1024'
        properties:
          type: array
          description: Properties to return
          items:
            type: string
          example:
          - example-value
        propertiesWithHistory:
          type: array
          description: Properties to return with history
          items:
            type: string
          example:
          - example-value
        idProperty:
          type: string
          description: The property to use as the identifier
          example: '500123'
    ErrorDetail:
      type: object
      description: Detailed information about a specific error
      properties:
        message:
          type: string
          description: Human-readable error message
          example: This is an example description.
        code:
          type: string
          description: Machine-readable error code
          example: example-value
        subCategory:
          type: string
          description: Specific error subcategory
          example: standard
        in:
          type: string
          description: Location where the error occurred
          example: example-value
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Additional context about the error
          example:
            key: value
      required:
      - message
    AssociationType_3:
      type: object
      description: Type of association
      required:
      - associationCategory
      - associationTypeId
      properties:
        associationCategory:
          type: string
          enum:
          - HUBSPOT_DEFINED
          - USER_DEFINED
          - INTEGRATOR_DEFINED
          description: The category of association
          example: HUBSPOT_DEFINED
        associationTypeId:
          type: integer
          description: The association type ID
          example: 202
    BatchReadInputItem:
      type: object
      description: A single input item for batch read
      required:
      - id
      properties:
        id:
          type: string
          description: The ID of the payment to read
          example: '500123'
    ErrorDetail_2:
      type: object
      description: Detailed error information
      properties:
        message:
          type: string
          description: Error message
          example: This is an example description.
        code:
          type: string
          description: Error code
          example: example-value
        subCategory:
          type: string
          description: Error subcategory
          example: standard
        in:
          type: string
          description: Location of error
          example: example-value
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
      required:
      - message
    PropertyHistory_3:
      type: object
      description: Historical value of a property
      properties:
        value:
          type: string
          description: The historical value
          example: Initial meeting notes
        timestamp:
          type: string
          format: date-time
          description: When the value was set
          example: '2024-01-15T10:30:00.000Z'
        sourceType:
          type: string
          description: The source type that set this value
          example: CRM_UI
        sourceId:
          type: string
          description: The source identifier
          example: userId:12345
        sourceLabel:
          type: string
          description: Human-readable source label
          example: John Doe
        updatedByUserId:
          type: integer
          description: The user ID who made the change
          example: 12345
    BlogAuthorInput:
      type: object
      description: Input data for creating or updating a blog author
      properties:
        name:
          type: string
          description: Full display name of the author
          example: Example Record
        slug:
          type: string
          description: URL-friendly identifier for the author
          example: example-value
        email:
          type: string
          format: email
          description: Author's email address
          example: jsmith@example.com
        bio:
          type: string
          description: Author biography or description
          example: example-value
        website:
          type: string
          format: uri
          description: Author's personal website URL
          example: https://app.hubspot.com/contacts/12345
        twitter:
          type: string
          description: Author's Twitter/X handle
          example: example-value
        facebook:
          type: string
          description: Author's Facebook profile URL
          example: example-value
        linkedin:
          type: string
          description: Author's LinkedIn profile URL
          example: https://app.hubspot.com/contacts/12345
        avatar:
          type: string
          format: uri
          description: URL to the author's avatar image
          example: https://app.hubspot.com/contacts/12345
      required:
      - name
    BatchArchiveInput:
      type: object
      description: Input for batch archive operations
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: ID of the author to archive
            required:
            - id
          description: Array of author IDs to archive
          example:
          - id: '500123'
      required:
      - inputs
    ErrorDetail_3:
      type: object
      description: Detailed error information
      required:
      - message
      properties:
        message:
          type: string
          description: The error message
          example: This is an example description.
        code:
          type: string
          description: An error code
          example: example-value
        in:
          type: string
          description: The location of the error
          example: example-value
        subCategory:
          type: string
          description: A specific error subcategory
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
    BatchUpdateResponse:
      type: object
      description: Response from a batch update operation
      required:
      - status
      - results
      - startedAt
      - completedAt
      properties:
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          example: PENDING
        results:
          type: array
          items:
            $ref: '#/components/schemas/CommercePayment'
          example:
          - id: '500123'
            properties:
              key: value
            createdAt: '2025-03-15T14:30:00Z'
            updatedAt: '2025-03-15T14:30:00Z'
            archived: true
            archivedAt: '2025-03-15T14:30:00Z'
            associations:
              key: value
            propertiesWithHistory:
              key: value
        requestedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        startedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        completedAt:
          type: string
          format: date-time
          example: '2025-03-15T14:30:00Z'
        numErrors:
          type: integer
          example: 100
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchError'
          example:
          - status: active
            id: '500123'
            category: standard
            message: This is an example description.
            errors:
            - {}
            context:
              key: value
            links:
              key: value
            subCategory: standard
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
    BatchArchiveNotesRequest:
      type: object
      description: Request body for batch archiving notes
      required:
      - inputs
      properties:
        inputs:
          type: array
          description: Array of note identifiers to archive
          items:
            $ref: '#/components/schemas/BatchReadInput_3'
          maxItems: 100
          example:
          - id: '1024'
    BatchReadInput:
      type: object
      description: Input for batch read operations
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: ID of the author to read
            required:
            - id
          description: Array of author IDs to retrieve
          example:
          - id: '500123'
      required:
      - inputs
    Error_2:
      type: object
      description: Standard error response
      properties:
        category:
          type: string
          description: Error category
          example: standard
        correlationId:
          type: string
          format: uuid
          description: Unique tracking identifier
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        message:
          type: string
          description: Error message
          example: This is an example description.
        subCategory:
          type: string
          description: Error subcategory
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail_2'
          example:
          - message: This is an example description.
            code: example-value
            subCategory: standard
            in: example-value
            context:
              key: value
      required:
      - category
      - correlationId
      - message
    BatchResponse_2:
      type: object
      description: Response from batch operations
      properties:
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          description: Current status of the batch operation
          example: PENDING
        results:
          type: array
          items:
            $ref: '#/components/schemas/BlogPost'
          description: Successfully processed posts
          example:
          - id: '500123'
            name: Example Record
            slug: example-value
            htmlTitle: Example Record
            postBody: This is an example description.
            postSummary: example-value
            blogAuthorId: '500123'
            authorName: Example Record
            contentGroupId: '500123'
            campaign: example-value
            categoryId: 500123
            state: DRAFT
            currentState: active
            publishDate: '2025-03-15T14:30:00Z'
            created: '2025-03-15T14:30:00Z'
            updated: '2025-03-15T14:30:00Z'
            archivedAt: '2025-03-15T14:30:00Z'
            currentlyPublished: true
            domain: example.hubspot.com
            featuredImage: example-value
            featuredImageAltText: example-value
            metaDescription: This is an example description.
            headHtml: example-value
            footerHtml: example-value
            language: en
            translatedFromId: '500123'
            tagIds:
            - 500123
            useFeaturedImage: true
            url: https://app.hubspot.com/contacts/12345
            abStatus: master
            abTestId: '500123'
            folderId: '500123'
        requestedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the batch was requested
          example: '2025-03-15T14:30:00Z'
        startedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing started
          example: '2025-03-15T14:30:00Z'
        completedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when processing completed
          example: '2025-03-15T14:30:00Z'
        links:
          type: object
          additionalProperties:
            type: string
          description: Related links
          example:
            key: value
      required:
      - status
      - results
      - startedAt
      - completedAt
    BatchError_2:
      type: object
      description: Error information for a batch operation item
      properties:
        status:
          type: string
          description: The error status
          example: error
        category:
          type: string
          description: The error category
          example: VALIDATION_ERROR
        message:
          type: string
          description: The error message
          example: Property value is invalid
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail_4'
          example:
          - message: This is an example description.
            code: example-value
            in: example-value
            subCategory: standard
            context:
              key: value
    BlogPost:
      type: object
      description: Represents a blog post with all content and metadata
      properties:
        id:
          type: string
          description: Unique identifier for the blog post
          example: '500123'
        name:
          type: string
          description: Internal name of the blog post
          example: Example Record
        slug:
          type: string
          description: URL slug for the blog post
          example: example-value
        htmlTitle:
          type: string
          description: HTML title tag content
          example: Example Record
        postBody:
          type: string
          description: HTML content of the blog post body
          example: This is an example description.
        postSummary:
          type: string
          description: Summary or excerpt of the blog post
          example: example-value
        blogAuthorId:
          type: string
          description: ID of the associated blog author
          example: '500123'
        authorName:
          type: string
          description: Display name of the author
          example: Example Record
        contentGroupId:
          type: string
          description: ID of the blog this post belongs to
          example: '500123'
        campaign:
          type: string
          description: Campaign GUID associated with the post
          example: example-value
        categoryId:
          type: integer
          description: Category ID for the post
          example: 500123
        state:
          type: string
          enum:
          - DRAFT
          - DRAFT_AB
          - AUTOMATED
          - PUBLISHED
          - SCHEDULED
          - AUTOMATED_DRAFT
          description: Current state of the blog post
          example: DRAFT
        currentState:
          type: string
          description: Current state description
          example: active
        publishDate:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the post was/will be published
          example: '2025-03-15T14:30:00Z'
        created:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the post was created
          example: '2025-03-15T14:30:00Z'
        updated:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the post was last updated
          example: '2025-03-15T14:30:00Z'
        archivedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the post was archived
          example: '2025-03-15T14:30:00Z'
        currentlyPublished:
          type: boolean
          description: Whether the post is currently published
          example: true
        domain:
          type: string
          description: Domain where the post is published
          example: example.hubspot.com
        featuredImage:
          type: string
          description: URL of the featured image
          example: example-value
[...]
