openapi: 3.1.0
info:
  title: HubSpot Analytics Events Access Tokens GDPR Compliance API
  description: "The HubSpot Analytics Events API allows you to retrieve event completion data \nfrom your HubSpot account. Use this API to query event instances associated with \nCRM objects, filter by event types, and analyze user behavior and engagement patterns.\n\n## Key Features\n- Retrieve event instances for CRM objects\n- Filter events by type, date range, and object\n- Paginate through large result sets\n- Query available event types\n"
  version: 3.0.0
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.hubapi.com
  description: HubSpot Production API Server
tags:
- name: GDPR Compliance
  description: GDPR-compliant data management operations
paths:
  /crm/v3/objects/calls/gdpr-delete:
    post:
      tags:
      - GDPR Compliance
      summary: Hubspot Permanently Delete a Call for Gdpr Compliance
      description: 'Permanently deletes a call engagement for GDPR compliance.

        This action cannot be undone. Use this endpoint when you need to comply with a data subject''s right to erasure request.

        '
      operationId: gdprDeleteCall
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "GdprDeleteCallSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdprDeleteRequest'
            examples:
              GdprDeleteRequest:
                $ref: '#/components/examples/GdprDeleteRequest'
      responses:
        '204':
          description: Successfully deleted the call (no content returned)
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
  /crm/v3/objects/notes/gdpr-delete:
    post:
      tags:
      - GDPR Compliance
      summary: Hubspot Permanently Delete a Note for Gdpr Compliance
      description: 'Permanently deletes a note engagement for GDPR compliance.

        This action cannot be undone. Use this endpoint when you need to comply with a data subject''s right to erasure request.

        '
      operationId: gdprDeleteNote
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "GdprDeleteNoteSuccessResponse"

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdprDeleteRequest_2'
            examples:
              GdprDeleteRequest:
                $ref: '#/components/examples/GdprDeleteRequest_2'
      responses:
        '204':
          description: Successfully deleted the note (no content returned)
        default:
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ErrorResponse:
                  $ref: '#/components/examples/ErrorResponse'
      security:
      - OAuth2:
        - crm.objects.contacts.write
      - PrivateApp:
        - crm.objects.contacts.write
components:
  schemas:
    GdprDeleteRequest:
      type: object
      description: Request body for GDPR deletion
      required:
      - objectId
      properties:
        objectId:
          type: string
          description: The ID of the call to permanently delete
          example: '512'
        idProperty:
          type: string
          description: The property used as the identifier
          example: '500123'
    ErrorDetail:
      type: object
      description: Detailed error information
      required:
      - message
      properties:
        message:
          type: string
          description: Error message
          example: This is an example description.
        code:
          type: string
          description: Error code
          example: example-value
        in:
          type: string
          description: Field where error occurred
          example: example-value
        subCategory:
          type: string
          description: Error subcategory
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
    Error:
      type: object
      description: Error response
      required:
      - category
      - correlationId
      - message
      properties:
        category:
          type: string
          description: The error category
          example: VALIDATION_ERROR
        correlationId:
          type: string
          format: uuid
          description: Unique request identifier for debugging
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message:
          type: string
          description: Human-readable error message
          example: Invalid input (details will vary based on the error)
        subCategory:
          type: string
          description: More specific error category
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          example:
          - message: This is an example description.
            code: example-value
            in: example-value
            subCategory: standard
            context:
              key: value
    GdprDeleteRequest_2:
      type: object
      description: Request body for GDPR deletion
      required:
      - objectId
      properties:
        objectId:
          type: string
          description: The ID of the note to permanently delete
          example: '1024'
        idProperty:
          type: string
          description: The property used as the identifier
          example: '500123'
  examples:
    ErrorResponse:
      summary: Example error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input (details will vary based on the error)
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    GdprDeleteRequest_2:
      summary: Request for GDPR deletion
      value:
        objectId: '1024'
    GdprDeleteRequest:
      summary: Request for GDPR deletion
      value:
        objectId: '512'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            analytics.read: Read analytics data
