openapi: 3.1.0
info:
  title: HubSpot CRM Contacts API
  description: >-
    Contact records store information about individuals. The contacts endpoints
    allow you to manage contact data and sync it between HubSpot and other
    systems. You can create, retrieve, update, and delete contacts, as well as
    manage associations between contacts and other CRM objects.
  version: v3
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com/
servers:
- url: https://api.hubapi.com
  description: HubSpot API
security:
- oauth2: []
tags:
- name: Contacts
  description: Operations for managing contact records
- name: Batch
  description: Batch operations for contacts
- name: Associations
  description: Operations for managing contact associations
paths:
  /crm/v3/objects/contacts:
    get:
      operationId: listContacts
      summary: List contacts
      description: >-
        Returns a page of contact records. Use the limit and after parameters
        to paginate through contacts. You can also specify which properties to
        return using the properties parameter.
      tags:
      - Contacts
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to return per page.
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: after
        in: query
        description: The cursor for pagination to get the next page of results.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived contacts.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with a list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseContact'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createContact
      summary: Create a contact
      description: >-
        Creates a new contact record with the provided properties. The request
        body should include a properties object containing the field values
        for the contact you want to create.
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '201':
          description: Contact created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/{contactId}:
    get:
      operationId: getContact
      summary: Get a contact
      description: >-
        Returns a single contact record by its ID. You can specify which
        properties to return using the properties parameter.
      tags:
      - Contacts
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact to retrieve.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived contacts.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with the contact record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateContact
      summary: Update a contact
      description: >-
        Performs a partial update of a contact record. Only the properties
        included in the request body will be updated; other properties will
        remain unchanged.
      tags:
      - Contacts
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact to update.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '200':
          description: Contact updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteContact
      summary: Archive a contact
      description: >-
        Archives (soft deletes) a contact record by its ID. Archived contacts
        can be restored using the HubSpot UI or API. This does not permanently
        delete the contact from HubSpot.
      tags:
      - Contacts
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact to archive.
        schema:
          type: string
      responses:
        '204':
          description: Contact archived successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/contacts/batch/read:
    post:
      operationId: batchReadContacts
      summary: Batch read contacts
      description: >-
        Reads a batch of contact records by their IDs or unique property values.
        Useful for retrieving multiple contacts in a single API call instead
        of making individual requests.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
      responses:
        '200':
          description: Batch read completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/batch/create:
    post:
      operationId: batchCreateContacts
      summary: Batch create contacts
      description: >-
        Creates multiple contact records in a single API call. The request
        body should include an array of contact property objects. Returns
        the created contact records.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
      responses:
        '201':
          description: Contacts created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/batch/update:
    post:
      operationId: batchUpdateContacts
      summary: Batch update contacts
      description: >-
        Updates multiple contact records in a single API call. Each record
        in the request must include the contact ID and the properties to update.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateInput'
      responses:
        '200':
          description: Contacts updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/batch/archive:
    post:
      operationId: batchArchiveContacts
      summary: Batch archive contacts
      description: >-
        Archives multiple contact records in a single API call by their IDs.
        Archived contacts can be restored using the HubSpot UI or API.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveInput'
      responses:
        '204':
          description: Contacts archived successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/search:
    post:
      operationId: searchContacts
      summary: Search contacts
      description: >-
        Searches for contact records using filter groups, sorts, and other
        query parameters. Supports complex filtering with multiple filter
        groups and operators for precise record retrieval.
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseContact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/contacts/{contactId}/associations/{toObjectType}:
    get:
      operationId: listContactAssociations
      summary: List contact associations
      description: >-
        Returns all associations of a contact record to objects of a specified
        type, such as companies, deals, or tickets.
      tags:
      - Associations
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of associated object (e.g., companies, deals, tickets).
        schema:
          type: string
      responses:
        '200':
          description: List of associations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/contacts/{contactId}/associations/{toObjectType}/{toObjectId}/{associationType}:
    put:
      operationId: createContactAssociation
      summary: Create a contact association
      description: >-
        Creates an association between a contact and another CRM object record.
        The association type specifies the relationship between the objects.
      tags:
      - Associations
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the object to associate with.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the object to associate with.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to create.
        schema:
          type: string
      responses:
        '200':
          description: Association created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteContactAssociation
      summary: Delete a contact association
      description: >-
        Removes an association between a contact and another CRM object record.
        This does not delete the contact or the associated object, only the
        relationship between them.
      tags:
      - Associations
      parameters:
      - name: contactId
        in: path
        required: true
        description: The ID of the contact.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the associated object.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the associated object.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to delete.
        schema:
          type: string
      responses:
        '204':
          description: Association deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    oauth2:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (access token from OAuth flow)
  schemas:
    Contact:
      type: object
      description: A HubSpot contact record.
      properties:
        id:
          type: string
          description: The unique identifier for the contact.
        properties:
          type: object
          description: The contact's properties as key-value pairs.
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: The date and time the contact was created.
        updatedAt:
          type: string
          format: date-time
          description: The date and time the contact was last updated.
        archived:
          type: boolean
          description: Whether the contact has been archived.
        associations:
          type: object
          description: The contact's associations with other CRM objects.
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociation'
    CollectionResponseContact:
      type: object
      description: A paginated list of contact records.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        paging:
          $ref: '#/components/schemas/Paging'
    BatchResponseContact:
      type: object
      description: Results from a batch operation on contacts.
      properties:
        status:
          type: string
          description: The status of the batch operation.
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        completedAt:
          type: string
          format: date-time
    SimplePublicObjectInput:
      type: object
      description: Input for creating or updating a CRM object.
      properties:
        properties:
          type: object
          description: The properties to set on the object.
          additionalProperties:
            type: string
    BatchReadInput:
      type: object
      description: Input for a batch read operation.
      properties:
        properties:
          type: array
          items:
            type: string
          description: The properties to return for each record.
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
          description: The IDs of the records to read.
    BatchCreateInput:
      type: object
      description: Input for a batch create operation.
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
    BatchUpdateInput:
      type: object
      description: Input for a batch update operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                additionalProperties:
                  type: string
    BatchArchiveInput:
      type: object
      description: Input for a batch archive operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    SearchRequest:
      type: object
      description: A search request for CRM objects.
      properties:
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
              direction:
                type: string
                enum: [ASCENDING, DESCENDING]
        query:
          type: string
          description: Full-text search query string.
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
          maximum: 200
        after:
          type: string
    FilterGroup:
      type: object
      description: A group of filters combined with AND logic.
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      description: A single filter condition.
      properties:
        propertyName:
          type: string
          description: The name of the property to filter on.
        operator:
          type: string
          enum: [EQ, NEQ, LT, LTE, GT, GTE, BETWEEN, IN, NOT_IN, HAS_PROPERTY, NOT_HAS_PROPERTY, CONTAINS_TOKEN, NOT_CONTAINS_TOKEN]
          description: The filter operator.
        value:
          type: string
          description: The value to compare against.
    Association:
      type: object
      description: An association between two CRM objects.
      properties:
        id:
          type: string
        type:
          type: string
    CollectionResponseAssociation:
      type: object
      description: A list of associations.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      description: Pagination information.
      properties:
        next:
          type: object
          properties:
            after:
              type: string
              description: The cursor to use to get the next page of results.
    Error:
      type: object
      description: An error response.
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is invalid or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
