openapi: 3.1.0
info:
  title: HubSpot CRM Tickets API
  description: >-
    Tickets represent customer requests for help and are tracked through support
    pipelines until resolved. The tickets endpoints allow you to create, manage,
    and retrieve customer support ticket records and associate them with contacts,
    companies, and other CRM objects.
  version: v3
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com/
servers:
- url: https://api.hubapi.com
  description: HubSpot API
security:
- oauth2: []
tags:
- name: Tickets
  description: Operations for managing ticket records
- name: Batch
  description: Batch operations for tickets
- name: Associations
  description: Operations for managing ticket associations
paths:
  /crm/v3/objects/tickets:
    get:
      operationId: listTickets
      summary: List tickets
      description: >-
        Returns a page of ticket records. Use the limit and after parameters
        to paginate through tickets. You can also specify which properties to
        return using the properties parameter.
      tags:
      - Tickets
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to return per page.
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: after
        in: query
        description: The cursor for pagination to get the next page of results.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived tickets.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with a list of tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseTicket'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTicket
      summary: Create a ticket
      description: >-
        Creates a new ticket record with the provided properties. The request
        body should include a properties object containing field values such as
        subject, content, hs_ticket_priority, and hs_pipeline_stage.
      tags:
      - Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '201':
          description: Ticket created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/{ticketId}:
    get:
      operationId: getTicket
      summary: Get a ticket
      description: >-
        Returns a single ticket record by its ID. You can specify which
        properties to return using the properties parameter.
      tags:
      - Tickets
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket to retrieve.
        schema:
          type: string
      - name: properties
        in: query
        description: A comma-separated list of property names to return.
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return archived tickets.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response with the ticket record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTicket
      summary: Update a ticket
      description: >-
        Performs a partial update of a ticket record. Only the properties
        included in the request body will be updated; other properties will
        remain unchanged.
      tags:
      - Tickets
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket to update.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
      responses:
        '200':
          description: Ticket updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTicket
      summary: Archive a ticket
      description: >-
        Archives (soft deletes) a ticket record by its ID. Archived tickets
        can be restored using the HubSpot UI or API.
      tags:
      - Tickets
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket to archive.
        schema:
          type: string
      responses:
        '204':
          description: Ticket archived successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/tickets/batch/read:
    post:
      operationId: batchReadTickets
      summary: Batch read tickets
      description: >-
        Reads a batch of ticket records by their IDs or unique property values.
        Useful for retrieving multiple tickets in a single API call.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInput'
      responses:
        '200':
          description: Batch read completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/batch/create:
    post:
      operationId: batchCreateTickets
      summary: Batch create tickets
      description: >-
        Creates multiple ticket records in a single API call. The request
        body should include an array of ticket property objects.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateInput'
      responses:
        '201':
          description: Tickets created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/batch/update:
    post:
      operationId: batchUpdateTickets
      summary: Batch update tickets
      description: >-
        Updates multiple ticket records in a single API call. Each record
        in the request must include the ticket ID and the properties to update.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateInput'
      responses:
        '200':
          description: Tickets updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/batch/archive:
    post:
      operationId: batchArchiveTickets
      summary: Batch archive tickets
      description: >-
        Archives multiple ticket records in a single API call by their IDs.
        Archived tickets can be restored using the HubSpot UI or API.
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchArchiveInput'
      responses:
        '204':
          description: Tickets archived successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/search:
    post:
      operationId: searchTickets
      summary: Search tickets
      description: >-
        Searches for ticket records using filter groups, sorts, and other
        query parameters. Supports complex filtering with multiple filter
        groups and operators for precise record retrieval.
      tags:
      - Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /crm/v3/objects/tickets/{ticketId}/associations/{toObjectType}:
    get:
      operationId: listTicketAssociations
      summary: List ticket associations
      description: >-
        Returns all associations of a ticket record to objects of a specified
        type, such as contacts, companies, or deals.
      tags:
      - Associations
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of associated object (e.g., contacts, companies, deals).
        schema:
          type: string
      responses:
        '200':
          description: List of associations returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseAssociation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /crm/v3/objects/tickets/{ticketId}/associations/{toObjectType}/{toObjectId}/{associationType}:
    put:
      operationId: createTicketAssociation
      summary: Create a ticket association
      description: >-
        Creates an association between a ticket and another CRM object record.
        The association type specifies the relationship between the objects.
      tags:
      - Associations
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the object to associate with.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the object to associate with.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to create.
        schema:
          type: string
      responses:
        '200':
          description: Association created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTicketAssociation
      summary: Delete a ticket association
      description: >-
        Removes an association between a ticket and another CRM object record.
        This does not delete the ticket or the associated object, only the
        relationship between them.
      tags:
      - Associations
      parameters:
      - name: ticketId
        in: path
        required: true
        description: The ID of the ticket.
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        description: The type of the associated object.
        schema:
          type: string
      - name: toObjectId
        in: path
        required: true
        description: The ID of the associated object.
        schema:
          type: string
      - name: associationType
        in: path
        required: true
        description: The type of association to delete.
        schema:
          type: string
      responses:
        '204':
          description: Association deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    oauth2:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token (access token from OAuth flow)
  schemas:
    Ticket:
      type: object
      description: A HubSpot ticket record.
      properties:
        id:
          type: string
          description: The unique identifier for the ticket.
        properties:
          type: object
          description: The ticket's properties as key-value pairs.
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: The date and time the ticket was created.
        updatedAt:
          type: string
          format: date-time
          description: The date and time the ticket was last updated.
        archived:
          type: boolean
          description: Whether the ticket has been archived.
        associations:
          type: object
          description: The ticket's associations with other CRM objects.
          additionalProperties:
            $ref: '#/components/schemas/CollectionResponseAssociation'
    CollectionResponseTicket:
      type: object
      description: A paginated list of ticket records.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
        paging:
          $ref: '#/components/schemas/Paging'
    BatchResponseTicket:
      type: object
      description: Results from a batch operation on tickets.
      properties:
        status:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
        completedAt:
          type: string
          format: date-time
    SimplePublicObjectInput:
      type: object
      description: Input for creating or updating a CRM object.
      properties:
        properties:
          type: object
          additionalProperties:
            type: string
    BatchReadInput:
      type: object
      description: Input for a batch read operation.
      properties:
        properties:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    BatchCreateInput:
      type: object
      description: Input for a batch create operation.
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/SimplePublicObjectInput'
    BatchUpdateInput:
      type: object
      description: Input for a batch update operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                additionalProperties:
                  type: string
    BatchArchiveInput:
      type: object
      description: Input for a batch archive operation.
      properties:
        inputs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
    SearchRequest:
      type: object
      description: A search request for CRM objects.
      properties:
        filterGroups:
          type: array
          items:
            $ref: '#/components/schemas/FilterGroup'
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
              direction:
                type: string
                enum: [ASCENDING, DESCENDING]
        query:
          type: string
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
          maximum: 200
        after:
          type: string
    FilterGroup:
      type: object
      description: A group of filters combined with AND logic.
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      description: A single filter condition.
      properties:
        propertyName:
          type: string
        operator:
          type: string
          enum: [EQ, NEQ, LT, LTE, GT, GTE, BETWEEN, IN, NOT_IN, HAS_PROPERTY, NOT_HAS_PROPERTY, CONTAINS_TOKEN, NOT_CONTAINS_TOKEN]
        value:
          type: string
    Association:
      type: object
      description: An association between two CRM objects.
      properties:
        id:
          type: string
        type:
          type: string
    CollectionResponseAssociation:
      type: object
      description: A list of associations.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'
        paging:
          $ref: '#/components/schemas/Paging'
    Paging:
      type: object
      description: Pagination information.
      properties:
        next:
          type: object
          properties:
            after:
              type: string
    Error:
      type: object
      description: An error response.
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is invalid or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
