openapi: 3.1.0
info:
  title: HubSpot Analytics Events Access Tokens Event Types API
  description: "The HubSpot Analytics Events API allows you to retrieve event completion data \nfrom your HubSpot account. Use this API to query event instances associated with \nCRM objects, filter by event types, and analyze user behavior and engagement patterns.\n\n## Key Features\n- Retrieve event instances for CRM objects\n- Filter events by type, date range, and object\n- Paginate through large result sets\n- Query available event types\n"
  version: 3.0.0
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.hubapi.com
  description: HubSpot Production API Server
tags:
- name: Event Types
  description: Discover and retrieve available event type definitions
paths:
  /events/v3/events/event-types:
    get:
      tags:
      - Event Types
      operationId: getEventTypes
      summary: Hubspot Retrieve Available Event Types
      description: "Retrieve a list of all available event types in your HubSpot account. \nUse this endpoint to discover what event types exist before querying \nfor specific event instances. This helps build dynamic filtering interfaces\nand validate event type parameters.\n"
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - analytics.read
      responses:
        '200':
          description: Successfully retrieved event types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeCollection'
              examples:
                Success:
                  $ref: '#/components/examples/EventTypeCollectionExample'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  examples:
    EventTypeCollectionExample:
      summary: Successful retrieval of event types
      value:
        eventTypes:
        - page_view
        - form_submission
        - email_open
        - email_click
        - meeting_booked
    ErrorExample:
      summary: Validation error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input parameters
        subCategory: INVALID_PARAMETER
        context:
          invalidFields:
          - objectType
        links:
          documentation: https://developers.hubspot.com/docs/api/events
        errors:
        - message: objectType must be a valid CRM object type
          code: INVALID_OBJECT_TYPE
          in: query
  schemas:
    ErrorDetail:
      type: object
      description: Detailed information about a specific error
      properties:
        message:
          type: string
          description: Human-readable error message
          example: This is an example description.
        code:
          type: string
          description: Machine-readable error code
          example: example-value
        subCategory:
          type: string
          description: Specific error subcategory
          example: standard
        in:
          type: string
          description: Location where the error occurred (e.g., query, path, body)
          example: example-value
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Additional context about the specific error
          example:
            key: value
      required:
      - message
    Error:
      type: object
      description: Standard error response returned when an API request fails
      properties:
        category:
          type: string
          description: High-level error category
          example: standard
        correlationId:
          type: string
          format: uuid
          description: Unique identifier for tracking and debugging the error
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        message:
          type: string
          description: Human-readable error message
          example: This is an example description.
        subCategory:
          type: string
          description: Specific error subcategory for detailed classification
          example: standard
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Additional context about the error
          example:
            key: value
        links:
          type: object
          additionalProperties:
            type: string
          description: Relevant links for error resolution and documentation
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: List of specific errors encountered
          example:
          - message: This is an example description.
            code: example-value
            subCategory: standard
            in: example-value
            context:
              key: value
      required:
      - category
      - correlationId
      - message
    EventTypeCollection:
      type: object
      description: Collection of available event type names
      properties:
        eventTypes:
          type: array
          items:
            type: string
          description: List of available event type names
          example:
          - standard
      required:
      - eventTypes
  responses:
    ErrorResponse:
      description: An error occurred while processing the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            ValidationError:
              $ref: '#/components/examples/ErrorExample'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            analytics.read: Read analytics data
