openapi: 3.1.0
info:
  title: HubSpot Analytics Events Access Tokens Inboxes API
  description: "The HubSpot Analytics Events API allows you to retrieve event completion data \nfrom your HubSpot account. Use this API to query event instances associated with \nCRM objects, filter by event types, and analyze user behavior and engagement patterns.\n\n## Key Features\n- Retrieve event instances for CRM objects\n- Filter events by type, date range, and object\n- Paginate through large result sets\n- Query available event types\n"
  version: 3.0.0
  contact:
    name: HubSpot Developer Support
    url: https://developers.hubspot.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.hubapi.com
  description: HubSpot Production API Server
tags:
- name: Inboxes
  description: Operations for managing conversation inboxes where messages are organized and routed.
paths:
  /conversations/v3/conversations/inboxes:
    get:
      tags:
      - Inboxes
      operationId: listInboxes
      summary: Hubspot List All Inboxes
      description: 'Retrieve a paginated list of all conversation inboxes in your HubSpot account.

        Use query parameters to filter, sort, and paginate results.

        '
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - conversations.read
      - PrivateApp: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Maximum number of results per page (1-100)
        example: 20
      - name: after
        in: query
        schema:
          type: string
        description: Pagination cursor for retrieving the next page of results
        example: NTI1Cg%3D%3D
      - name: sort
        in: query
        schema:
          type: string
        description: Property name to sort results by
        example: createdAt
      - name: archived
        in: query
        schema:
          type: boolean
          default: false
        description: Set to true to include archived inboxes in results
        example: false
      responses:
        '200':
          description: Successfully retrieved the list of inboxes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxCollection'
              examples:
                Success:
                  $ref: '#/components/examples/InboxCollectionExample'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /conversations/v3/conversations/inboxes/{inboxId}:
    get:
      tags:
      - Inboxes
      operationId: getInboxById
      summary: Hubspot Retrieve an Inbox
      description: 'Retrieve a specific conversation inbox by its unique identifier.

        Returns the complete inbox configuration details.

        '
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: 'return "Success"

          '
      security:
      - OAuth2:
        - conversations.read
      - PrivateApp: []
      parameters:
      - name: inboxId
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier of the inbox to retrieve
        example: '12345678'
      responses:
        '200':
          description: Successfully retrieved the inbox details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbox'
              examples:
                Success:
                  $ref: '#/components/examples/InboxExample'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    ErrorDetail:
      type: object
      description: Detailed information about a specific error.
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Invalid thread ID format
        code:
          type: string
          description: Error code
          example: INVALID_FORMAT
        subCategory:
          type: string
          description: Error subcategory
          example: PARAMETER_ERROR
        in:
          type: string
          description: Location where error occurred
          example: path
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
      required:
      - message
    Inbox:
      type: object
      description: Represents a conversation inbox configuration where messages are organized and routed.
      properties:
        id:
          type: string
          description: Unique identifier for the inbox
          example: '12345678'
        name:
          type: string
          description: Display name of the inbox
          example: Support Inbox
        type:
          type: string
          description: Type of inbox (e.g., CONVERSATIONS_INBOX)
          example: CONVERSATIONS_INBOX
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the inbox was created
          example: '2024-01-10T09:00:00Z'
        updatedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the inbox was last updated
          example: '2024-01-15T14:30:00Z'
        archived:
          type: boolean
          description: Whether the inbox is archived
          example: false
      required:
      - id
      - name
      - createdAt
      - updatedAt
    Error:
      type: object
      description: Standard error response structure.
      properties:
        category:
          type: string
          description: Error category
          example: VALIDATION_ERROR
        correlationId:
          type: string
          format: uuid
          description: Unique tracking identifier for support requests
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message:
          type: string
          description: Human-readable error message
          example: Invalid input parameters
        subCategory:
          type: string
          description: Error subcategory
          example: INVALID_PARAMETER
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            key: value
        links:
          type: object
          additionalProperties:
            type: string
          example:
            key: value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          example:
          - message: Invalid thread ID format
            code: INVALID_FORMAT
            subCategory: PARAMETER_ERROR
            in: path
            context:
              key: value
      required:
      - category
      - correlationId
      - message
    Paging:
      type: object
      description: Pagination information for list responses.
      properties:
        next:
          $ref: '#/components/schemas/PagingNext'
    PagingNext:
      type: object
      description: Pagination cursor information for retrieving the next page.
      properties:
        after:
          type: string
          description: Cursor token for the next page
          example: NTI1Cg%3D%3D
        link:
          type: string
          description: API link to the next page
          example: /conversations/v3/conversations/inboxes?after=NTI1Cg%3D%3D
    InboxCollection:
      type: object
      description: Paginated collection of inboxes
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Inbox'
          description: Array of inbox records
          example:
          - id: '12345678'
            name: Support Inbox
            type: CONVERSATIONS_INBOX
            createdAt: '2024-01-10T09:00:00Z'
            updatedAt: '2024-01-15T14:30:00Z'
            archived: false
        total:
          type: integer
          description: Total number of inboxes available
          example: 2
        paging:
          $ref: '#/components/schemas/Paging'
      required:
      - results
  examples:
    InboxCollectionExample:
      summary: Paginated list of inboxes
      value:
        results:
        - id: '12345678'
          name: Support Inbox
          type: CONVERSATIONS_INBOX
          createdAt: '2024-01-10T09:00:00Z'
          updatedAt: '2024-01-15T14:30:00Z'
          archived: false
        - id: '12345679'
          name: Sales Inbox
          type: CONVERSATIONS_INBOX
          createdAt: '2024-01-08T10:00:00Z'
          updatedAt: '2024-01-14T16:00:00Z'
          archived: false
        total: 2
        paging:
          next:
            after: NTI1Cg%3D%3D
            link: /conversations/v3/conversations/inboxes?after=NTI1Cg%3D%3D
    ErrorExample:
      summary: Validation error response
      value:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        message: Invalid input parameters
        context:
          invalidFields:
          - threadId
    InboxExample:
      summary: A complete inbox record
      value:
        id: '12345678'
        name: Support Inbox
        type: CONVERSATIONS_INBOX
        createdAt: '2024-01-10T09:00:00Z'
        updatedAt: '2024-01-15T14:30:00Z'
        archived: false
  responses:
    ErrorResponse:
      description: An error occurred while processing the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            ValidationError:
              $ref: '#/components/examples/ErrorExample'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            analytics.read: Read analytics data
