openapi: 3.2.0
info:
  title: Marketing Campaigns Public Spend API
  description: Basepom for all HubSpot Projects
  version: 2026-03
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Spend
paths:
  /marketing/campaigns/2026-03/{campaignGuid}/spend:
    post:
      tags:
      - Spend
      summary: Create campaign spend item
      description: Create a new campaign spend item
      operationId: post-/marketing/campaigns/2026-03/{campaignGuid}/spend
      parameters:
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSpendItemInput'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSpendItem'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.write
  /marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}:
    get:
      tags:
      - Spend
      summary: Read campaign spend item
      description: Read a campaign spend item by its spendId
      operationId: get-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}
      parameters:
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: spendId
        in: path
        description: 'The ID of the spend item, required. Example: 491    '
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSpendItem'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.read
    put:
      tags:
      - Spend
      summary: Update campaign spend item
      description: Update a specific campaign spend item by ID
      operationId: put-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}
      parameters:
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: spendId
        in: path
        description: 'The ID of the spend item, required. Example: 491    '
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSpendItemInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSpendItem'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.write
    delete:
      tags:
      - Spend
      summary: Delete campaign spend item
      description: Delete a specific campaign spend item by ID
      operationId: delete-/marketing/campaigns/2026-03/{campaignGuid}/spend/{spendId}
      parameters:
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: spendId
        in: path
        description: 'The ID of the spend item, required. Example: 491    '
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.write
components:
  schemas:
    PublicSpendItem:
      required:
      - amount
      - createdAt
      - id
      - name
      - order
      - updatedAt
      type: object
      properties:
        amount:
          type: number
          description: The monetary value associated with the spend item.
        createdAt:
          type: integer
          description: The timestamp indicating when the spend item was created.
          format: int64
        description:
          type: string
          description: A detailed explanation or notes about the spend item.
        id:
          type: string
          description: Unique identifier for the spend item.
        name:
          type: string
          description: The name assigned to the spend item.
        order:
          type: integer
          description: The sequence order of the spend item, where 0 is the oldest.
          format: int32
        updatedAt:
          type: integer
          description: The timestamp indicating when the spend item was last updated.
          format: int64
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    PublicSpendItemInput:
      required:
      - amount
      - name
      - order
      type: object
      properties:
        amount:
          type: number
          description: The monetary value of the spend item.
        description:
          type: string
          description: A brief description of the spend item.
        name:
          type: string
          description: The name of the spend item.
        order:
          type: integer
          description: The sequence number indicating the order of the spend item.
          format: int32
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            marketing.campaigns.read: ''
            marketing.campaigns.revenue.read: ''
            marketing.campaigns.write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
