openapi: 3.2.0
info:
  title: Hubspot Advanced API
  x-refined-note:
  - x-hubspot-api-use-case differs across the merged source definitions and was not carried
  - x-hubspot-introduction differs across the merged source definitions and was not carried
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Advanced across 30 of this provider''s published API definitions: hubspot-auth-oauth-openapi.json, hubspot-cms-blog-settings-openapi.json, hubspot-cms-cms-content-audit-openapi.json, hubspot-cms-media-bridge-openapi.json, hubspot-cms-pages-openapi.json, hubspot-cms-source-code-openapi.json, hubspot-commerce-price-books-openapi.json, hubspot-crm-appointments-openapi.json, hubspot-crm-calling-extensions-openapi.json, hubspot-crm-companies-openapi.json…'
servers:
- url: https://api.hubapi.com
tags:
- name: Advanced
paths:
  /oauth/2026-09/token:
    post:
      tags:
      - Advanced
      summary: OAuth token endpoint
      description: Authenticates a client and returns access and refresh tokens.
      operationId: post-/oauth/2026-09/token_/oauth/v3/token
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_assertion:
                  type: string
                client_assertion_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                code_verifier:
                  type: string
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - client_credentials
                  - refresh_token
                redirect_uri:
                  type: string
                refresh_token:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponseIF'
        default:
          description: ''
          $ref: '#/components/responses/Error'
    servers:
    - url: https://api.hubapi.com
  /oauth/2026-09/token/introspect:
    post:
      tags:
      - Advanced
      summary: Token introspection endpoint
      description: Returns validity and metadata for access and refresh tokens.
      operationId: post-/oauth/2026-09/token/introspect_/oauth/v3/token/introspect
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                token:
                  type: string
                token_type_hint:
                  type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfoResponseBaseIF'
        default:
          description: ''
          $ref: '#/components/responses/Error'
    servers:
    - url: https://api.hubapi.com
  /oauth/2026-09/token/revoke:
    post:
      tags:
      - Advanced
      summary: Token Revocation endpoint
      description: Deletes/Revokes provided Refresh Token
      operationId: post-/oauth/2026-09/token/revoke_/oauth/v3/token/revoke
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                token:
                  type: string
                token_type_hint:
                  type: string
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/{blogId}/revisions:
    get:
      tags:
      - Advanced
      summary: Get all blog revisions
      description: Get the list of blog revisions. Results can be limited and filtered by creation or updated date.
      operationId: get-/cms/blog-settings/2026-09/settings/{blogId}/revisions
      parameters:
      - name: blogId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalBlogVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blog-settings/2026-09/settings/{blogId}/revisions/{revisionId}:
    get:
      tags:
      - Advanced
      summary: Get a specific blog revision
      description: Get a specific blog revision.
      operationId: get-/cms/blog-settings/2026-09/settings/{blogId}/revisions/{revisionId}
      parameters:
      - name: blogId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/audit-logs/2026-09/export:
    post:
      tags:
      - Advanced
      operationId: post-/cms/audit-logs/2026-09/export_/cms/audit-logs/2026-03/export
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CmsAuditLoggingExportSettings'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      summary: Post /cms/audit logs/2026 09/export /cms/audit logs/2026 03/export
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/events/attention-span:
    post:
      tags:
      - Advanced
      summary: Create Event
      description: Create a new attention span event in the MediaBridgeService. This endpoint is used to record attention span events, which can be useful for tracking user engagement with media content. The request must include a valid JSON body conforming to the AttentionSpanEventRequest schema.
      operationId: post-/media-bridge/2026-09/events/attention-span
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttentionSpanEventRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttentionSpanEvent'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - media_bridge.write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/events/media-played:
    post:
      tags:
      - Advanced
      summary: Create
      description: Create a media played event in the HubSpot account. This endpoint is used to log when media content has been played, which can be useful for tracking user engagement with media resources.
      operationId: post-/media-bridge/2026-09/events/media-played
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaPlayedEventRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPlayedEvent'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - media_bridge.write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/events/media-played-percent:
    post:
      tags:
      - Advanced
      summary: Record Media Played Percentage
      description: This endpoint allows you to record the percentage of media that has been played. It is useful for tracking user engagement with media content, such as videos or audio files, by capturing the extent to which the media has been consumed. This data can be used for analytics and improving content delivery strategies.
      operationId: post-/media-bridge/2026-09/events/media-played-percent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaPlayedPercentageEventRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPlayedPercentageEvent'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - media_bridge.write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/schemas/{objectType}/associations:
    post:
      tags:
      - Advanced
      summary: Create associations
      description: Create new associations for a specified object type within a given app. This endpoint allows you to define relationships between different object types, enhancing data connectivity and integration within your HubSpot account.
      operationId: post-/media-bridge/2026-09/{appId}/schemas/{objectType}/associations
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationDefinitionEgg'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/object-definitions:
    post:
      tags:
      - Advanced
      summary: Create Object Definitions
      description: Create new object definitions for a specific app in the HubSpot Media Bridge. This endpoint is used to define new objects that can be utilized within the app, allowing for customization and integration of media-related functionalities.
      operationId: post-/media-bridge/2026-09/{appId}/settings/object-definitions
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratorObjectCreationRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkIntegratorObjectCreationResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/register:
    post:
      tags:
      - Advanced
      summary: Register Settings
      description: Register settings for a specific app in the MediaBridge service. This endpoint is deprecated and should be used with caution. It allows for the registration of settings associated with the specified app ID.
      operationId: post-/media-bridge/2026-09/{appId}/settings/register
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaBridgeProviderPartial'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaBridgeProviderRegistrationResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      deprecated: true
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/settings/video-association-definition:
    post:
      tags:
      - Advanced
      summary: Define Video Association
      description: Create a video association definition for a specific application in the HubSpot Media Bridge. This endpoint is used to define how videos are associated with other objects within the specified app. It is particularly useful for applications that need to manage video content and its relationships programmatically.
      operationId: post-/media-bridge/2026-09/{appId}/settings/video-association-definition_/media-bridge/v1/{appId}/settings/video-association-definition
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/{objectId}/revisions:
    get:
      tags:
      - Advanced
      summary: Retrieve all previous versions of a landing page
      description: Retrieve all the previous versions of a landing page, specified by page ID.
      operationId: get-/cms/pages/2026-09/landing-pages/{objectId}/revisions_getPreviousVersions
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalPageVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - content.landing_pages.read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}:
    get:
      tags:
      - Advanced
      summary: Retrieve a previous version of a landing page
      description: Retrieve a previous version of a landing page, specified by page ID and revision ID.
      operationId: get-/cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}_getPreviousVersion
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVersion'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - content.landing_pages.read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}/restore:
    post:
      tags:
      - Advanced
      summary: Restore a previous version of a landing page
      description: Restores a previous version of a landing page, specified by page ID and revision ID.
      operationId: post-/cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft:
    post:
      tags:
      - Advanced
      summary: Restore a previous version of a landing page
      description: Specify a previous version of a landing page to set as the page draft.
      operationId: post-/cms/pages/2026-09/landing-pages/{objectId}/revisions/{revisionId}/restore-to-draft_restorePreviousVersionToDraft
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}/restore:
    post:
      tags:
      - Advanced
      summary: Restore a previous version of a website page
      description: Restores a website page to a previous version, specified by page ID and version ID.
      operationId: post-/cms/pages/2026-09/site-pages/{objectId}/revisions/{revisionId}/restore_restorePreviousVersion
      parameters:
      - name: objectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: revisionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/source-code/2026-09/extract/async:
    post:
      tags:
      - Advanced
      summary: Extract a zip file
      description: Extract a zip file in the developer file system. Extraction status can be checked with the `/extract/async/tasks/taskId/status` endpoint below.
      operationId: post-/cms/source-code/2026-09/extract/async_doAsync
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileExtractRequest'
        required: true
      responses:
        '202':
          description: accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskLocator'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/source-code/2026-09/extract/async/tasks/{taskId}/status:
    get:
      tags:
      - Advanced
      summary: Get extraction status
      description: Get the status of an extraction by the `taskId` returned from the initial `extract/async` request.
      operationId: get-/cms/source-code/2026-09/extract/async/tasks/{taskId}/status_getAsyncStatus
      parameters:
      - name: taskId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/source-code/2026-09/{environment}/content/{path}:
    put:
      tags:
      - Advanced
      summary: Create or update a file
      description: Upserts a file at the specified path in the specified environment. Accepts multipart/form-data content type.
      operationId: put-/cms/source-code/2026-09/{environment}/content/{path}_createOrUpdate
      parameters:
      - name: environment
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFileMetadata'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    post:
      tags:
      - Advanced
      summary: Create a file
      description: Creates a file at the specified path in the specified environment. Accepts multipart/form-data content type. Throws an error if a file already exists at the specified path.
      operationId: post-/cms/source-code/2026-09/{environment}/content/{path}_create
      parameters:
      - name: environment
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: path
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetFileMetadata'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      deprecated: true
      security:
      - oauth2:
        - content
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /cms/source-code/2026-09/{environment}/validate/{path}:
    post:
      tags:
      - Advanced
      summary: Validate the contents of a file
      description: Validates the file contents passed to the endpoint given a specified path and environment. Accepts multipart/form-data content type.
      operationId: post-/cms/source-code/2026-09/{environment}/validate/{path}_doValidate
      parameters:
      - name: environment
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      - name: path
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          pattern: .+
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /commerce/price-books/2026-09/price-books:
    get:
      tags:
      - Advanced
      summary: Retrieve price books
      description: Retrieve a list of price books available in your HubSpot account. This endpoint supports pagination and can return archived price books if specified. It is useful for accessing and managing pricing information across different products and services.
      operationId: get-/commerce/price-books/2026-09/price-books_/commerce/price-books/2026-09-beta/price-books
      parameters:
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePriceBookResponseForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - price-book-read
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/gdpr-delete:
    post:
      tags:
      - Advanced
      summary: GDPR-delete an object
      description: Fully purge an object type and any GDPR related data
      operationId: post-/crm/objects/2026-03/{objectType}/gdpr-delete_/crm/objects/v3/{objectType}/gdpr-delete
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGdprDeleteInput'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/merge:
    post:
      tags:
      - Advanced
      summary: Post /crm/objects/2026 03/{object type}/merge /crm/objects/v3/{object…
      description: Merge two object types together
      operationId: post-/crm/objects/2026-03/{objectType}/merge_/crm/objects/v3/{objectType}/merge
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/extensions/calling/2026-03/inbound-call:
    post:
      tags:
      - Advanced
      summary: Submit details of an inbound call to the CRM
      description: This endpoint allows you to submit information about an inbound call to the CRM system. The request must include details such as the external call ID, call status, and involved phone numbers. This operation helps in logging and managing inbound call data within the CRM.
      operationId: post-/crm/extensions/calling/2026-03/inbound-call_/crm/v3/extensions/calling/inbound-call
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletedThirdPartyCallRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletedThirdPartyCallResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.schemas.contacts.write
    servers:
    - url: https://api.hubapi.com
  /crm/extensions/calling/2026-03/recordings/ready:
    post:
      tags:
      - Advanced
      summary: Mark a call recording as ready for retrieval
      description: This endpoint is used to mark a call recording as ready. It requires the engagementId to identify the specific recording.
      operationId: post-/crm/extensions/calling/2026-03/recordings/ready_markAsReady
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkRecordingAsReadyRequest'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.schemas.contacts.write
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/companies/merge:
    post:
      tags:
      - Advanced
      summary: Merge two companies
      description: Merge two company records. Learn more about merging records.
      operationId: post-/crm/objects/2026-03/companies/merge_merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.companies.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/contacts/gdpr-delete:
    post:
      tags:
      - Advanced
      summary: Permanently delete a contact (GDPR-compliant)
      description: Permanently delete a contact and all associated content to follow GDPR. Use optional property `idProperty` set to `email` to identify contact by email address. If email address is not found, the email address will be added to a blocklist and prevent it from being used in the future. Learn more about permanently deleting contacts.
      operationId: post-/crm/objects/2026-03/contacts/gdpr-delete_purge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGdprDeleteInput_2'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.write
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/contacts/merge:
    post:
      tags:
      - Advanced
      summary: Merge two contacts
      description: Merge two contact records. Learn more about merging records.
      operationId: post-/crm/objects/2026-03/contacts/merge_merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_3'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_3'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/courses/merge:
    post:
      tags:
      - Advanced
      summary: Merge two courses
      description: Merge two courses.
      operationId: post-/crm/objects/2026-03/courses/merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_4'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_4'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.courses.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/exports/2026-09/export/async:
    post:
      tags:
      - Advanced
      summary: Start an export
      description: Begins exporting CRM data for the portal as specified in the request body
      operationId: post-/crm/exports/2026-09/export/async_start
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicExportRequest'
        required: true
      responses:
        '202':
          description: accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskLocator_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.export
    servers:
    - url: https://api.hubapi.com
  /crm/exports/2026-09/export/async/tasks/{taskId}/status:
    get:
      tags:
      - Advanced
      summary: Get the status of the export including the URL to download the file
      description: Returns the status of the export with taskId, including the URL of the resulting file if the export status is COMPLETE
      operationId: get-/crm/exports/2026-09/export/async/tasks/{taskId}/status_getStatus
      parameters:
      - name: taskId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponseWithSingleResultURI'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.export
    servers:
    - url: https://api.hubapi.com
  /crm/imports/2026-09:
    post:
      tags:
      - Advanced
      operationId: post-/crm/imports/2026-09_/crm/imports/v3
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: string
                  format: binary
                importRequest:
                  type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicImportResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.import
      summary: Post /crm/imports/2026 09 /crm/imports/v3
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/imports/2026-09/{importId}/cancel:
    post:
      tags:
      - Advanced
      summary: Cancel an active import
      description: This allows a developer to cancel an active import.
      operationId: post-/crm/imports/2026-09/{importId}/cancel_/crm/imports/v3/{importId}/cancel
      parameters:
      - name: importId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.import
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/orders/merge:
    post:
      tags:
      - Advanced
      summary: Merge orders
      description: Merge two orders
      operationId: post-/crm/objects/2026-03/orders/merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_5'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_5'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.orders.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/start:
    post:
      tags:
      - Advanced
      summary: Start Approval
      description: Initiate the approval process for a specific pipeline within a given object type. This endpoint is useful for triggering approval workflows that are associated with pipeline stages, ensuring that the necessary approvals are obtained before proceeding with further actions in the pipeline.
      operationId: post-/crm/pipelines-rules/2026-09/{objectTypeId}/{pipelineId}/approvals/start_/crm/pipelines-rules/2026-09-beta/{objectTypeId}/{pipelineId}/approvals/start
      parameters:
      - name: objectTypeId
        in: path
        description: The unique identifier of the object type for which the approval process is being started.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pipelineId
        in: path
        description: The unique identifier of the pipeline for which the approval process is being initiated.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PublicCreateApprovalRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicObjectApprovalStatus'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm-pipelines-governance-write
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/projects/merge:
    post:
      tags:
      - Advanced
      summary: Merge two projects
      description: Merge two project records. Learn more about merging records.
      operationId: post-/crm/objects/2026-03/projects/merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_6'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_6'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.projects.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/extensions/cards-dev/2026-09/{appId}/views/migrate:
    post:
      tags:
      - Advanced
      summary: Migrate Card Views
      description: Swaps a Legacy CRM Card with an App Card in views. Reference the "Migrate a legacy CRM card to an app card" docs for more information
      operationId: post-/crm/extensions/cards-dev/2026-09/{appId}/views/migrate_/crm/v3/extensions/cards-dev/{appId}/views/migrate
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardMigrateViewsRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardMigrateViewsResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /crm-object-schemas/2026-09/schemas/{objectType}/associations:
    post:
      tags:
      - Advanced
      summary: Create an association for a specified object type
      description: Create a new association between the specified object type and another object type. This operation requires the definition of the association attributes, such as the primary and target object type IDs.
      operationId: post-/crm-object-schemas/2026-09/schemas/{objectType}/associations_createAssociation
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationDefinitionEgg_2'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationDefinition_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.schemas.custom.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/services/merge:
    post:
      tags:
      - Advanced
      summary: Merge services
      description: Merge two services
      operationId: post-/crm/objects/2026-03/services/merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_7'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_7'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.services.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/task-series/2026-09:
    post:
      tags:
      - Advanced
      summary: Create
      description: Create a new task series in the HubSpot CRM. This endpoint allows you to start a series of tasks by providing the necessary properties and series details. It is useful for automating repetitive task sequences within your CRM workflows.
      operationId: post-/crm/task-series/2026-09
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTaskSeriesBody'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicTaskSeriesResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.tasks.write
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/tickets/merge:
    post:
      tags:
      - Advanced
      summary: Merge two tickets
      description: Merge two tickets, combining them into one ticket record.
      operationId: post-/crm/objects/2026-03/tickets/merge_merge
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput_8'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject_8'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - tickets
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /integrators/timeline/2026-09/events:
    post:
      tags:
      - Advanced
      summary: Send event data (single)
      description: Send a single instance of event data to a specified event type.
      operationId: post-/integrators/timeline/2026-09/events_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventOccurrence'
        required: true
      responses:
        '200':
          description: App Event Occurrence was accepted and persisted successfully. Mirrored to UnifiedEvents async.
          content: {}
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventOccurrence'
        '400':
          description: The occurrence has a validation error that prevented us from accepting it for persistence. The response body will contain details about the validation error. Occurrence insert request rejected.
          content: {}
        '409':
          description: An occurrence for this event type and occurrence ID already exists. Occurrences are immutable. Occurrence insert request rejected.
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.schemas.contacts.write
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.companies.write
      - oauth2:
        - crm.schemas.deals.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - tickets
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.schemas.tickets.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - timeline.write
      - oauth2:
        - timeline
    servers:
    - url: https://api.hubapi.com
  /integrators/timeline/2026-09/types/projects:
    post:
      tags:
      - Advanced
      operationId: post-/integrators/timeline/2026-09/types/projects_/integrators/timeline/2026-03/types/projects
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAppEventResolutionRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventResolutionResponse'
        '404':
          description: There is no App Event Type for the provided coordinates. Did you provide them correctly?
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
      summary: Post /integrators/timeline/2026 09/types/projects /integrators/timeline/2026…
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/extensions/calling/2026-09/inbound-call:
    post:
      tags:
      - Advanced
      operationId: post-/crm/extensions/calling/2026-09/inbound-call_/crm/v3/extensions/calling/inbound-call
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletedThirdPartyCallRequest_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletedThirdPartyCallResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.schemas.contacts.write
      summary: Post /crm/extensions/calling/2026 09/inbound call…
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/extensions/calling/2026-09/transcripts:
    post:
      tags:
      - Advanced
      operationId: post-/crm/extensions/calling/2026-09/transcripts_/crm/extensions/calling/2026-03/transcripts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptCreateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptCreateResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.extensions_calling_transcripts.write
      summary: Post /crm/extensions/calling/2026 09/transcripts /crm/extensions/calling/2026…
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /data-studio/data-source/2026-09/json:
    post:
      tags:
      - Advanced
      summary: Creates a JSON datasource
      description: Creates a new JSON datasource with a defined column schema and optional inline data.
      operationId: post-/data-studio/data-source/2026-09/json_/data-studio/data-source/2026-09-beta/json
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSourceCreateRequest'
        required: true
      responses:
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - data-integration-json-datasource-write
    servers:
    - url: https://api.hubapi.com
  /data-studio/data-source/2026-09/{datasourceId}/data-push:
    post:
      tags:
      - Advanced
      summary: Adds additional records to an existing datasource
      description: Push additional data rows to an existing JSON datasource. This enables incremental data ingestion without replacing the entire dataset.
      operationId: post-/data-studio/data-source/2026-09/{datasourceId}/data-push_/data-studio/data-source/2026-09-beta/{datasourceId}/data-push
      parameters:
      - name: datasourceId
        in: path
        description: Identifier of datasource
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPushRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPushResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - data-integration-json-datasource-write
    servers:
    - url: https://api.hubapi.com
  /events/v3/2026-09/event-definitions/{eventName}/property:
    post:
      tags:
      - Advanced
      summary: Create a property for an event definition
      description: Create a new property for an existing event definition.
      operationId: post-/events/v3/2026-09/event-definitions/{eventName}/property
      parameters:
      - name: eventName
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalBehavioralEventPropertyCreate'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - behavioral_events.event_definitions.read_write
    servers:
    - url: https://api.hubapi.com
  /marketing/email-campaigns/2026-09/single-send:
    post:
      tags:
      - Advanced
      summary: Send an email
      description: Send a template email to a specific recipient.
      operationId: post-/marketing/email-campaigns/2026-09/single-send_/marketing/v4/email/single-send
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSingleSendRequestEgg'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendStatusView'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - transactional-email
      - oauth2:
        - marketing-email
      x-hubspot-rate-limit-exemptions:
      - daily
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /meta/network-origins/2026-09/ip-ranges/webhook-subscriptions/{appId}/{subscription-id}/test:
    post:
      tags:
      - Advanced
      operationId: post-/meta/network-origins/2026-09/ip-ranges/webhook-subscriptions/{appId}/{subscription-id}/test_/meta/network-origins/2026-09-beta/ip-ranges/webhook-subscriptions/{appId}/{subscription-id}/test
      parameters:
      - name: appId
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      - name: subscription-id
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - origins.ip_ranges.webhook.write
      summary: Post /meta/network origins/2026 09/ip ranges/webhook subscriptions/{app…
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /scheduler/2026-03/meetings/calendar:
    post:
      tags:
      - Advanced
      summary: Create meeting
      description: Create a new calendar meeting event in your HubSpot account. This endpoint allows you to specify details such as the meeting title, start and end times, and associated users. The organizerUserId is required to identify the meeting organizer.
      operationId: post-/scheduler/2026-03/meetings/calendar
      parameters:
      - name: organizerUserId
        in: query
        description: The unique identifier of the user organizing the meeting. This parameter is required.
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCalendarMeetingEventCreateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCalenderMeetingEventResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.meetings.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /scheduler/2026-03/meetings/meeting-links/book:
    post:
      tags:
      - Advanced
      summary: Book Meeting
      description: Book a meeting using a specified meeting link. This endpoint allows you to create a meeting by providing necessary details such as duration, email, and start time. It is useful for scheduling meetings programmatically through HubSpot's API.
      operationId: post-/scheduler/2026-03/meetings/meeting-links/book
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalMeetingBooking'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalMeetingBookingResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.schemas.meetings.write
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /webhooks-journal/snapshots/2026-09/crm:
    post:
      tags:
      - Advanced
      summary: Create Snapshot
      description: Create a batch of CRM object snapshots for the specified portal. This endpoint allows you to capture the state of CRM objects at a specific point in time, which can be useful for auditing or historical analysis. The request requires a list of CRM object snapshot requests, each specifying the portal ID, object ID, object type ID, and properties to include in the snapshot.
      operationId: post-/webhooks-journal/snapshots/2026-09/crm_/webhooks-journal/snapshots/2026-03/crm
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmObjectSnapshotBatchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmObjectSnapshotBatchResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - webhooks-journal-snapshot-management
      x-hubspot-rate-limit-exemptions:
      - daily
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /webhooks-journal/subscriptions/2026-09/filters:
    post:
      tags:
      - Advanced
      summary: Create Filter
      description: Create a new filter for a webhook subscription in your HubSpot account. This endpoint allows you to define specific conditions that a webhook event must meet to trigger the subscription. It is useful for managing and customizing the behavior of webhook subscriptions based on specific criteria.
      operationId: post-/webhooks-journal/subscriptions/2026-09/filters_/webhooks-journal/subscriptions/2026-03/filters
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterCreateRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterCreateResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - webhooks-journal-subscription-management
      x-hubspot-rate-limit-exemptions:
      - daily
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
components:
  schemas:
    TokenInfoResponseBaseIF:
      properties: {}
      oneOf:
      - $ref: '#/components/schemas/PublicAccessTokenInfoResponse'
      - $ref: '#/components/schemas/PublicRefreshTokenInfoResponse'
    AccessTokenResponse:
      required:
      - access_token
      - expires_in
      - refresh_token
      - token_type
      - token_use
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
        hub_id:
          type: integer
          format: int32
        id_token:
          type: string
        refresh_token:
          type: string
        scopes:
          type: array
          items:
            type: string
        token_type:
          type: string
        token_use:
          type: string
          default: access_token
          enum:
          - access_token
        user_id:
          type: integer
          format: int32
      x-hubspot-sub-type-impl: true
    SignedAccessToken:
      required:
      - appId
      - appInstallId
      - audience
      - expiresAt
      - hubId
      - hublet
      - installingUserId
      - isPrivateDistribution
      - isServiceAccount
      - isUserLevel
      - newSignature
      - scopeToScopeGroupPks
      - scopes
      - signature
      - trialScopeToScopeGroupPks
      - trialScopes
      - userId
      type: object
      properties:
        appId:
          type: integer
          format: int32
        appInstallId:
          type: string
        audience:
          type: string
        expiresAt:
          type: integer
          format: int64
        hubId:
          type: integer
          format: int32
        hublet:
          type: string
        installingUserId:
          type: integer
          format: int32
        isPrivateDistribution:
          type: boolean
        isServiceAccount:
          type: boolean
        isUserLevel:
          type: boolean
        newSignature:
          type: string
        scopeToScopeGroupPks:
          type: string
        scopes:
          type: string
        signature:
          type: string
        trialScopeToScopeGroupPks:
          type: string
        trialScopes:
          type: string
        userId:
          type: integer
          format: int32
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    PublicRefreshTokenInfoResponse:
      required:
      - active
      - app_id
      - client_id
      - hub_id
      - scopes
      - token
      - token_type
      - token_use
      - user_id
      type: object
      properties:
        active:
          type: boolean
        app_id:
          type: integer
          format: int32
        client_id:
          type: string
        hub_domain:
          type: string
        hub_id:
          type: integer
          format: int32
        scopes:
          type: array
          items:
            type: string
        token:
          type: string
        token_type:
          type: string
        token_use:
          type: string
          default: refresh_token
          enum:
          - refresh_token
        user:
          type: string
        user_id:
          type: integer
          format: int32
      x-hubspot-sub-type-impl: true
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    TokenResponseIF:
      properties: {}
      oneOf:
      - $ref: '#/components/schemas/AccessTokenResponse'
      - $ref: '#/components/schemas/ClientCredentialsTokenResponse'
    PublicAccessTokenInfoResponse:
      required:
      - active
      - app_id
      - client_id
      - expires_in
      - hub_id
      - is_private_distribution
      - scopes
      - signed_access_token
      - token
      - token_type
      - token_use
      - user_id
      type: object
      properties:
        active:
          type: boolean
        app_id:
          type: integer
          format: int32
        client_id:
          type: string
        expires_in:
          type: integer
          format: int64
        hub_domain:
          type: string
        hub_id:
          type: integer
          format: int32
        is_private_distribution:
          type: boolean
        scopes:
          type: array
          items:
            type: string
        signed_access_token:
          $ref: '#/components/schemas/SignedAccessToken'
        token:
          type: string
        token_type:
          type: string
        token_use:
          type: string
          default: access_token
          enum:
          - access_token
        user:
          type: string
        user_id:
          type: integer
          format: int32
      x-hubspot-sub-type-impl: true
    ClientCredentialsTokenResponse:
      required:
      - access_token
      - expires_in
      - token_type
      - token_use
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
        hub_id:
          type: integer
          format: int32
        id_token:
          type: string
        scopes:
          type: array
          items:
            type: string
        token_type:
          type: string
        token_use:
          type: string
          default: client_credentials
          enum:
          - client_credentials
        user_id:
          type: integer
          format: int32
      x-hubspot-sub-type-impl: true
    PreviousPage:
      required:
      - before
      type: object
      properties:
        before:
          type: string
          description: A paging cursor token for retrieving previous pages.
        link:
          type: string
          description: A URL that can be used to retrieve the previous pages' results.
      description: specifies the paging information needed to retrieve the previous set of results in a paginated API response
    Blog:
      required:
      - absoluteUrl
      - allowComments
      - created
      - deletedAt
      - description
      - htmlTitle
      - id
      - language
      - listingPageId
      - name
      - publicAccessRules
      - publicAccessRulesEnabled
      - publicTitle
      - slug
      - translatedFromId
      - updated
      type: object
      properties:
        absoluteUrl:
          type: string
          description: Blog's root URL
        allowComments:
          type: boolean
          description: Boolean determining whether or not this blog allows public comments.
        created:
          type: string
          description: The timestamp (ISO8601 format) when this blog was created.
          format: date-time
        deletedAt:
          type: string
          description: The timestamp (ISO8601 format) when this Blog was deleted.
          format: date-time
        description:
          type: string
          description: The Description of this Blog.
        htmlTitle:
          type: string
          description: The html title of this Blog.
        id:
          type: string
          description: The unique ID of the Blog.
        language:
          type: string
          description: The explicitly defined language of the Blog. If null, the Blog will default to the language of the Domain.
          enum:
          - aa
          - ab
          - ae
          - af
          - af-na
          - af-za
          - agq
          - agq-cm
          - ak
          - ak-gh
          - am
          - am-et
          - an
          - ann
          - ann-ng
          - ar
          - ar-001
          - ar-ae
          - ar-bh
          - ar-dj
          - ar-dz
          - ar-eg
          - ar-eh
          - ar-er
          - ar-il
          - ar-iq
          - ar-jo
          - ar-km
          - ar-kw
          - ar-lb
          - ar-ly
          - ar-ma
          - ar-mr
          - ar-om
          - ar-ps
          - ar-qa
          - ar-sa
          - ar-sd
          - ar-so
          - ar-ss
          - ar-sy
          - ar-td
          - ar-tn
          - ar-ye
          - as
          - as-in
          - asa
          - asa-tz
          - ast
          - ast-es
          - av
          - ay
          - az
          - az-az
          - ba
          - bal
          - bal-pk
          - bas
          - bas-cm
          - be
          - be-by
          - bem
          - bem-zm
          - bez
          - bez-tz
          - bg
          - bg-bg
          - bgc
          - bgc-in
          - bho
          - bho-in
          - bi
          - blo
          - blo-bj
          - bm
          - bm-ml
          - bn
          - bn-bd
          - bn-in
          - bo
          - bo-cn
          - bo-in
          - br
          - br-fr
          - brx
          - brx-in
          - bs
          - bs-ba
          - ca
          - ca-ad
          - ca-es
          - ca-fr
          - ca-it
          - ccp
          - ccp-bd
          - ccp-in
          - ce
          - ce-ru
          - ceb
          - ceb-ph
          - cgg
          - cgg-ug
          - ch
          - chr
          - chr-us
          - ckb
          - ckb-iq
          - ckb-ir
          - co
          - cr
          - cs
          - cs-cz
          - csw
          - csw-ca
          - cu
          - cu-ru
          - cv
          - cv-ru
          - cy
          - cy-gb
          - da
          - da-dk
          - da-gl
          - dav
          - dav-ke
          - de
          - de-at
          - de-be
          - de-ch
          - de-de
          - de-gr
          - de-it
          - de-li
          - de-lu
          - dje
          - dje-ne
          - doi
          - doi-in
          - dsb
          - dsb-de
          - dua
          - dua-cm
          - dv
          - dyo
          - dyo-sn
          - dz
          - dz-bt
          - ebu
          - ebu-ke
          - ee
          - ee-gh
          - ee-tg
          - el
          - el-cy
          - el-gr
          - en
          - en-001
          - en-150
          - en-ae
          - en-ag
          - en-ai
          - en-as
          - en-at
          - en-au
          - en-bb
          - en-be
          - en-bi
          - en-bm
          - en-bs
          - en-bw
          - en-bz
          - en-ca
          - en-cc
          - en-ch
          - en-ck
          - en-cm
          - en-cn
          - en-cx
          - en-cy
          - en-cz
          - en-de
          - en-dg
          - en-dk
          - en-dm
          - en-ee
          - en-eg
          - en-er
          - en-es
          - en-fi
          - en-fj
          - en-fk
          - en-fm
          - en-fr
          - en-gb
          - en-gd
          - en-gg
          - en-gh
          - en-gi
          - en-gm
          - en-gs
          - en-gu
          - en-gy
          - en-hk
          - en-hu
          - en-id
          - en-ie
          - en-il
          - en-im
          - en-in
          - en-io
          - en-it
          - en-je
          - en-jm
          - en-ke
          - en-ki
          - en-kn
          - en-ky
          - en-lc
          - en-lr
          - en-ls
          - en-lu
          - en-mg
          - en-mh
          - en-mo
          - en-mp
          - en-ms
          - en-mt
          - en-mu
          - en-mv
          - en-mw
          - en-mx
          - en-my
          - en-na
          - en-nf
          - en-ng
          - en-nl
          - en-no
          - en-nr
          - en-nu
          - en-nz
          - en-pg
          - en-ph
          - en-pk
          - en-pl
          - en-pn
          - en-pr
          - en-pt
          - en-pw
          - en-ro
          - en-rw
          - en-sb
          - en-sc
          - en-sd
          - en-se
          - en-sg
          - en-sh
          - en-si
          - en-sk
          - en-sl
          - en-ss
          - en-sx
          - en-sz
          - en-tc
          - en-th
          - en-tk
          - en-tn
          - en-to
          - en-tt
          - en-tv
          - en-tz
          - en-ug
          - en-um
          - en-us
          - en-vc
          - en-vg
          - en-vi
          - en-vn
          - en-vu
          - en-ws
          - en-za
          - en-zm
          - en-zw
          - eo
          - eo-001
          - es
          - es-419
          - es-ar
          - es-bo
          - es-br
          - es-bz
          - es-cl
          - es-co
          - es-cr
          - es-cu
          - es-do
          - es-ea
          - es-ec
          - es-es
          - es-gq
          - es-gt
          - es-hn
          - es-ic
          - es-mx
          - es-ni
          - es-pa
          - es-pe
          - es-ph
          - es-pr
          - es-py
          - es-sv
          - es-us
          - es-uy
          - es-ve
          - et
          - et-ee
          - eu
          - eu-es
          - ewo
          - ewo-cm
          - fa
          - fa-af
          - fa-ir
          - ff
          - ff-bf
          - ff-cm
          - ff-gh
          - ff-gm
          - ff-gn
          - ff-gw
          - ff-lr
          - ff-mr
          - ff-ne
          - ff-ng
          - ff-sl
          - ff-sn
          - fi
          - fi-fi
          - fil
          - fil-ph
          - fj
          - fo
          - fo-dk
          - fo-fo
          - fr
          - fr-be
          - fr-bf
          - fr-bi
          - fr-bj
          - fr-bl
          - fr-ca
          - fr-cd
          - fr-cf
          - fr-cg
          - fr-ch
          - fr-ci
          - fr-cm
          - fr-dj
          - fr-dz
          - fr-fr
          - fr-ga
          - fr-gf
          - fr-gn
          - fr-gp
          - fr-gq
          - fr-ht
          - fr-km
          - fr-lu
          - fr-ma
          - fr-mc
          - fr-mf
          - fr-mg
          - fr-ml
          - fr-mq
          - fr-mr
          - fr-mu
          - fr-nc
          - fr-ne
          - fr-pf
          - fr-pm
          - fr-re
          - fr-rw
          - fr-sc
          - fr-sn
          - fr-sy
          - fr-td
          - fr-tg
          - fr-tn
          - fr-vu
          - fr-wf
          - fr-yt
          - frr
          - frr-de
          - fur
          - fur-it
          - fy
          - fy-nl
          - ga
          - ga-gb
          - ga-ie
          - gaa
          - gaa-gh
          - gd
          - gd-gb
          - gl
          - gl-es
          - gn
          - gsw
          - gsw-ch
          - gsw-fr
          - gsw-li
          - gu
          - gu-in
          - guz
          - guz-ke
          - gv
          - gv-im
          - ha
          - ha-gh
          - ha-ne
          - ha-ng
          - haw
          - haw-us
          - he
          - he-il
          - hi
          - hi-in
          - hmn
          - ho
          - hr
          - hr-ba
          - hr-hr
          - hsb
          - hsb-de
          - ht
          - ht-ht
          - hu
          - hu-hu
          - hy
          - hy-am
          - hz
          - ia
          - ia-001
          - id
          - id-id
          - ie
          - ie-ee
          - ig
          - ig-ng
          - ii
          - ii-cn
          - ik
          - io
          - is
          - is-is
          - it
          - it-ch
          - it-it
          - it-sm
          - it-va
          - iu
          - ja
          - ja-jp
          - jgo
          - jgo-cm
          - jmc
          - jmc-tz
          - jv
          - jv-id
[...]
