openapi: 3.2.0
info:
  title: Hubspot Definitions API
  version: 2026-09
  x-refined-note:
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  description: 'Operations tagged Definitions across 2 of this provider''s published API definitions: hubspot-automation-actions-v4-openapi.json, hubspot-communication-preferences-subscriptions-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.hubapi.com
tags:
- name: Definitions
paths:
  /automation/actions/2026-09/{appId}:
    get:
      tags:
      - Definitions
      summary: Retrieve custom action definitions
      description: Retrieve custom workflow action definitions by app ID.
      operationId: get-/automation/actions/2026-09/{appId}_getPage
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicActionDefinitionForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    post:
      tags:
      - Definitions
      summary: Create a new custom action definition
      description: Create a new custom workflow action.
      operationId: post-/automation/actions/2026-09/{appId}_create
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionEgg'
        required: true
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              description: URL of the newly created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /automation/actions/2026-09/{appId}/{definitionId}:
    get:
      tags:
      - Definitions
      summary: Retrieve a custom action definition
      description: Retrieve a custom workflow action definition by ID.
      operationId: get-/automation/actions/2026-09/{appId}/{definitionId}_getById
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    delete:
      tags:
      - Definitions
      summary: Delete an action definition
      description: Delete an action definition by ID.
      operationId: delete-/automation/actions/2026-09/{appId}/{definitionId}_archive
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    patch:
      tags:
      - Definitions
      summary: Update an existing action definition
      description: Update an existing action definition by ID.
      operationId: patch-/automation/actions/2026-09/{appId}/{definitionId}_update
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionPatch'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /automation/actions/2026-09/{appId}/{definitionId}/requires-object:
    get:
      tags:
      - Definitions
      summary: Retrieve the object requirement status for a custom action definition
      description: Retrieve whether a custom action definition requires an object.
      operationId: get-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActionDefinitionRequiresObjectResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    post:
      tags:
      - Definitions
      summary: Set the object requirement for a custom action definition
      description: Set whether a custom action definition requires an object.
      operationId: post-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: definitionId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicActionDefinitionRequiresObjectRequest'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/definitions:
    get:
      tags:
      - Definitions
      summary: Retrieve all subscription status definitions
      description: Get a list of subscription status definitions from the account.
      operationId: get-/communication-preferences/2026-09/definitions
      parameters:
      - name: businessUnitId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: includeTranslations
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponseWithResultsSubscriptionDefinition'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.read_write
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/statuses/{subscriberIdString}/unsubscribe-all:
    post:
      tags:
      - Definitions
      summary: Unsubscribe a contact from all subscriptions
      description: Unsubscribe a contact from all email subscriptions.
      operationId: post-/communication-preferences/2026-09/statuses/{subscriberIdString}/unsubscribe-all
      parameters:
      - name: subscriberIdString
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: channel
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - EMAIL
      - name: businessUnitId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: verbose
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponseWithResultsPublicStatus'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.read_write
    servers:
    - url: https://api.hubapi.com
components:
  schemas:
    PublicActionFunction:
      required:
      - functionSource
      - functionType
      type: object
      properties:
        functionSource:
          type: string
          description: The source code or script that defines the function's behavior.
        functionType:
          type: string
          description: 'The type of function, with accepted values: POST_ACTION_EXECUTION, POST_FETCH_OPTIONS, PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS.'
          enum:
          - POST_ACTION_EXECUTION
          - POST_FETCH_OPTIONS
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
        id:
          type: string
          description: The unique identifier for the action function.
    PublicActionDefinitionRequiresObjectRequest:
      required:
      - requiresObject
      type: object
      properties:
        requiresObject:
          type: boolean
          description: Indicates whether a custom action definition requires an associated object.
    DoubleFieldSchema:
      title: DOUBLE
      required:
      - type
      type: object
      properties:
        maximum:
          type: number
          description: The maximum allowable value for the double field.
        minimum:
          type: number
          description: The minimum allowable value for the double field.
        type:
          type: string
          description: Indicates the field type as DOUBLE.
          default: DOUBLE
          enum:
          - DOUBLE
      x-hubspot-sub-type-impl: true
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    PublicExecutionTranslationRule:
      required:
      - conditions
      - labelName
      type: object
      properties:
        conditions:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Defines the conditions that must be met for the execution rule to apply.
        labelName:
          type: string
          description: Specifies the name of the label associated with the execution rule.
    PublicActionFunctionIdentifier:
      required:
      - functionType
      type: object
      properties:
        functionType:
          type: string
          description: 'The type of function, with accepted values: POST_ACTION_EXECUTION, POST_FETCH_OPTIONS, PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS.'
          enum:
          - POST_ACTION_EXECUTION
          - POST_FETCH_OPTIONS
          - PRE_ACTION_EXECUTION
          - PRE_FETCH_OPTIONS
        id:
          type: string
          description: The unique identifier for the function.
    IntegerFieldSchema:
      title: INTEGER
      required:
      - type
      type: object
      properties:
        maximum:
          type: integer
          description: The maximum value allowed for the integer field.
          format: int32
        minimum:
          type: integer
          description: The minimum value allowed for the integer field.
          format: int32
        type:
          type: string
          description: The type of the field, which is set to INTEGER.
          default: INTEGER
          enum:
          - INTEGER
      x-hubspot-sub-type-impl: true
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    PublicOption:
      required:
      - label
      - value
      type: object
      properties:
        description:
          type: string
          description: A description of the option.
        displayOrder:
          type: integer
          description: The position of the option relative to others in the list.
          format: int32
        label:
          type: string
          description: A user-friendly label that identifies the option.
        value:
          type: string
          description: The actual value of the option.
    ObjectFieldSchema:
      title: OBJECT
      required:
      - properties
      - type
      type: object
      properties:
        properties:
          type: object
          properties: {}
          description: Contains the properties of the object.
        type:
          type: string
          description: Specifies the type of the field, which is 'OBJECT' by default.
          default: OBJECT
          enum:
          - OBJECT
      x-hubspot-sub-type-impl: true
    PublicSingleFieldDependency:
      title: SINGLE_FIELD
      required:
      - controllingFieldName
      - dependencyType
      - dependentFieldNames
      type: object
      properties:
        controllingFieldName:
          type: string
          description: The name of the field that controls the dependency.
        dependencyType:
          type: string
          description: The type of dependency, with the default value being 'SINGLE_FIELD'.
          default: SINGLE_FIELD
          enum:
          - SINGLE_FIELD
        dependentFieldNames:
          type: array
          items:
            type: string
      x-hubspot-sub-type-impl: true
    LongFieldSchema:
      title: LONG
      required:
      - type
      type: object
      properties:
        maximum:
          type: integer
          description: The maximum value allowed for the long field.
          format: int64
        minimum:
          type: integer
          description: The minimum value allowed for the long field.
          format: int64
        type:
          type: string
          description: The type of the field, which is LONG by default.
          default: LONG
          enum:
          - LONG
      x-hubspot-sub-type-impl: true
    PublicActionDefinitionEgg:
      required:
      - actionUrl
      - functions
      - inputFields
      - labels
      - objectTypes
      - published
      type: object
      properties:
        actionUrl:
          type: string
          description: The URL endpoint where the action is executed.
        archivedAt:
          type: integer
          description: The timestamp indicating when the action was archived.
          format: int64
        executionRules:
          type: array
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
        functions:
          type: array
          items:
            $ref: '#/components/schemas/PublicActionFunction'
        inputFieldDependencies:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PublicSingleFieldDependency'
            - $ref: '#/components/schemas/PublicConditionalSingleFieldDependency'
        inputFields:
          type: array
          items:
            $ref: '#/components/schemas/PublicInputFieldDefinition'
        labels:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          description: Holds various labels associated with the action, including names and descriptions.
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          type: array
          items:
            type: string
        outputFields:
          type: array
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
        published:
          type: boolean
          description: Indicates whether the action is published and available for use.
    PublicConditionalSingleFieldDependency:
      title: CONDITIONAL_SINGLE_FIELD
      required:
      - controllingFieldName
      - controllingFieldValue
      - dependencyType
      - dependentFieldNames
      type: object
      properties:
        controllingFieldName:
          type: string
          description: The name of the field that determines the dependency.
        controllingFieldValue:
          type: string
          description: The value of the controlling field that triggers the dependency.
        dependencyType:
          type: string
          description: The type of dependency, with the default value being CONDITIONAL_SINGLE_FIELD.
          default: CONDITIONAL_SINGLE_FIELD
          enum:
          - CONDITIONAL_SINGLE_FIELD
        dependentFieldNames:
          type: array
          items:
            type: string
      x-hubspot-sub-type-impl: true
    PublicActionDefinitionPatch:
      type: object
      properties:
        actionUrl:
          type: string
          description: The URL endpoint where the action is executed.
        executionRules:
          type: array
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
        inputFieldDependencies:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PublicSingleFieldDependency'
            - $ref: '#/components/schemas/PublicConditionalSingleFieldDependency'
        inputFields:
          type: array
          items:
            $ref: '#/components/schemas/PublicInputFieldDefinition'
        labels:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
          description: Contains labels for the action, including names and descriptions.
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          type: array
          items:
            type: string
        outputFields:
          type: array
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
        published:
          type: boolean
          description: Indicates whether the action is published and available for use.
    NextPage:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A paging cursor token for retrieving subsequent pages.
        link:
          type: string
          description: A URL that can be used to retrieve the next page results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    PublicActionDefinition:
      required:
      - actionUrl
      - functions
      - id
      - inputFields
      - labels
      - objectTypes
      - published
      - revisionId
      type: object
      properties:
        actionUrl:
          type: string
        archivedAt:
          type: integer
          format: int64
        executionRules:
          type: array
          items:
            $ref: '#/components/schemas/PublicExecutionTranslationRule'
        functions:
          type: array
          items:
            $ref: '#/components/schemas/PublicActionFunctionIdentifier'
        id:
          type: string
        inputFieldDependencies:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PublicSingleFieldDependency'
            - $ref: '#/components/schemas/PublicConditionalSingleFieldDependency'
        inputFields:
          type: array
          items:
            $ref: '#/components/schemas/PublicInputFieldDefinition'
        labels:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PublicActionLabels'
        objectRequestOptions:
          $ref: '#/components/schemas/PublicObjectRequestOptions'
        objectTypes:
          type: array
          items:
            type: string
        outputFields:
          type: array
          items:
            $ref: '#/components/schemas/OutputFieldDefinition'
        published:
          type: boolean
        revisionId:
          type: string
    FieldTypeDefinition:
      required:
      - externalOptions
      - name
      - options
      - schema
      - type
      - useChirp
      type: object
      properties:
        description:
          type: string
          description: A detailed explanation of the field's purpose and usage.
        externalOptions:
          type: boolean
          description: Indicates whether the field's options are sourced externally.
        externalOptionsReferenceType:
          type: string
          description: Specifies the type of external reference for options.
        fieldType:
          type: string
          description: Describes the field's type in the UI, with accepted values like booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, textarea, unknown.
          enum:
          - booleancheckbox
          - calculation_equation
          - calculation_read_time
          - calculation_rollup
          - calculation_score
          - checkbox
          - date
          - file
          - html
          - number
          - phonenumber
          - radio
          - select
          - text
          - textarea
          - unknown
        helpText:
          type: string
          description: Additional information or guidance about the field.
        label:
          type: string
          description: The user-friendly label for the field.
        name:
          type: string
          description: The unique identifier for the field.
        options:
          type: array
          items:
            $ref: '#/components/schemas/Option'
        optionsUrl:
          type: string
          description: A URL that provides options for the field.
        referencedObjectType:
          type: string
          description: Indicates the type of object that the field references, with accepted values like OWNER.
          enum:
          - ABANDONED_CART
          - ACCEPTANCE_TEST
          - AD
          - AD_ACCOUNT
          - AD_CAMPAIGN
          - AD_GROUP
          - AI_FORECAST
          - ALL_PAGES
          - APPROVAL
          - APPROVAL_STEP
          - ATTRIBUTION
          - AUDIENCE
          - AUTOMATION_JOURNEY
          - AUTOMATION_PLATFORM_FLOW
          - AUTOMATION_PLATFORM_FLOW_ACTION
          - BET_ALERT
          - BET_DELIVERABLE_SERVICE
          - BLOG_LISTING_PAGE
          - BLOG_POST
          - CALL
          - CAMPAIGN
          - CAMPAIGN_BUDGET_ITEM
          - CAMPAIGN_SPEND_ITEM
          - CAMPAIGN_STEP
          - CAMPAIGN_TEMPLATE
          - CAMPAIGN_TEMPLATE_STEP
          - CART
          - CASE_STUDY
          - CHATFLOW
          - CLIP
          - CMS_URL
          - COMBO_EVENT_CONFIGURATION
          - COMMERCE_PAYMENT
          - COMMUNICATION
          - COMPANY
          - CONTACT
          - CONTACT_CREATE_ATTRIBUTION
          - CONTENT
          - CONTENT_AUDIT
          - CONTENT_AUDIT_PAGE
          - CONVERSATION
          - CONVERSATION_INBOX
          - CONVERSATION_SESSION
          - CRM_OBJECTS_DUMMY_TYPE
          - CRM_PIPELINES_DUMMY_TYPE
          - CTA
          - CTA_VARIANT
          - DATA_PRIVACY_CONSENT
          - DATA_SYNC_STATE
          - DEAL
          - DEAL_CREATE_ATTRIBUTION
          - DEAL_REGISTRATION
          - DEAL_SPLIT
          - DISCOUNT
          - DISCOUNT_CODE
          - DISCOUNT_TEMPLATE
          - EMAIL
          - ENGAGEMENT
          - EXPORT
          - EXTERNAL_WEB_URL
          - FEE
          - FEEDBACK_SUBMISSION
          - FEEDBACK_SURVEY
          - FILE_MANAGER_FILE
          - FILE_MANAGER_FOLDER
          - FOLDER
          - FORECAST
          - FORM
          - FORM_SUBMISSION_INBOUNDDB
          - GOAL_TARGET
          - GOAL_TARGET_GROUP
          - GOAL_TEMPLATE
          - GSC_PROPERTY
          - HUB
          - IMPORT
          - INVOICE
          - KEYWORD
          - KNOWLEDGE_ARTICLE
          - LANDING_PAGE
          - LEAD
          - LINE_ITEM
          - MARKETING_CALENDAR
          - MARKETING_CAMPAIGN_UTM
          - MARKETING_EMAIL
          - MARKETING_EVENT
          - MARKETING_EVENT_ATTENDANCE
          - MARKETING_SMS
          - MEDIA_BRIDGE
          - MEETING_EVENT
          - MIC
          - NOTE
          - OBJECT_LIST
          - ORDER
          - OWNER
          - PARTNER_ACCOUNT
          - PARTNER_CLIENT
          - PARTNER_CLIENT_REVENUE
          - PARTNER_SERVICE
          - PAYMENT_LINK
          - PAYMENT_SCHEDULE
          - PAYMENT_SCHEDULE_INSTALLMENT
          - PERMISSIONS_TESTING
          - PLAYBOOK
          - PLAYBOOK_QUESTION
          - PLAYBOOK_SUBMISSION
          - PLAYBOOK_SUBMISSION_ANSWER
          - PLAYLIST
          - PLAYLIST_FOLDER
          - PODCAST_EPISODE
          - PORTAL
          - PORTAL_OBJECT_SYNC_MESSAGE
          - POSTAL_MAIL
          - PRIVACY_SCANNER_COOKIE
          - PRODUCT
          - PRODUCT_OR_FOLDER
          - PROPERTY_INFO
          - PROSPECTING_AGENT_CONTACT_ASSIGNMENT
          - PUBLISHING_TASK
          - QUARANTINED_SUBMISSION
          - QUOTA
          - QUOTE
          - QUOTE_FIELD
          - QUOTE_MODULE
          - QUOTE_MODULE_FIELD
          - QUOTE_TEMPLATE
          - RESTORABLE_CRM_OBJECT
          - ROSTER
          - ROSTER_MEMBER
          - SALES_DOCUMENT
          - SALES_TASK
          - SALES_WORKLOAD
          - SALESFORCE_SYNC_ERROR
          - SCHEDULING_PAGE
          - SCHEMAS_BACKEND_TEST
          - SCORE_CONFIGURATION
          - SEQUENCE
          - SEQUENCE_ENROLLMENT
          - SEQUENCE_STEP
          - SEQUENCE_STEP_ENROLLMENT
          - SERVICE
          - SITE_PAGE
          - SNIPPET
          - SOCIAL_BROADCAST
          - SOCIAL_CHANNEL
          - SOCIAL_POST
          - SOCIAL_PROFILE
          - SOX_PROTECTED_DUMMY_TYPE
          - SOX_PROTECTED_TEST_TYPE
          - SUBMISSION_TAG
          - SUBSCRIPTION
          - TASK
          - TASK_TEMPLATE
          - TAX
          - TEMPLATE
          - TICKET
          - UNKNOWN
          - UNSUBSCRIBE
          - USER
          - VIEW
          - VIEW_BLOCK
          - WEB_INTERACTIVE
        schema:
          description: Defines the structure and constraints of the field.
          oneOf:
          - $ref: '#/components/schemas/IntegerFieldSchema'
          - $ref: '#/components/schemas/LongFieldSchema'
          - $ref: '#/components/schemas/DoubleFieldSchema'
          - $ref: '#/components/schemas/StringFieldSchema'
          - $ref: '#/components/schemas/BooleanFieldSchema'
          - $ref: '#/components/schemas/ArrayFieldSchema'
          - $ref: '#/components/schemas/ObjectFieldSchema'
          - $ref: '#/components/schemas/UnknownFieldSchema'
        type:
          type: string
          description: Specifies the data type of the field, with accepted values like bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, string.
          enum:
          - bool
          - currency_number
          - date
          - datetime
          - enumeration
          - json
          - number
          - object_coordinates
          - phone_number
          - string
          - time_range
        useChirp:
          type: boolean
          description: Specifies whether the field uses the Chirp feature.
    BooleanFieldSchema:
      title: BOOLEAN
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: Specifies the field type as BOOLEAN, indicating that the field can hold a true or false value.
          default: BOOLEAN
          enum:
          - BOOLEAN
      x-hubspot-sub-type-impl: true
    UnknownFieldSchema:
      title: UNKNOWN
      required:
      - type
      type: object
      properties:
        type:
          type: string
          default: UNKNOWN
          enum:
          - UNKNOWN
      x-hubspot-sub-type-impl: true
    ForwardPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      description: Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.
    Option:
      required:
      - description
      - displayOrder
      - doubleData
      - hidden
      - label
      - readOnly
      - value
      type: object
      properties:
        description:
          type: string
          description: A description of the option.
        displayOrder:
          type: integer
          description: The position of the item relative to others in the list.
          format: int32
        doubleData:
          type: number
          description: A numerical value associated with the option.
        hidden:
          type: boolean
          description: Whether the option is displayed in HubSpot's UI.
        label:
          type: string
          description: A user-friendly label that identifies the option.
        readOnly:
          type: boolean
          description: Whether the option is read-only.
        value:
          type: string
          description: The actual value of the option.
      description: A HubSpot property option
    PublicObjectRequestOptions:
      required:
      - properties
      type: object
      properties:
        properties:
          type: array
          items:
            type: string
    PublicFieldTypeDefinition:
      required:
      - name
      - options
      - type
      type: object
      properties:
        description:
          type: string
          description: A detailed explanation of the field's purpose.
        fieldType:
          type: string
          description: The type of field, with accepted values including booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, and textarea.
          enum:
          - booleancheckbox
          - calculation_equation
          - checkbox
          - date
          - file
          - html
          - number
          - phonenumber
          - radio
          - select
          - text
          - textarea
        helpText:
          type: string
          description: Additional information or guidance about the field.
        label:
          type: string
          description: A user-friendly name for the field.
        name:
          type: string
          description: The internal name used to identify the field.
        options:
          type: array
          items:
            $ref: '#/components/schemas/PublicOption'
        optionsUrl:
          type: string
          description: A URL that provides options for the field.
        referencedObjectType:
          type: string
          description: The type of object that the field references, with accepted values including OWNER.
          enum:
          - OWNER
        type:
          type: string
          description: The data type of the field, with accepted values including bool, date, datetime, enumeration, json, number, object_coordinates, phone_number, and string.
          enum:
          - bool
          - date
          - datetime
          - enumeration
          - json
          - number
          - object_coordinates
          - phone_number
          - string
    CollectionResponsePublicActionDefinitionForwardPaging:
      required:
      - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicActionDefinition'
    PublicInputFieldDefinition:
      required:
      - isRequired
      - typeDefinition
      type: object
      properties:
        isRequired:
          type: boolean
          description: Indicates whether the input field is mandatory.
        supportedValueTypes:
          type: array
          items:
            type: string
            enum:
            - STATIC_VALUE
            - OBJECT_PROPERTY
        typeDefinition:
          $ref: '#/components/schemas/PublicFieldTypeDefinition'
    ArrayFieldSchema:
      title: ARRAY
      required:
      - items
      - type
      type: object
      properties:
        items:
          description: Defines the type of elements contained within the array, which can be an integer, long, double, string, boolean, another array, or an object.
          oneOf:
          - $ref: '#/components/schemas/IntegerFieldSchema'
          - $ref: '#/components/schemas/LongFieldSchema'
          - $ref: '#/components/schemas/DoubleFieldSchema'
          - $ref: '#/components/schemas/StringFieldSchema'
          - $ref: '#/components/schemas/BooleanFieldSchema'
          - $ref: '#/components/schemas/ArrayFieldSchema'
          - $ref: '#/components/schemas/ObjectFieldSchema'
          - $ref: '#/components/schemas/UnknownFieldSchema'
        type:
          type: string
          description: Specifies that the field is of type 'ARRAY'.
          default: ARRAY
          enum:
          - ARRAY
      x-hubspot-sub-type-impl: true
    StringFieldSchema:
      title: STRING
      required:
      - type
      type: object
      properties:
        format:
          type: string
          description: 'Specifies the format of the string, with accepted values: DATE, DATE_TIME, OBJECT_COORDINATE, TIME, URI.'
          enum:
          - DATE
          - DATE_TIME
          - MONTH_AND_DAY
          - OBJECT_COORDINATE
          - TIME
          - URI
        type:
          type: string
          description: Indicates that the type is a string, with the default value being STRING.
          default: STRING
          enum:
          - STRING
      x-hubspot-sub-type-impl: true
    OutputFieldDefinition:
      required:
      - typeDefinition
      type: object
      properties:
        typeDefinition:
          $ref: '#/components/schemas/FieldTypeDefinition'
    PublicActionLabels:
      required:
      - actionName
      type: object
      properties:
        actionCardContent:
          type: string
          description: Content displayed on the action card.
        actionDescription:
          type: string
          description: A description of what the action does.
        actionName:
          type: string
          description: The name of the action.
        appDisplayName:
          type: string
          description: The display name of the application associated with the action.
        executionRules:
          type: object
          additionalProperties:
            type: string
          description: Rules that govern the execution of the action.
        inputFieldDescriptions:
          type: object
          additionalProperties:
            type: string
          description: Descriptions for each input field.
        inputFieldLabels:
          type: object
          additionalProperties:
            type: string
          description: Labels for the input fields.
        inputFieldOptionLabels:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
          description: Labels for the options available in input fields.
        outputFieldLabels:
          type: object
          additionalProperties:
            type: string
          description: Labels for the output fields.
    PublicActionDefinitionRequiresObjectResponse:
      required:
      - requiresObject
      type: object
      properties:
        requiresObject:
          type: boolean
          description: Indicates whether a custom action definition requires an object.
    ActionResponseWithResultsSubscriptionDefinition:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: The date and time when the operation was completed.
          format: date-time
        errors:
          type: array
          description: An array of errors that occurred during the operation.
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
          description: A collection of related links associated with the operation.
        numErrors:
          type: integer
          description: The number of errors encountered during the operation.
          format: int32
        requestedAt:
          type: string
          description: The date and time when the operation was requested.
          format: date-time
        results:
          type: array
          description: An array containing the results of the operation.
          items:
            $ref: '#/components/schemas/SubscriptionDefinition'
        startedAt:
          type: string
          description: The date and time when the operation started.
          format: date-time
        status:
          type: string
          description: The current status of the operation, which can be PENDING, PROCESSING, CANCELED, or COMPLETE.
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    SubscriptionDefinition:
      required:
      - createdAt
      - description
      - id
      - isActive
      - isDefault
      - isInternal
      - name
      - updatedAt
      type: object
      properties:
        businessUnitId:
          type: integer
          description: The ID of the business unit associated with the subscription.
          format: int64
        communicationMethod:
          type: string
          description: The method of communication for the subscription.
        createdAt:
          type: string
          description: The date and time when the subscription was created.
          format: date-time
        description:
          type: string
          description: A description of the subscription.
        id:
          type: string
          description: The unique identifier for the subscription.
        isActive:
          type: boolean
          description: Indicates whether the subscription is active.
        isDefault:
          type: boolean
          description: Indicates whether the subscription is the default option.
        isInternal:
          type: boolean
          description: Indicates whether the subscription is internal.
        name:
          type: string
          description: The name of the subscription.
        purpose:
          type: string
          description: The purpose of the subscription.
        subscriptionTranslations:
          type: array
          description: A list of translations associated with the subscription.
          items:
            $ref: '#/components/schemas/PublicSubscriptionTranslation'
        updatedAt:
          type: string
          description: The date and time when the subscription was last updated.
          format: date-time
    StandardError:
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
      properties:
        category:
          type: string
          description: A string that categorizes the type of error.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: An object containing additional context about the error condition, with keys as context names and values as arrays of strings.
        errors:
          type: array
          description: An array of ErrorDetail objects providing further information about the error.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        id:
          type: string
          description: A string representing the unique identifier of the error.
        links:
          type: object
          additionalProperties:
            type: string
          description: An object mapping link names to associated URIs that contain documentation about the error or recommended remediation steps.
        message:
          type: string
          description: A string containing a human-readable message describing the error.
        status:
          type: string
          description: A string indicating the status of the error.
        subCategory:
          type: object
          properties: {}
          description: An object providing more specific categorization of the error.
      description: Ye olde error
    PublicStatus:
      required:
      - channel
      - source
      - status
      - subscriberIdString
      - subscriptionId
      - timestamp
      type: object
      properties:
        businessUnitId:
          type: integer
          description: The ID of the business unit associated with the subscription.
          format: int64
        channel:
          type: string
          description: The type of communication channel, with 'EMAIL' as the only supported option.
          enum:
          - EMAIL
        legalBasis:
          type: string
          description: The legal basis for communication, with options including 'LEGITIMATE_INTEREST_PQL', 'LEGITIMATE_INTEREST_CLIENT', 'PERFORMANCE_OF_CONTRACT', 'CONSENT_WITH_NOTICE', 'NON_GDPR', 'PROCESS_AND_STORE', and 'LEGITIMATE_INTEREST_OTHER'.
          enum:
          - CONSENT_WITH_NOTICE
          - LEGITIMATE_INTEREST_CLIENT
          - LEGITIMATE_INTEREST_OTHER
          - LEGITIMATE_INTEREST_PQL
          - NON_GDPR
          - PERFORMANCE_OF_CONTRACT
          - PROCESS_AND_STORE
        legalBasisExplanation:
          type: string
          description: An explanation for the legal basis used for communication.
        setStatusSuccessReason:
          type: string
          description: The reason for the successful change in subscription status, such as 'RESUBSCRIBE_OCCURRED' or 'NO_STATUS_CHANGE'.
          enum:
          - NO_STATUS_CHANGE
          - REQUESTED_CHANGE_OCCURRED
          - RESUBSCRIBE_OCCURRED
          - UNSUBSCRIBE_FROM_ALL_OCCURRED
        source:
          type: string
          description: The origin or method through which the subscription status was set.
        status:
          type: string
          description: The current subscription status of the contact, which can be 'SUBSCRIBED', 'UNSUBSCRIBED', or 'NOT_SPECIFIED'.
          enum:
          - NOT_SPECIFIED
          - SUBSCRIBED
          - UNSUBSCRIBED
        subscriberIdString:
          type: string
          description: The contact's email address.
        subscriptionId:
          type: integer
          description: The unique identifier of the subscription.
          format: int64
        subscriptionName:
          type: string
          description: The name of the subscription.
        timestamp:
          type: string
          description: The date and time when the subscription status was last updated.
          format: date-time
    PublicSubscriptionTranslation:
      required:
      - createdAt
      - description
      - languageCode
      - name
      - subscriptionId
      - updatedAt
      type: object
      properties:
        createdAt:
          type: integer
          description: The timestamp indicating when the subscription translation was created.
          format: int64
        description:
          type: string
          description: A text description of the subscription translation.
        languageCode:
          type: string
          description: The code representing the language of the subscription translation.
        name:
          type: string
          description: The name of the subscription translation.
        subscriptionId:
          type: integer
          description: The unique identifier for the subscription associated with the translation.
          format: int64
        updatedAt:
          type: integer
          description: The timestamp indicating when the subscription translation was last updated.
          format: int64
    ActionResponseWithResultsPublicStatus:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          description: The date and time when the operation was completed.
          format: date-time
        errors:
          type: array
          description: A list of errors that occurred during the operation.
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
          description: Contains URLs related to the response, such as documentation or resources.
        numErrors:
          type: integer
          description: The number of errors that occurred during the operation.
          format: int32
        requestedAt:
          type: string
          description: The date and time when the request was made.
          format: date-time
        results:
          type: array
          description: An array of results from the operation.
          items:
            $ref: '#/components/schemas/PublicStatus'
        startedAt:
          type: string
          description: The date and time when the operation started.
          format: date-time
        status:
          type: string
          description: 'Indicates the current status of the operation, with possible values: PENDING, PROCESSING, CANCELED, COMPLETE.'
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            automation: ''
            developers-read: ''
            developers-write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-refined-from:
- hubspot-automation-actions-v4-openapi.json
- hubspot-communication-preferences-subscriptions-openapi.json
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
