openapi: 3.2.0
info:
  title: Conversations Inbox & Messages Actors API
  description: Basepom for all HubSpot Projects
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
  x-hubspot-related-documentation:
  - name: Inbox & Messages Guide
    url: https://developers.hubspot.com/docs/guides/api/conversations/inbox-and-messages
servers:
- url: https://api.hubapi.com
tags:
- name: Actors
paths:
  /conversations/v3/conversations/actors/batch/read:
    post:
      tags:
      - Actors
      summary: Get a group of actors
      description: Resolve a set of `ActorId`s to the underlying actors/participants.
      operationId: post-/conversations/v3/conversations/actors/batch/read
      parameters:
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicActor'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicActorWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - conversations.read
  /conversations/v3/conversations/actors/{actorId}:
    get:
      tags:
      - Actors
      summary: Get a single actor
      description: Retrieve details of a single actor using the actor ID.
      operationId: get-/conversations/v3/conversations/actors/{actorId}
      parameters:
      - name: actorId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: property
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicActor'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - conversations.read
components:
  schemas:
    VisitorActor:
      required:
      - id
      - type
      type: object
      properties:
        avatar:
          type: string
        email:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          default: VISITOR
          enum:
          - VISITOR
      x-hubspot-sub-type-impl: true
    SystemActor:
      required:
      - id
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          default: SYSTEM
          enum:
          - SYSTEM
      x-hubspot-sub-type-impl: true
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    LlmActor:
      required:
      - id
      - type
      type: object
      properties:
        avatar:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          default: LLM
          enum:
          - LLM
      x-hubspot-sub-type-impl: true
    BatchResponsePublicActorWithErrors:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          format: date-time
        errors:
          type: array
          items:
            $ref: '#/components/schemas/StandardError'
        links:
          type: object
          additionalProperties:
            type: string
        numErrors:
          type: integer
          format: int32
        requestedAt:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicActor'
        startedAt:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    AgentActor:
      required:
      - id
      - type
      type: object
      properties:
        avatar:
          type: string
        email:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          default: AGENT
          enum:
          - AGENT
      x-hubspot-sub-type-impl: true
    BotActor:
      required:
      - id
      - type
      type: object
      properties:
        avatar:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          default: BOT
          enum:
          - BOT
      x-hubspot-sub-type-impl: true
    PublicActor:
      properties: {}
      oneOf:
      - $ref: '#/components/schemas/AgentActor'
      - $ref: '#/components/schemas/BotActor'
      - $ref: '#/components/schemas/IntegratorActor'
      - $ref: '#/components/schemas/SystemActor'
      - $ref: '#/components/schemas/VisitorActor'
      - $ref: '#/components/schemas/EmailActor'
      - $ref: '#/components/schemas/LlmActor'
    BatchResponsePublicActor:
      required:
      - completedAt
      - results
      - startedAt
      - status
      type: object
      properties:
        completedAt:
          type: string
          format: date-time
        links:
          type: object
          additionalProperties:
            type: string
        requestedAt:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicActor'
        startedAt:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - CANCELED
          - COMPLETE
          - PENDING
          - PROCESSING
    EmailActor:
      required:
      - email
      - id
      - type
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        type:
          type: string
          default: EMAIL
          enum:
          - EMAIL
      x-hubspot-sub-type-impl: true
    StandardError:
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      type: object
      properties:
        category:
          type: string
          description: The main category of the error.
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
        errors:
          type: array
          description: The detailed error objects.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        id:
          type: string
          description: A unique ID for the error instance.
        links:
          type: object
          additionalProperties:
            type: string
          description: URLs linking to documentation or resources associated with the error.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        status:
          type: string
          description: The HTTP status code associated with the error.
        subCategory:
          type: object
          properties: {}
          description: A specific category that contains more specific detail about the error
      description: Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request.
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    BatchInputString:
      required:
      - inputs
      type: object
      properties:
        inputs:
          type: array
          items:
            type: string
    IntegratorActor:
      required:
      - id
      - name
      - type
      type: object
      properties:
        avatar:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
          default: INTEGRATOR
          enum:
          - INTEGRATOR
      x-hubspot-sub-type-impl: true
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            conversations.read: ''
            conversations.write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-product-tier-requirements:
  marketing: FREE
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
