openapi: 3.2.0
info:
  title: Marketing Campaigns Public Assets API
  description: Basepom for all HubSpot Projects
  version: 2026-03
  x-hubspot-product-tier-requirements:
    marketing: PROFESSIONAL
    sales: FREE
    service: FREE
    cms: FREE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
servers:
- url: https://api.hubapi.com
tags:
- name: Assets
paths:
  /marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}:
    get:
      tags:
      - Assets
      summary: List assets
      description: 'This endpoint lists all assets of the campaign by asset type. The assetType parameter is required, and each request can only fetch assets of a single type.

        Asset metrics can also be fetched along with the assets; they are available only if start and end dates are provided.'
      operationId: get-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}
      parameters:
      - name: assetType
        in: path
        description: 'The type of asset to fetch, required

          Example: MARKETING_EVENT'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: after
        in: query
        description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: 'End date to fetch asset metrics, formatted as YYYY-MM-DD. This date is used to fetch the metrics associated with the assets for a specified period.  If not provided, no asset metrics will be fetched.

          Example: 2024-01-27'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of results to display per page.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startDate
        in: query
        description: 'Start date to fetch asset metrics, formatted as YYYY-MM-DD. This date is used to fetch the metrics associated with the assets for a specified period.  If not provided, no asset metrics will be fetched.

          Example: 2023-01-20'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicCampaignAssetForwardPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.read
  /marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}:
    put:
      tags:
      - Assets
      summary: Add asset association
      description: 'Associate a specified asset with a campaign. Using the API, you can create associations for the following asset types: ads, blog posts, calls, case studies, CTAs, CTAs (legacy), external website pages, feedback surveys, forms, files, knowledge base articles, landing pages, marketing email, marketing events, meetings, playbooks, podcast episodes, sales documents, sales emails, sequences, SMS, social posts, static lists, videos, website pages, and workflows.


        For other asset types, it is recommended to manage your associations directly in the campaign tool in HubSpot.'
      operationId: put-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}
      parameters:
      - name: assetId
        in: path
        description: 'The id of asset to disassociate, required

          Example: 154543'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: assetType
        in: path
        description: 'The type of asset to disassociate, required

          Example: OBJECT_LIST'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.write
    delete:
      tags:
      - Assets
      summary: Remove asset association
      description: 'Disassociate a specified asset from a campaign. Using the API, you can remove associations for the following asset types: ads, blog posts, calls, case studies, CTAs, CTAs (legacy), external website pages, feedback surveys, forms, files, knowledge base articles, landing pages, marketing email, marketing events, meetings, playbooks, podcast episodes, sales documents, sales emails, sequences, SMS, social posts, static lists, videos, website pages, and workflows.


        For other asset types, it is recommended to manage your associations directly in the campaign tool in HubSpot.'
      operationId: delete-/marketing/campaigns/2026-03/{campaignGuid}/assets/{assetType}/{assetId}
      parameters:
      - name: assetId
        in: path
        description: 'The id of asset to disassociate, required

          Example: 154543'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: assetType
        in: path
        description: 'The type of asset to disassociate, required

          Example: OBJECT_LIST'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignGuid
        in: path
        description: 'The UUID of the campaign, required

          Example: 9dbec438-53e2-4b28-8c0f-38f56574a6e8'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - marketing.campaigns.write
components:
  schemas:
    ErrorDetail:
      required:
      - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    CollectionResponsePublicCampaignAssetForwardPaging:
      required:
      - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          type: array
          description: An array of public campaign assets. Each item in the array is a reference to a PublicCampaignAsset object.
          items:
            $ref: '#/components/schemas/PublicCampaignAsset'
    ForwardPaging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      description: Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.
    PublicCampaignAsset:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the campaign asset.
        metrics:
          type: object
          additionalProperties:
            type: number
          description: A collection of metrics associated with the campaign asset, represented as key-value pairs.
        name:
          type: string
          description: The name of the campaign asset.
    Error:
      required:
      - category
      - correlationId
      - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    NextPage:
      required:
      - after
      type: object
      properties:
        after:
          type: string
          description: A string token used as a cursor to retrieve the next page of results.
        link:
          type: string
          description: A string URL that provides the link to the next page of results.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            marketing.campaigns.read: ''
            marketing.campaigns.revenue.read: ''
            marketing.campaigns.write: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-product-tier-requirements:
  marketing: PROFESSIONAL
  sales: FREE
  service: FREE
  cms: FREE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
