openapi: 3.2.0
info:
  title: Hubspot Batch API
  x-refined-note:
  - x-hubspot-api-use-case differs across the merged source definitions and was not carried
  - x-hubspot-introduction differs across the merged source definitions and was not carried
  - x-hubspot-product-tier-requirements differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Batch across 55 of this provider''s published API definitions: hubspot-cms-authors-openapi.json, hubspot-cms-media-bridge-openapi.json, hubspot-cms-pages-openapi.json, hubspot-cms-posts-openapi.json, hubspot-cms-tags-openapi.json, hubspot-commerce-price-books-openapi.json, hubspot-communication-preferences-subscriptions-openapi.json, hubspot-crm-appointments-openapi.json, hubspot-crm-associations-openapi.json, hubspot-crm-calls-openapi.json, hubspot-crm-carts-openapi.json…'
servers:
- url: https://api.hubapi.com
tags:
- name: Batch
paths:
  /cms/blogs/2026-09/authors/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete a batch of Blog Authors
      description: Delete the Blog Author objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/authors/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/batch/create:
    post:
      tags:
      - Batch
      summary: Create a batch of Blog Authors
      description: Create the Blog Author objects detailed in the request body.
      operationId: post-/cms/blogs/2026-09/authors/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputBlogAuthor'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/batch/read:
    post:
      tags:
      - Batch
      summary: Retrieve a batch of Blog Authors
      description: Retrieve the Blog Author objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/authors/batch/read_readBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/authors/batch/update:
    post:
      tags:
      - Batch
      summary: Update a batch of Blog Authors
      description: Update the Blog Author objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/authors/batch/update_updateBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthor'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogAuthorWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/batch/archive:
    post:
      tags:
      - Batch
      summary: Batch archive properties
      description: Archive multiple properties for a specified object type within a given app. This endpoint is useful for managing large sets of properties that are no longer needed or should be hidden from active use. It requires specifying the app ID and object type in the path parameters.
      operationId: post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/archive
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPropertyName'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/batch/create:
    post:
      tags:
      - Batch
      summary: Batch create properties
      description: Create multiple properties in a batch for a specified object type within a given app. This endpoint is useful for efficiently setting up multiple properties at once, reducing the need for multiple individual API calls.
      operationId: post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/create
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPropertyCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseProperty'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePropertyWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-write
    servers:
    - url: https://api.hubapi.com
  /media-bridge/2026-09/{appId}/properties/{objectType}/batch/read:
    post:
      tags:
      - Batch
      summary: Batch read properties
      description: Retrieve a batch of properties for a specified object type within a given app. This endpoint is useful for fetching multiple properties efficiently in a single request, especially when dealing with large datasets or when specific properties are needed for processing.
      operationId: post-/media-bridge/2026-09/{appId}/properties/{objectType}/batch/read
      parameters:
      - name: appId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputPropertyName'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseProperty'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePropertyWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - developers-read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete landing pages
      description: 'Delete landing pages specified by ID in the request body. Note: this is not the same as the dashboard `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to `true`.'
      operationId: post-/cms/pages/2026-09/landing-pages/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/batch/create:
    post:
      tags:
      - Batch
      summary: Create landing pages
      description: Create a batch of landing pages as detailed in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputPage'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/batch/read:
    post:
      tags:
      - Batch
      summary: Retrieve landing pages
      description: Retrieve a batch of landing pages as specified in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/batch/read_readBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - content.landing_pages.read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/batch/update:
    post:
      tags:
      - Batch
      summary: Update landing pages
      description: Update a batch of landing pages as specified in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/batch/update_updateBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/folders/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete folders
      description: Delete a batch of folders as specified in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/folders/batch/archive_archiveFolders
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/folders/batch/create:
    post:
      tags:
      - Batch
      summary: Create folders
      description: Create a batch of folders as detailed in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/folders/batch/create_createFolders
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputContentFolder'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolder'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolderWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/landing-pages/folders/batch/update:
    post:
      tags:
      - Batch
      summary: Update folders
      description: Update a batch of landing page folders as specified in the request body.
      operationId: post-/cms/pages/2026-09/landing-pages/folders/batch/update_updateFolders
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolder'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseContentFolderWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content.landing_pages.write
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete website pages
      description: Delete a batch of website pages as specified in the request body. Note that this is not the same as the dashboard `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to `true`.
      operationId: post-/cms/pages/2026-09/site-pages/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/batch/create:
    post:
      tags:
      - Batch
      summary: Create website pages
      description: Create a batch of website pages as specified in the request body.
      operationId: post-/cms/pages/2026-09/site-pages/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputPage'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/batch/read:
    post:
      tags:
      - Batch
      summary: Retrieve website pages
      description: Retrieve a batch of website pages as specified in the request body.
      operationId: post-/cms/pages/2026-09/site-pages/batch/read_readBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
      - oauth2:
        - sitepages-read
    servers:
    - url: https://api.hubapi.com
  /cms/pages/2026-09/site-pages/batch/update:
    post:
      tags:
      - Batch
      summary: Update website pages
      description: Update a batch of website pages as specified in the request body.
      operationId: post-/cms/pages/2026-09/site-pages/batch/update_updateBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePage'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePageWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete a batch of blog posts
      description: 'Delete a blog post by ID.

        Note: This is not the same as the in-app `archive` function. To perform a dashboard `archive` send an normal update with the `archivedInDashboard` field set to `true`.'
      operationId: post-/cms/blogs/2026-09/posts/batch/archive_archive
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/batch/create:
    post:
      tags:
      - Batch
      summary: Create a batch of blog posts
      description: Create a batch of blog posts, specifying their content in the request body.
      operationId: post-/cms/blogs/2026-09/posts/batch/create_create
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputBlogPost'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/batch/read:
    post:
      tags:
      - Batch
      summary: Retrieve a batch of Blog Posts
      description: Retrieve a batch of blog posts by ID. identified in the request body.
      operationId: post-/cms/blogs/2026-09/posts/batch/read_read
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/posts/batch/update:
    post:
      tags:
      - Batch
      summary: Update a batch of Blog Posts
      description: Update a batch of blog posts.
      operationId: post-/cms/blogs/2026-09/posts/batch/update_update
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPost'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseBlogPostWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/batch/archive:
    post:
      tags:
      - Batch
      summary: Delete a batch of Blog Tags
      description: Delete the Blog Tag objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/tags/batch/archive_archiveBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/batch/create:
    post:
      tags:
      - Batch
      summary: Create a batch of Blog Tags
      description: Create the Blog Tag objects detailed in the request body.
      operationId: post-/cms/blogs/2026-09/tags/batch/create_createBatch
      parameters: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputTag'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTag'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTagWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/batch/read:
    post:
      tags:
      - Batch
      summary: Retrieve a batch of Blog Tags
      description: Retrieve the Blog Tag objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/tags/batch/read_readBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputString'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTag'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTagWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /cms/blogs/2026-09/tags/batch/update:
    post:
      tags:
      - Batch
      summary: Update a batch of Blog Tags
      description: Update the Blog Tag objects identified in the request body.
      operationId: post-/cms/blogs/2026-09/tags/batch/update_updateBatch
      parameters:
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BatchInputJsonNode'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTag'
        '207':
          description: multiple statuses
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchResponseTagWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - content
    servers:
    - url: https://api.hubapi.com
  /commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/archive:
    post:
      tags:
      - Batch
      summary: Batch archive price book items
      description: Archive multiple items within a specified price book in a single batch operation. This endpoint is useful for managing large sets of price book items that need to be archived simultaneously, streamlining the process and reducing the number of individual requests.
      operationId: post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/archive_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/archive
      parameters:
      - name: priceBookId
        in: path
        description: The unique identifier of the price book containing the items to be archived.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - price-book-write
    servers:
    - url: https://api.hubapi.com
  /commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/create:
    post:
      tags:
      - Batch
      summary: Batch create price book items
      description: Create multiple items in a specified price book in a single batch operation. This endpoint is useful for efficiently adding a large number of items to a price book, reducing the need for multiple individual requests. The operation returns a batch response indicating the success or failure of each item creation.
      operationId: post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/create_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/create
      parameters:
      - name: priceBookId
        in: path
        description: The unique identifier of the price book to which the items will be added.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPriceBookAddProductRequest'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePriceBookItemResponse'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePriceBookItemResponseWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - inbounddb-product-library-read
        - price-book-write
    servers:
    - url: https://api.hubapi.com
  /commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/update:
    post:
      tags:
      - Batch
      summary: Batch update price book items
      description: Update multiple items in a specified price book in a single batch operation. This endpoint allows for efficient updates of price book items, making it useful for managing large sets of data within a price book. The operation returns a batch response indicating the success or failure of each item update.
      operationId: post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/update_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/update
      parameters:
      - name: priceBookId
        in: path
        description: The unique identifier of the price book containing the items to update.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPriceBookItemBatchUpdateInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePriceBookItemResponse'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePriceBookItemResponseWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - price-book-write
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/statuses/batch/read:
    post:
      tags:
      - Batch
      summary: Batch retrieve subscription statuses
      description: Batch retrieve subscription statuses for a set of contacts.
      operationId: post-/communication-preferences/2026-09/statuses/batch/read
      parameters:
      - name: channel
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - EMAIL
      - name: businessUnitId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicStatusBulkResponse'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicStatusBulkResponseWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.statuses.batch.read
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/statuses/batch/unsubscribe-all:
    post:
      tags:
      - Batch
      summary: Batch unsubscribe contacts from all subscriptions
      description: Unsubscribe a set of contacts from all email subscriptions.
      operationId: post-/communication-preferences/2026-09/statuses/batch/unsubscribe-all
      parameters:
      - name: channel
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - EMAIL
      - name: businessUnitId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: verbose
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicBulkOptOutFromAllResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.statuses.batch.write
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/statuses/batch/unsubscribe-all/read:
    post:
      tags:
      - Batch
      summary: Batch retrieve contacts who have opted out of all communications
      description: Checks whether a set of contacts have opted out of all communications.
      operationId: post-/communication-preferences/2026-09/statuses/batch/unsubscribe-all/read
      parameters:
      - name: channel
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - EMAIL
      - name: businessUnitId
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputString_2'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicWideStatusBulkResponse'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicWideStatusBulkResponseWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.statuses.batch.read
    servers:
    - url: https://api.hubapi.com
  /communication-preferences/2026-09/statuses/batch/write:
    post:
      tags:
      - Batch
      summary: Batch update subscription status
      description: Update the subscription status for a set of contacts.
      operationId: post-/communication-preferences/2026-09/statuses/batch/write
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicStatusRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicStatus'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - communication_preferences.statuses.batch.write
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}:
    put:
      tags:
      - Batch
      summary: Put /crm/objects/2026 03/{from object type}/{from object…
      description: ''
      operationId: put-/crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}_/crm/objects/2026-03/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}
      parameters:
      - name: fromObjectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fromObjectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectId
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicDefaultAssociation'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
      x-summary-source: derived
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/batch/archive:
    post:
      tags:
      - Batch
      summary: Archive a batch of appointments by ID
      description: Archive multiple appointments using their IDs.
      operationId: post-/crm/objects/2026-03/{objectType}/batch/archive_/crm/objects/v3/{objectType}/batch/archive
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectId_2'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/batch/create:
    post:
      tags:
      - Batch
      summary: Create a batch of appointments
      description: Create multiple appointments in a single request.
      operationId: post-/crm/objects/2026-03/{objectType}/batch/create_/crm/objects/v3/{objectType}/batch/create
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/batch/read:
    post:
      tags:
      - Batch
      summary: Read a batch of appointments by internal ID, or unique property values
      description: Retrieve records by record ID or include the `idProperty` parameter to retrieve records by a custom unique value property.
      operationId: post-/crm/objects/2026-03/{objectType}/batch/read_/crm/objects/v3/{objectType}/batch/read
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: archived
        in: query
        description: Whether to return only results that have been archived.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/batch/update:
    post:
      tags:
      - Batch
      summary: Update a batch of appointments by internal ID, or unique property values
      description: ''
      operationId: post-/crm/objects/2026-03/{objectType}/batch/update_/crm/objects/v3/{objectType}/batch/update
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/objects/2026-03/{objectType}/batch/upsert:
    post:
      tags:
      - Batch
      summary: Create or update a batch of appointments by unique property values
      description: Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.
      operationId: post-/crm/objects/2026-03/{objectType}/batch/upsert_/crm/objects/v3/{objectType}/batch/upsert
      parameters:
      - name: objectType
        in: path
        description: ''
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicUpsertObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - oauth-access
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      - oauth2:
        - oauth
      x-hubspot-user-level-auth:
        internalOnly: false
    servers:
    - url: https://api.hubapi.com
  /crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/archive:
    post:
      tags:
      - Batch
      summary: Remove associations
      description: Batch delete associations for objects
      operationId: post-/crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/archive_/crm/associations/2025-09/{fromObjectType}/{toObjectType}/batch/archive
      parameters:
      - name: fromObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicAssociationMultiArchive'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/associate/default:
    post:
      tags:
      - Batch
      summary: Create Default Associations
      description: Create the default (most generic) association type between two object types
      operationId: post-/crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/associate/default_/crm/associations/2025-09/{fromObjectType}/{toObjectType}/batch/associate/default
      parameters:
      - name: fromObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicDefaultAssociationMultiPost'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponsePublicDefaultAssociation_2'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/create:
    post:
      tags:
      - Batch
      summary: Associate records (labelled)
      description: Batch create associations for objects
      operationId: post-/crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/create_/crm/associations/2025-09/{fromObjectType}/{toObjectType}/batch/create
      parameters:
      - name: fromObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicAssociationMultiPost'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseLabelsBetweenObjectPair'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseLabelsBetweenObjectPairWithErrors'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
      - oauth2:
        - crm.objects.contacts.read
      - oauth2:
        - crm.objects.appointments.sensitive.write.v2
      - oauth2:
        - crm.objects.invoices.read
      - oauth2:
        - crm.objects.projects.highly_sensitive.read
      - oauth2:
        - tickets.sensitive.v2
      - oauth2:
        - crm.objects.custom.write
      - oauth2:
        - crm.objects.deals.write
      - oauth2:
        - e-commerce
      - oauth2:
        - crm.objects.appointments.read
      - oauth2:
        - crm.objects.companies.sensitive.write.v2
      - oauth2:
        - crm.objects.projects.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.goals.write
      - oauth2:
        - crm.objects.line_items.write
      - oauth2:
        - crm.objects.projects.sensitive.read
      - oauth2:
        - crm.objects.contacts.write
      - oauth2:
        - crm.objects.goals.read
      - oauth2:
        - crm.objects.line_items.read
      - oauth2:
        - crm.objects.partner-clients.write
      - oauth2:
        - crm.objects.projects.write
      - oauth2:
        - crm.objects.deals.sensitive.read.v2
      - oauth2:
        - crm.objects.projects.sensitive.write
      - oauth2:
        - crm.objects.quotes.write
      - oauth2:
        - tickets.highly_sensitive.v2
      - oauth2:
        - crm.objects.leads.read
      - oauth2:
        - crm.objects.leads.write
      - oauth2:
        - crm.objects.carts.read
      - oauth2:
        - crm.objects.emails.read
      - oauth2:
        - crm.objects.quotes.read
      - oauth2:
        - crm.objects.courses.write
      - oauth2:
        - crm.objects.partner-clients.read
      - oauth2:
        - crm.objects.notes.read
      - oauth2:
        - crm.objects.courses.read
      - oauth2:
        - crm.objects.listings.read
      - oauth2:
        - crm.objects.contacts.sensitive.read.v2
      - oauth2:
        - crm.objects.products.read
      x-hubspot-rate-limit-exemptions:
      - ten-secondly
    servers:
    - url: https://api.hubapi.com
  /crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/labels/archive:
    post:
      tags:
      - Batch
      summary: Delete Specific Labels
      description: Batch delete specific association labels for objects. Deleting an unlabeled association will also delete all labeled associations between those two objects
      operationId: post-/crm/associations/2026-03/{fromObjectType}/{toObjectType}/batch/labels/archive_/crm/associations/2025-09/{fromObjectType}/{toObjectType}/batch/labels/archive
      parameters:
      - name: fromObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: toObjectType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputPublicAssociationMultiPost'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
      - oauth2:
        - crm.objects.deals.read
      - oauth2:
        - crm.objects.subscriptions.read
      - oauth2:
        - crm.objects.services.read
      - oauth2:
        - crm.objects.tickets.sensitive.read
      - oauth2:
        - crm.objects.orders.read
      - oauth2:
        - crm.objects.listings.write
      - oauth2:
        - crm.objects.custom.read
      - oauth2:
        - crm.objects.companies.write
      - oauth2:
        - crm.objects.tasks.read
      - oauth2:
        - crm.objects.custom.sensitive.write.v2
      - oauth2:
        - crm.objects.custom.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.read
      - oauth2:
        - crm.objects.contacts.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.appointments.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.highly_sensitive.read
      - oauth2:
        - crm.objects.companies.sensitive.read.v2
      - oauth2:
        - crm.objects.tickets.sensitive.write
      - oauth2:
        - media_bridge.read
      - oauth2:
        - crm.objects.deals.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.contacts.highly_sensitive.write.v2
      - oauth2:
        - crm.objects.companies.highly_sensitive.read.v2
      - oauth2:
        - crm.objects.commercepayments.write
      - oauth2:
        - crm.objects.invoices.write
      - oauth2:
        - crm.objects.contacts.sensitive.write.v2
      - oauth2:
        - crm.objects.users.write
      - oauth2:
        - crm.objects.calls.read
      - oauth2:
        - crm.objects.meetings.read
      - oauth2:
        - crm.objects.custom.sensitive.read.v2
      - oauth2:
        - crm.objects.users.read
      - oauth2:
        - crm.objects.partner-services.read
      - oauth2:
        - crm.objects.orders.write
      - oauth2:
        - crm.objects.partner-services.write
      - oauth2:
        - crm.objects.appointments.write
      - oauth2:
        - crm.objects.projects.highly_sensitive.write
      - oauth2:
        - crm.objects.carts.write
      - oauth2:
        - crm.objects.tickets.highly_sensitive.write
      - oauth2:
        - tickets
      - oauth2:
        - crm.objects.commercepayments.read
      - oauth2:
        - crm.objects.products.write
      - oauth2:
        - crm.objects.services.write
      - oauth2:
        - crm.objects.subscriptions.write
      - oauth2:
        - crm.objects.deals.sensitive.write.v2
[...]
